<div class="tab-pane fade show active" id="antenatal" role="tabpanel" aria-labelledby="antenatal-tab">
    
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
              <div class="reges-form-main-container">
                    <div class="form-row my-2">
                        <div class="form-group col-md-2">
                            <label class="birthreg" for="dateOfRegistration" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.dor.invalid }">{{'DateOfReg' | translate }}</label><span class="manto"> *</span>
                            <!--<input id="dateOfRegistration" name="dor" class="form-control flatpickr flatpickr-input active" type="text"
                                placeholder="Select Date.." formControlName = "dor" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.dor.invalid }"> -->
                                <ng2-flatpickr id="dateOfRegistration" name="dor" class="form-control flatpickr flatpickr-input active" #dorPicker [config]="startOptions" placeholder="Select Date.." formControlName = "dor" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.dor.invalid }" [(ngModel)]="selecteddor"></ng2-flatpickr>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputDistrict" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.district.invalid }">{{'District' | translate }}</label><span class="manto"> *</span>
                            <select id="inputDistrict" class="form-control" required name="inputDistrict" [(ngModel)]="selectedDistrict" formControlName = "district" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.district.invalid }">
                                <option [ngValue]="null">Select District</option>
                                <option [value]="district.id" *ngFor="let district of districts">{{district.districtName}}</option>
                            </select>
                            
                        </div>
                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputCHC" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.chc.invalid }">{{'AssociatedCHC' | translate }}</label><span class="manto"> *</span>
                            <select id="inputCHC" class="form-control" required [(ngModel)]="selectedchc" formControlName = "chc" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.chc.invalid }">
                                <option [ngValue]="null">Select CHC</option>
                                <option [value]="chc.id" *ngFor="let chc of CHCdata">{{chc.chcName}}</option>
                            </select>
                        </div>
                        <!--<div class="form-group col-md-3">
                            <label class="birthreg" for="inputPHC" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.phc.invalid }">{{'PHC' | translate }}</label><span class="manto"> *</span>
                            <select id="inputPHC" class="form-control" required [(ngModel)]="selectedphc" formControlName = "phc" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.phc.invalid }">
                                <option [ngValue]="null">Select PHC</option>
                                <option [value]="phc.id" *ngFor="let phc of PHCdata">{{phc.phcName}}</option>
                            </select>
                        </div>-->
                        <div class="form-group col-md-3 associatedanm">
                            <label class="birthreg" for="inputSubtitle" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.sc.invalid }">{{'AssociatedANM' | translate }}</label><span class="manto"> *</span>
                            <input type="text" autocomplete="off" class="form-control form-control-with-search" id="inputSubtitle" placeholder="Associated ANM" [(ngModel)]="selectedassociatedANM" [ngModelOptions]="{standalone: true}" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.sc.invalid }" readonly>
                            <button type="submit" class="btn search-bu" (click)=getANMDetails()>
                                <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button>
                        </div>
                    </div>

                    <div class="form-row my-2">

                        <div class="form-group col-md-2">
                            <label class="birthreg" for="inputSubtitle" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.sc.invalid }">{{'SubCentre' | translate }}</label><span class="manto"> *</span>
                            <input type="text" autocomplete="off" class="form-control" id="inputSubtitle" placeholder="Subcentre" [(ngModel)]="selectedsc" formControlName = "sc" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.sc.invalid }" readonly>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputRIC" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.ripoint.invalid }">{{'RIPoint' | translate }}</label><span class="manto"> *</span>
                            <input type="text" autocomplete="off" class="form-control" id="inputSubtitle" placeholder="RI Point" [(ngModel)]="selectedripoint" formControlName = "ripoint" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.ripoint.invalid }" readonly>
                        </div>

                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputCHC" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.testingchc.invalid }">{{'TestingCHC' | translate }}</label><span class="manto"> *</span>
                            <select id="inputCHC" class="form-control" required [(ngModel)]="selectedTestingchc" formControlName = "testingchc" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.testingchc.invalid }" readonly [attr.disabled]="true">
                                <option [ngValue]="null">Select CHC</option>
                                <option [value]="chc.id" *ngFor="let chc of CHCdata">{{chc.chcName}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-row my-2">
                        <div class="form-group col-md-2">
                            <label class="birthreg" for="inputSubtitle" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.subjectitle.invalid }">{{'SubjectTitle' | translate }}</label><span class="manto"> *</span>
                            <select id="inputG" class="form-control" [(ngModel)]="selectedsubjectTitle" formControlName = "subjectitle" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.subjectitle.invalid }" (change)="titleChange();">
                                <option [ngValue]="null">Select</option>
                                <option [value]="data" *ngFor="let data of subjectTitleArray">{{data}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputFirstname" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.firstname.invalid }">{{'FirstName' | translate }}</label><span class="manto"> *</span>
                            <input type="text" autocomplete="off" class="form-control" id="inputFirstname" placeholder="First Name" [(ngModel)]="selectedfirstname" required formControlName = "firstname" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.firstname.invalid }">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputMiddlename">{{'MiddleName' | translate }}</label>
                            <input type="text" autocomplete="off" class="form-control" id="inputMiddlename" placeholder="Middle Name" [(ngModel)]="selectedmiddlename" formControlName = "middlename">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputLastname" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.lastname.invalid }">{{'LastName' | translate }}</label><span class="manto"> *</span>
                            <input type="text" autocomplete="off" class="form-control" id="inputLastname" placeholder="Last Name" [(ngModel)]="selectedlastname" formControlName = "lastname" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.lastname.invalid }">
                        </div>
                    </div>
                    <div class="form-row my-2">
                        <div class="form-group col-md-2">
                            <label class="birthreg" for="inputdob">{{'DateOfBirth' | translate }}</label>
                            <!--<input id="dateOfBirth" class="form-control flatpickr flatpickr-input active" type="text"
                                placeholder="Select Date.." [(ngModel)]="selecteddob" formControlName = "dob" >-->
                                <ng2-flatpickr id="dateOfRegistration" name="dob" class="form-control flatpickr flatpickr-input active" #dobPicker [config]="startOptions1" placeholder="Select Date.." formControlName = "dob" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.dob.invalid }" [(ngModel)]="selecteddob" (change)="calculateAge()"></ng2-flatpickr>
                            </div>
                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputAge" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.age.invalid }">{{'Age' | translate }}</label><span class="manto"> *</span>
                            <input type="text" autocomplete="off" class="form-control" id="inputAge" placeholder="Age" required="true" [(ngModel)]="selectedage" formControlName = "age" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.age.invalid }" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength = "2" numbersOnly (ngModelChange)="ageEntered();">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="birthreg" for="inputG" [ngClass]="{'label-border-class': firstFormCheck && firstFormGroup.controls.gender.invalid }">{{'Gender' | translate }}</label><span class="manto"> *</span>
                            <select id="inputG" class="form-control" [(ngModel)]="selectedgender" formControlName = "gender" [ngClass]="{'red-border-class': firstFormCheck && firstFormGroup.controls.gender.invalid }">
                                <option [ngValue]="null">Select</option>
                                <option [value]="data" *ngFor="let data of GENDERDATA">{{data}}</option>
                            </select>
                        </div>
                    </div>
                </div> 
                <div class="reges-form-bottom-btns">
                    <button mat-button matStepperPrevious class="reg-btn-disable">{{'Previous' | translate }}</button>
                    <button mat-button  class="float-right reg-btn-enable" (click)="nextStep(1);">{{'Next' | translate }}</button>
                </div>
           
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <div class="reges-form-main-container">
                <div class="form-row my-2">
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputReligion" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.religion.invalid }">{{'Religion' | translate }}</label><span class="manto"> *</span>
                        <select id="inputReligion" class="form-control" required [(ngModel)]="selectedreligion" formControlName = "religion" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.religion.invalid }">
                            <option [ngValue]="null">Select</option>
                            <option [value]="religion.id" *ngFor="let religion of religionData">{{religion.religionName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="birthreg" for="inputCaste" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.caste.invalid }">{{'Caste' | translate }}</label><span class="manto"> *</span>
                        <select id="inputPHCom" class="form-control" required [(ngModel)]="selectedcaste" formControlName = "caste" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.caste.invalid }" (change)="casteChange();">
                            <option [ngValue]="null">Select</option>
                            <option [value]="caste.id" *ngFor="let caste of casteData">{{caste.casteName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="birthreg" for="inputCommunity" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.community.invalid }">{{'Community' | translate }}</label><span class="manto"> *</span>
                        <select id="inputCommunity" class="form-control" required [(ngModel)]="selectedcommunity" formControlName = "community" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.community.invalid }">
                            <option [ngValue]="null">Select</option>
                            <option [value]="community.id" *ngFor="let community of communityData">{{community.communityName}}</option>
                        </select>
                    </div>
                    
                </div>

                <div class="form-row my-2">
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputContact" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.contactNumber.invalid }">{{'ContactNumber' | translate }}</label><span class="manto"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputContact" [(ngModel)]="selectedMobile" placeholder="Mobile No" required formControlName = "contactNumber" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.contactNumber.invalid }" oninput="javascript: if(this.value.split('')[0] != '9' && this.value.split('')[0] != '8' && this.value.split('')[0] != '7' && this.value.split('')[0] != '6') this.value=''; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "10" numbersOnly>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="birthreg" for="inputPincode1">{{'Email' | translate }}</label>
                        <input type="email" class="form-control" id="inputPincode1" placeholder="abc@domain.com" [(ngModel)]="selectedEmail" formControlName = "Email" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.Email.invalid }">
                    </div>

                    <div class="form-group col-md-3">
                        <label class="birthreg" for="govtIDType">{{'GovtIDType' | translate }}</label>
                        <select id="govtIDType" class="form-control" [(ngModel)]="selectedgovtIDType" formControlName = "govtIDType" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.govtIDType.invalid }">
                            <option [ngValue]="null">Select</option>
                            <option [value]="gid.id" *ngFor="let gid of governmentIDData">{{gid.govIdTypeName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="birthreg" for="inputmotherGovtIdDetail" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.govtIDDetail.invalid }">{{'GovtIDDetail' | translate }}</label><span class="manto" *ngIf="selectedgovtIDType != null"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputmotherGovtIdDetail" placeholder="Enter Detail"  [(ngModel)]="selectedGovtIDDetail" formControlName = "govtIDDetail" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.govtIDDetail.invalid }" [required]="selectedgovtIDType != null" [attr.disabled]="selectedgovtIDType != null ? null : true">
                    </div>
                </div>

                <div class="form-row my-2">
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputPlotNo" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.house.invalid }">{{'HousePlotNumber' | translate }}<span class="manto">
                            *</span></label>
                        <input type="text" autocomplete="off" class="form-control" id="inputPlotNo" placeholder="House Number" required [(ngModel)]="selectedhouse" formControlName = "house" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.house.invalid }">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="birthreg" for="inputCaste" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.street.invalid }">{{'StreetAndLocality' | translate }}</label><span class="manto"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputCaste" placeholder="Street" required [(ngModel)]="selectedstreet" formControlName = "street" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.street.invalid }">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputCity" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.city.invalid }">{{'CityOrVillage' | translate }}</label><span class="manto"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputCity" placeholder="City" required [(ngModel)]="selectedcity" formControlName = "city" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.city.invalid }">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputMoblie" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.state.invalid }">{{'State' | translate }}</label><span class="manto"> *</span>
                        <!--<input type="text" autocomplete="off" class="form-control" id="inputMoblie" placeholder="Odisha" [(ngModel)]="selectedstate" formControlName = "state" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.state.invalid }">-->
                        <app-select-dropdown [(ngModel)]="selectedstate" class="form-control" id="inputMoblie" formControlName="state" [list]="statelist" returnId="false" placeholder="Select State" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.state.invalid }"></app-select-dropdown>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputPincode" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.pincode.invalid }">{{'Pincode' | translate }}</label><span class="manto"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputPincode" [(ngModel)]="selectedPincode" placeholder="Pincode" required formControlName = "pincode" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.pincode.invalid }" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "6" numbersOnly>
                    </div>
                </div>

                <div class="form-row my-2"> 
                    <div class="form-group col-md-6">
                        <label class="birthreg maritalStatus-label" for="inputPincode" >{{'Married' | translate }}</label>
                        <label class="maritalstatus-radio-cont">
                            <input type="radio" value="true" formControlName="maritalStatus" (change)="marriedChange();">
                              <br><span>Yes</span>
                          </label>
                          <label class="maritalstatus-radio-cont">
                            <input type="radio" value="false" formControlName="maritalStatus" (change)="marriedChange();">
                            <br><span>No</span>
                          </label>
                    </div>   
                </div>

                <div id="spouse-box-yes" class="form-row my-2" [hidden]="secondFormGroup.get('maritalStatus').value === 'true'  ?  false : true">
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputspousename" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.spouseFirstName.invalid }">{{'SpouseFirstName' | translate }}</label><span
                            class="manto">
                            *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputspousename" placeholder="First Name"  [required]="secondFormGroup.get('maritalStatus').value == 'true'" [(ngModel)]="selectedSpouseFirstName" formControlName = "spouseFirstName" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.spouseFirstName.invalid }" >
                    </div>
                    <div class="form-group col-md-3">
                        <label class="birthreg" for="inputspousename">{{'MiddleName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="inputspousename" placeholder="Last Name" [(ngModel)]="selectedSpouseMiddleName" formControlName = "spouseMiddleName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputspousename" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.spouseLastName.invalid }">{{'LastName' | translate }}</label><span class="manto">*</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputspousename" placeholder="Last Name" [required]="secondFormGroup.get('maritalStatus').value == 'true'" [(ngModel)]="selectedSpouseLastName" formControlName = "spouseLastName" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.spouseLastName.invalid }">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputspousemblno" [ngClass]="{'label-border-class': secondFormCheck && secondFormGroup.controls.spouseContact.invalid }">{{'ContactNumber' | translate }}</label><span class="manto">*</span>
                        <input type="number" class="form-control" id="inputspousemblno" placeholder="Mobile No" [required]="secondFormGroup.get('maritalStatus').value == 'true'" [(ngModel)]="selectedSpouseContactNo" formControlName = "spouseContact" [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.spouseLastName.invalid }"  oninput="javascript: if(this.value.split('')[0] != '9' && this.value.split('')[0] != '8' && this.value.split('')[0] != '7' && this.value.split('')[0] != '6') this.value=''; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "10" numbersOnly>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputspousemblno">{{'ECNumber' | translate }}</label><span class="manto" *ngIf="selectedECNumber?.length > 0"> *</span>
                        <input type="number" class="form-control" id="inputspousemblno"     placeholder="Enter number" [(ngModel)]="selectedECNumber" formControlName = "ECNumber" (ngModelChange)="ecNumberChange();" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "16" numbersOnly [ngClass]="{'red-border-class': secondFormCheck && secondFormGroup.controls.ECNumber.invalid }">
                    </div>
                </div>
            </div>

            <div class="reges-form-bottom-btns">
                <button mat-button class="reg-btn-enable" (click)="prevStep();">{{'Previous' | translate }}</button>
                <button mat-button  class="float-right reg-btn-enable" (click)="nextStep(2);">{{'Next' | translate }}</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <div class="reges-form-main-container">
                <div class="form-row my-2">                 
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="motherFirstname">{{'MotherFirstName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="motherFirstname" placeholder="First Name" required [(ngModel)]="selectedmotherFirstName" formControlName = "motherFirstName" >
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="motherMiddlename">{{'MiddleName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="motherMiddlename" placeholder="Middle Name" [(ngModel)]="selectedmotherMiddleName" formControlName = "motherMiddleName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="motherLastname" >{{'LastName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="motherLastname" placeholder="Last Name" [(ngModel)]="selectedmotherLastName" formControlName = "motherLastName" >
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="motherinputGovtIdType">{{'GovtIDType' | translate }}</label>
                        <select id="motherinputGovtIdType" class="form-control" [(ngModel)]="selectedmothergovtIDType" formControlName = "mothergovtIDType" [ngClass]="{'red-border-class': thirdFormCheck && thirdFormGroup.controls.mothergovtIDType.invalid }">
                            <option [ngValue]="null">Select</option>
                            <option [value]="gid.id" *ngFor="let gid of governmentIDData">{{gid.govIdTypeName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputmotherGovtIdDetail" [ngClass]="{'label-border-class': thirdFormCheck && thirdFormGroup.controls.motherGovtIDDetail.invalid }">{{'GovtIDDetail' | translate }}</label><span class="manto" *ngIf="selectedmothergovtIDType != null"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputmotherGovtIdDetail" placeholder="Enter Detail"  [(ngModel)]="selectedmotherGovtIDDetail" formControlName = "motherGovtIDDetail" [ngClass]="{'red-border-class': thirdFormCheck && thirdFormGroup.controls.motherGovtIDDetail.invalid }" [required]="selectedmothergovtIDType != null" [attr.disabled]="selectedmothergovtIDType != null ? null : true">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputmoblienomother">{{'ContactNumber' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="inputmoblienomother" placeholder="Mobile No"
                            required [(ngModel)]="selectedmotherContactNumber" formControlName = "motherContactNumber" oninput="javascript: if(this.value.split('')[0] != '9' && this.value.split('')[0] != '8' && this.value.split('')[0] != '7' && this.value.split('')[0] != '6') this.value=''; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength = "10" numbersOnly>
                    </div>
                </div>

                <div class="form-row my-2">                 
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="fatherFirstname">{{'FatherFirstName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="fatherFirstname" placeholder="First Name" [(ngModel)]="selectedfatherFirstName" formControlName = "fatherFirstName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="fatherMiddlename">{{'MiddleName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="fatherMiddlename" placeholder="Middle Name" [(ngModel)]="selectedfatherMiddleName" formControlName = "fatherMiddleName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="fatherLastname">{{'LastName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="fatherLastname" placeholder="Last Name" [(ngModel)]="selectedfatherLastName" formControlName = "fatherLastName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="fatherinputGovtIdType">{{'GovtIDType' | translate }}</label>
                        <select id="fatherinputGovtIdType" class="form-control" [(ngModel)]="selectedfathergovtIDType" formControlName = "fathergovtIDType">
                            <option [ngValue]="null">Select</option>
                            <option [value]="gid.id" *ngFor="let gid of governmentIDData">{{gid.govIdTypeName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputfatherGovtIdDetail" [ngClass]="{'label-border-class': thirdFormCheck && thirdFormGroup.controls.fatherGovtIDDetail.invalid }">{{'GovtIDDetail' | translate }}</label><span class="manto" *ngIf="selectedfathergovtIDType != null"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputfatherGovtIdDetail" placeholder="Enter Detail"  [(ngModel)]="selectedfatherGovtIDDetail" formControlName = "fatherGovtIDDetail" [ngClass]="{'red-border-class': thirdFormCheck && thirdFormGroup.controls.fatherGovtIDDetail.invalid }" [required]="selectedfathergovtIDType != null" [attr.disabled]="selectedfathergovtIDType != null ? null : true">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputmoblienofather">{{'ContactNumber' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="inputmoblienofather" placeholder="Mobile No" [(ngModel)]="selectedfatherContactNumber" formControlName = "fatherContactNumber" oninput="javascript: if(this.value.split('')[0] != '9' && this.value.split('')[0] != '8' && this.value.split('')[0] != '7' && this.value.split('')[0] != '6') this.value=''; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "10" numbersOnly>
                    </div>
                </div>


                <div class="form-row my-2">                 
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="guardianFirstname" >{{'GuardianFirstName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="guardianFirstname" placeholder="First Name" [(ngModel)]="selectedguardianFirstName" formControlName = "guardianFirstName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="guardianMiddlename">{{'MiddleName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="guardianMiddlename" placeholder="Middle Name" [(ngModel)]="selectedguardianMiddleName" formControlName = "guardianMiddleName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="guardianLastname">{{'LastName' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="guardianLastname" placeholder="Last Name" [(ngModel)]="selectedguardianLastName" formControlName = "guardianLastName">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="guardianinputGovtIdType">{{'GovtIDType' | translate }}</label>
                        <select id="guardianinputGovtIdType" class="form-control" [(ngModel)]="selectedguardiangovtIDType" formControlName = "guardiangovtIDType">
                            <option [ngValue]="null">Select</option>
                            <option [value]="gid.id" *ngFor="let gid of governmentIDData">{{gid.govIdTypeName}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputguardianGovtIdDetail" [ngClass]="{'label-border-class': thirdFormCheck && thirdFormGroup.controls.guardianGovtIDDetail.invalid }">{{'GovtIDDetail' | translate }}</label><span class="manto" *ngIf="selectedguardiangovtIDType != null"> *</span>
                        <input type="text" autocomplete="off" class="form-control" id="inputguardianGovtIdDetail" placeholder="Enter Detail"  [(ngModel)]="selectedguardianGovtIDDetail" formControlName = "guardianGovtIDDetail" [ngClass]="{'red-border-class': thirdFormCheck && thirdFormGroup.controls.guardianGovtIDDetail.invalid }" [required]="selectedguardiangovtIDType != null" [attr.disabled]="selectedguardiangovtIDType != null ? null : true">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="birthreg" for="inputmoblienoguardian">{{'ContactNumber' | translate }}</label>
                        <input type="text" autocomplete="off" class="form-control" id="inputmoblienoguardian" placeholder="Mobile No"
                             [(ngModel)]="selectedguardianContactNumber" formControlName = "guardianContactNumber" oninput="javascript: if(this.value.split('')[0] != '9' && this.value.split('')[0] != '8' && this.value.split('')[0] != '7' && this.value.split('')[0] != '6') this.value=''; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                             maxlength = "10" numbersOnly>
                    </div>
                </div>
              </div>
  
              <div class="reges-form-bottom-btns">
                  <button mat-button class="reg-btn-enable" (click)="prevStep();">{{'Previous' | translate }}</button>
                  <button mat-button class="float-right reg-btn-enable" (click)="formSubmit();">{{'Submit' | translate }}</button>
              </div>
            </form>
          </mat-step>
      </mat-horizontal-stepper>
    
    <form>
        <!-- <div class="row mt-4">
        <div class="col-md-12">
            <span style="color: #1b55e2;;font-style: italic;"><b>" NOTE:</b>
                Antenatal Woman Registration form is applicable to all pregnant
                women eligible to be screened on a voluntary basis. "</span>
        </div>
    </div> -->
        <div class="row">
            <div class="col-md-12">
                <span style="color: #1b55e2;;font-style: italic;" id="tabWiseNote"><b>" NOTE:</b>
                    Walkin Registration form is applicable to all married/unmarried men and women."</span>
            </div>
        </div>
    </form>

</div>


<div id="fadeinModal" class="modal animated fadeInDown" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" id="exampleModalLabel">
                <div class="modal-header">
                    <h5 class="modal-title">Select Associated ANM</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div class="modal-body text-center">
                    
                    <table id="anmshipment-tblconfig1" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th>{{'SNo' | translate }}</th>
                            <th></th>
                            <th>{{'SC' | translate }}</th>
                            <th>{{'SCAddress' | translate }}</th>
                            <th>{{'SCPincode' | translate }}</th>
                            <th>{{'RIPoint' | translate }}</th>
                            <th>{{'ANM' | translate }}</th>
                            <th>{{'ANMContact' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let person of associatedANMData;index as i" (click)="associatedClick(i);person.click=true;" (mouseover)="person.hover=true" (mouseout)="person.hover=false">
                            <td style="text-align: center;">{{ i + 1}}</td>
                            <td style="text-align: center;"><input type="checkbox" [checked]="person.hover" *ngIf="person.click === undefined"/><input type="checkbox" [checked]="true" *ngIf="person.click"/></td>
                            <td>{{ person.scName }}</td>
                            <td>{{ person.scAddress }}</td>
                            <td>{{ person.SCPincode }}</td>
                            <td>{{ person.riPoint }}</td>
                            <td>{{ person.anmName }}</td>
                            <td style="text-align: center;">{{ person.anmContactNo }}</td>
                          </tr>
                        </tbody>
                        </table>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save</button> -->
                </div>
            </div>
        </div>
</div>
