#formValidate .wizard > .content {
  min-height: 25em;
}

#example-vertical.wizard > .content {
  min-height: 24.5em;
}

.layout-px-spacing {
  min-height: calc(100vh - 166px) !important;
}

h5.float-left {
  color: #1b55e2;
  font-weight: 600;
  text-shadow: 1px 0px #125879;
  font-size: 25px;
}

.modaltitle {
  color: #1b55e2;
  font-weight: 600;
  text-shadow: 1px 0px #125879;
  font-size: 20px;
  /* text-align: center; */
}

.manto {
  color: red;
  font-weight: 600;
}

.note {
  font-size: 15px;
  font-weight: 600;
  color: #575858;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nt-bottom-none {
  border-bottom: none !important;
}

.table > tbody {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
