<div class="tab-pane fade show active" id="tobeScheduled" role="tabpanel" aria-labelledby="tobeScheduled-tab">
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="form-row ml-3 my-2">
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">District</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option>Balasore</option>
                        <option>Bargah</option>
                        <option>Cuttack</option>
                        <option>Koraput</option>
                        <option>Sambalpur</option>
                        <option>Jharsugud</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">CHC</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">PHC</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">ANM</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
                <div class="px-2 bd-highlight search-margin" >
                    <!-- <button type="submit" class="btn btn-primary search-btn">Search</button> -->
                    <a href=""><button type="submit" class="btn search-bu">
                            <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button></a>
                </div>   
            </div> 
                 <div class="table-responsive my-2">
                <table id="tobescheduled-config" class="table table-bordered table-hover mb-4" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th><span>S.No</span></th>
                            <th><span>Subject Name</span></th>
                            <th><span>Subject ID</span></th>
                            <th><span>RCH ID</span></th>
                            <th><span>Spouse Name</span></th>
                            <th><span>Contact</span></th>
                            <th><span>GA</span></th>
                            <th><span>Obstetric Score</span></th>
                            <th><span>Counsellor</span></th>
                            <th class="datetimenew"><span>Date & Time</span></th>
                            <th><span>Schedule Appointment</span></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td class="sno">1</td>
                            <td class="sname text-left">Alkha</td>
                            <td class="sid text-center">OD001202032110</td>
                            <td class="sid text-center">123456</td>
                            <td class="text-left">Ajith</td>
                            <td class="mobile text-center">9876545670</td>
                            <td class="text-center">14.5</td>
                            <td class="sname text-center">G2-P1-L1-A1</td>
                            <td class="counsellor text-left">Dr.Avinash</td>
                            <td class="text-center"><input id="dateOfCounsel" class="form-control flatpickr flatpickr-input active datetimen" type="text"
                                placeholder="Select Date.."></td>
                            <td class="text-center"><a href="#"><i class="fas fa-calendar-alt fa-2x" aria-hidden="true" id="linktobuttoncounsellor"
                                ></i></a></td>

                        </tr>
                        </tbody>
                </table>

                <!--  <input type="Submit" class="btn btn-success" value="Affix new barcode" id="btnShowHide">  -->
                <!-- <input type="Submit" class="btn btn-success" value="Recall status"> -->
            </div>
           
        </div>
    </div>
</div>