
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="form-row">
                <div class="col-md-12">
                    <div *ngIf="samplepicknpackErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': samplepicknpackErrorMessage ==='No sample found', 'alert-danger': samplepicknpackErrorMessage !== 'No sample found'}">
                        <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{samplepicknpackErrorMessage}}
                    </div>  
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table id="zero-config" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th class="text-center"><span>{{'SNo' | translate}}</span></th>>
                            <th class="text-center"><span>{{'SubjectName' | translate}}</span></th>
                            <th class="text-center"><span>{{'SubjectID' | translate}}</span></th>
                            <th class="text-center"><span>{{'RCHID' | translate}}</span></th>
                            <!-- <th class="text-center"><span>Lab Technician Name</span></th> -->
                            <th class="text-center"><span>Barcode</span></th>

                            <th class="text-center"><span class="wordwrap">Sample Collection Date &
                                    Time</span></th>
                            <!-- <th><span>Aging Sample</span></th>
                            <th><span>Damaged</span></th> -->
                        
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let samplepicknpack of chcsamplepickpack; index as i">
                            <td class="sno text-center">{{i +1}}</td>
                            <td class="sname text-left">{{samplepicknpack.subjectName}}</td>
                            <td class="sid text-center">{{samplepicknpack.uniqueSubjectId}}</td>
                            <td class="sid text-center">{{samplepicknpack.rchId}}</td>
                            <!-- <td class="text-left"></td> -->
                            <td class="sid text-center">{{samplepicknpack.barcodeNo}}</td>
                            <td class="textsample text-center">{{samplepicknpack.sampleDateTime}}</td>
                            <!-- <td class="text-center">8 days</td>
                            <td class="text-center"><a role="button"><i class="fas fa-vial fa-2x" ></i></a></td> -->
                        </tr>    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
