
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
      <app-site-sidebar module="pndtc" subMenum="Schedule-Pre-PNDTC"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
          <!-- <div class="col-md-12 text-center">
                    <h5 class="">ANM Name - PHC Name</h5>
                </div> -->
          <div class="col-md-12">
            <div class="justify-between">
              <div class="col-md-4">
                <div class="float-left mb-4">
                  <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/patho-report']" role="button"
                  ngbTooltip="Back" placement="right"><i class="fas fa-chevron-left pNav-left"></i></a>
                </div>
              </div>
              <!-- <h5 class="float-left">Sample Collection</h5> -->
              <div class="col-md-4">
                <div class="headertit">
                  <h5 class="float-center">Report - Diagnosis</h5>
                </div>
              </div>
              <div class="col-md-4">
                
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
              
              <div class="tab-content mt-5" id="myTabContent">
                <!-- <router-outlet (activate)="showNumberOnBadge($event)"></router-outlet> -->
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!--  END MAIN CONTAINER  -->
  
  <!--<i appLoadScript [script]="''"></i>-->
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
  