<div class="tab-pane fade show active" id="tobeScheduled" role="tabpanel" aria-labelledby="tobeScheduled-tab">
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="form-row mt-4">
                <div class="col-sm-12">
                  <div *ngIf="prepndtscheduleErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': prepndtscheduleErrorMessage ==='No subjects found', 'alert-danger': prepndtscheduleErrorMessage !== 'No subjects found'}">
                    <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{prepndtscheduleErrorMessage}}
                  </div>
                </div>
              </div>
            <div class="form-row ml-3 mt-2 mb-3">
                <div class="form-group col-md-2">
                    <label for="inputDistrict">District</label>
                    <select id="inputDistrict" class="form-control" (change)="onChangeDistrict($event.target.value)"
                    name=DDLdistrict #DDLdistrict required [(ngModel)]="selectedDistrict">
                        <option value="">Select</option>
                        <option *ngFor="let district of districts" [(value)]=" district.id ">
                            {{district.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputCHC">CHC</label>
                    <select id="inputCHC" class="form-control"
                    name=DDLchc #DDLchc required [(ngModel)]="selectedchc">
                        <option value="">Select</option>
                        <option *ngFor="let chc of chclists" [(value)]=" chc.id ">
                            {{chc.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPHC">PHC</label>
                    <select id="inputPHC" class="form-control" name=DDLphc #DDLphc required [(ngModel)]="selectedphc">
                        <option value="">Select</option>
                        <option *ngFor="let phc of phclists" [(value)]=" phc.id ">
                            {{phc.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputANM">ANM</label>
                    <select id="inputANM" class="form-control" name=DDLanm #DDLanm required [(ngModel)]="selectedanm">
                        <option value="">Select</option>
                        <option *ngFor="let anm of anmlists" [(value)]="anm.id">
                            {{anm.name}}
                        </option>
                    </select>
                </div>
                <div class="px-2 bd-highlight search-margin" >
                    <!-- <button type="submit" class="btn btn-primary search-btn">Search</button> -->
                    <a (click)="getschedulinglists()"><button type="submit" class="btn search-bu">
                            <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button></a>
                </div>   
            </div> 
                 <div class="table-responsive mt-5">
                <table id="tobescheduled-config" class="table table-bordered table-hover mb-4" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th><span>S.No</span></th>
                            <th><span>Subject Name</span></th>
                            <th><span>Subject ID</span></th>
                            <th><span>RCH ID</span></th>
                            <th><span>Spouse Name</span></th>
                            <th><span>Contact</span></th>
                            <th><span>GA</span></th>
                            <th><span>Obstetric Score</span></th>
                            <th><span>Counsellor</span></th>
                            <th class="scheduledatetime"><span>Date & Time</span></th>
                            <th><span>Schedule Appointment</span></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let schedulingdata of schedulinglists; index as i">
                            <td class="sno">{{i +1}}</td>
                            <td class="sname text-left">{{schedulingdata.subjectName}}</td>
                            <td class="sid text-center">{{schedulingdata.anwSubjectId}}</td>
                            <td class="sid text-center">{{schedulingdata.rchId}}</td>
                            <td class="text-left">{{schedulingdata.spouseName}}</td>
                            <td class="mobile text-center">{{schedulingdata.contactNo}}</td>
                            <td class="text-center">{{schedulingdata.ga}}</td>
                            <td class="sname text-center">{{schedulingdata.obstetricScore}}</td>
                            <td class="counsellor text-left">{{counsellorName}}</td>
                            <td class="text-center" [formGroup]="dateform">
                                <ng2-flatpickr id="scToDate" name="fixSchedule" class="form-control flatpickr flatpickr-input active" #schedulePicker
                                [config]="dateOptions" placeholder="Select Date.." formControlName="fixSchedule"></ng2-flatpickr>
                            </td>
                            <td class="text-center"><a (click)="addScheduleData(schedulingdata)">
                                <i class="fas fa-calendar-alt fa-2x" aria-hidden="true" id="linktobuttoncounsellor"></i></a>
                            </td>

                        </tr>
                        </tbody>
                </table>

                <!--  <input type="Submit" class="btn btn-success" value="Affix new barcode" id="btnShowHide">  -->
                <!-- <input type="Submit" class="btn btn-success" value="Recall status"> -->
            </div>
           
        </div>
    </div>
</div>