      <div class="row layout-top-spacing">
          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile showhidediv" id="showhidediv">
              <div class="widget-content widget-content-area br-6">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <tbody class="">
                                      <tr>
                                          <td>
                                          <span class="float-left mt-0 mr-4">				
                                            <h5><b>{{'SubjectID' | translate}} :</b>{{diagnosisReportData?.subjectId}}
                                                  <strong class="ml-5">{{'SubjectInfo' | translate}} :</strong>{{diagnosisReportData?.subjectName}}, {{diagnosisReportData?.gender == "Female" ? 'F' : 'M'}}, {{diagnosisReportData?.age}} yrs
                                                  <strong class="ml-5">{{'RCHID' | translate}} :</strong>{{diagnosisReportData?.rchId}} 
                                            </h5>
                                          </span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>

          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
              <div class="widget-content widget-content-area br-6">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped"  id="tblBasicInfo">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="6" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>{{'BasicInfo' | translate}}</b>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="sp-xs-td-9"><b>{{'District' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.district}}</td>
                                          <td class="sp-xs-td-9"><b>{{'TestingCHC' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.chcName}}</td>
                                          <td class="sp-xs-td-9"><b>{{'RIPoint' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.riPoint}}</td>
                                      </tr>
                                      <tr>
                                          <td class="sp-xs-td-9"><b>{{'SubjectName' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.subjectName}}</td>
                                          <td class="sp-xs-td-9"><b>{{'SubjectID' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.subjectId}}</td>
                                          <td class="sp-xs-td-9"><b>{{'Age' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.age}} yrs</td>
                                      </tr>
                                      <tr>
                                          <td><b>{{'ContactNo' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.contactNo}}</td>
                                          <td><b>{{'Address' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.address}}</td>
                                          <td><b>{{'SpouseName' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.spouseName}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>{{'SpouseContact' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.spouseContact}}</td>
                                          <td><b>{{'RCHID' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.rchId}}</td>
                                          <td><b>{{'LMPDate' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.lmpDate}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>{{'GestationalAge' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.ga}}</td>
                                          <td><b>{{'ObstetricsScore' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.obstetricsScore}}</td>
                                          
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing indprofile">
              <div class="widget-content widget-content-area br-6">
                  
                
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="8" class="text-left mt-3" style="color:#3a3b3e;font-size: 15px;"><b>{{'TestResultSummary' | translate}}</b>
                                         
                                          </th>
                                      </tr> 
                                  </thead> 
                                  <tbody>
                                      <!-- <tr>
                                          <td class="sp-xs-th" style="color: #1b55e2;font-weight: 700;font-size: 13px;">{{'SSTResults' | translate}}</td>
                                          <td class="sp-xs-td-15" style="color:red;">{{diagnosisReportData?.sstResult}}</td>  
                                      </tr> -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                            <thead> 
                                <tr>
                                    <th class="text-center"><span>{{'SubjectInfo' | translate}}</span></th>
                                    <th class="text-center"><span>{{'SSTResults' | translate}}</span></th>
                                    <th class="text-center"><span>{{'CBCResults' | translate}}</span></th>
                                    <th class="text-center"><span>{{'MCV' | translate}}</span></th>                                             
                                    <th class="text-center"><span>{{'RDW' | translate}}</span></th>
                                    <th class="text-center"><span>{{'RBC' | translate}}</span></th>
                                    
                                    <!-- <th class="text-left"><span>Diagnosis</span></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">{{diagnosisReportData?.subjectName}}, F, {{diagnosisReportData?.age}} yrs</td>
                                    <td class="text-left">{{diagnosisReportData?.sstResult}}</td>
                                    <td class="text-left">{{diagnosisReportData?.cbcTestResult}}</td>
                                    <td class="text-center sp-xs-th">{{diagnosisReportData?.mcv}}</td>                                                                                          
                                    <td class="text-center">{{diagnosisReportData?.rdw}}</td>
                                    <td class="text-center">{{diagnosisReportData?.rbc}}</td>
                                    
                                    <!-- <td class="text-left"></td> -->
                                </tr>
                               <!-- <tr>
                                    <td class="text-left">{{diagnosisReportData?.spouseName}}, M</td>
                                    <td class="text-left">{{diagnosisReportData?.spouseSSTestResult}}</td>
                                    <td class="text-left">{{diagnosisReportData?.spouseCBCTestResult}}</td>
                                    <td class="text-center sp-xs-th">{{diagnosisReportData?.spouseMCV}}</td>                                                                                          
                                    <td class="text-center">{{diagnosisReportData?.spouseRDW}}</td>
                                    <td class="text-center">{{diagnosisReportData?.spouseRBC}}</td>
                                    
                                    
                                </tr>-->
                            </tbody> 
                        </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped row-combined">
                                <thead class="tablecss">
                                    <!-- <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="14" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>Test Result Summary</b>
                                        </th>
                                    </tr> -->
                                    <tr>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'SubjectInfo' | translate}}</span></th>
                                        <th colspan="5" class="nt-border-right text-center"><b>{{'HPLCParameters' | translate}}</b></th>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'HPLCResults' | translate}}</span></th>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'LabDiagnosis' | translate}}</span></th>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'PathologistRemarks' | translate}}</span></th>
                                       
                                    </tr>
                                    <tr class="combined">
                                        <th class="text-center"><b>{{'HbA0' | translate}}</b></th>
                                        <th class="text-center"><b>{{'HbA2' | translate}}</b></th>
                                        <!--<th class="text-center"><b>HbC</b></th>-->
                                        <th class="text-center"><b>{{'HbD' | translate}}</b></th>
                                        <th class="text-center"><b>{{'HbF' | translate}}</b></th>
                                        <th class="text-center"><b>{{'HbS' | translate}}</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td class="text-left">{{diagnosisReportData?.subjectName}}, F, {{diagnosisReportData?.age}} yrs</td>                                
                                        <td class="text-center">{{diagnosisReportData?.hbA0}}</td>
                                        <td class="text-center">{{diagnosisReportData?.hbA2}}</td>
                                        <!--<td class="text-center">{{diagnosisReportData?.hbC}}</td>-->
                                        <td class="text-center">{{diagnosisReportData?.hbD}}</td>
                                        <td class="text-center">{{diagnosisReportData?.hbF}}</td>
                                        <td class="text-center">{{diagnosisReportData?.hbS}}</td>
                                        <td class="text-left">{{diagnosisReportData?.hplcResult}}</td>
                                        <td class="text-left">{{diagnosisReportData?.diagnosis}}</td>
                                        <td class="text-left">{{diagnosisReportData?.seniorPathologistRemarks}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">{{'DiagnosticSummary' | translate}}</td>                                
                                        <td class="text-left" colspan="8">{{diagnosisReportData?.diagnosisSummary}}</td>
                                       
                                    </tr>
                                   <!-- <tr>
                                        <td class="text-left">{{diagnosisReportData?.spouseName}}, M</td>                                        
                                        <td class="text-center">{{diagnosisReportData?.spouseHbA0}}</td>
                                        <td class="text-center">{{diagnosisReportData?.spouseHbA2}}</td>
                                       
                                        <td class="text-center">{{diagnosisReportData?.spouseHbD}}</td>
                                        <td class="text-center">{{diagnosisReportData?.spouseHbF}}</td>
                                        <td class="text-center">{{diagnosisReportData?.spouseHbS}}</td>
                                        <td class="text-left">{{diagnosisReportData?.spouseHPLCTestResult}}</td>
                                        <td class="text-left">{{diagnosisReportData?.spouseHPLCDiagnosis}}</td>
                                        <td class="text-left">{{diagnosisReportData?.anwHPLCDiagnosis}}</td>
                                    </tr>-->
                            </table>
                        </div>
                    </div>
                </div>
              </div>
          
          <a class="btn btn-primary float-right" role="button" style="margin-top:15px;"><i class="fa fa-download append-icon"></i><span class="ml-1"> {{'HPLCGraph' | translate}}</span></a>
        </div>
    </div>


