<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="anm" subMenum="view-sub-profile"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
            <div class="col-md-12">
                <div class="justify-between">
                    <div class="col-md-4">
                        <div class="float-left mb-4"><a class="btn btn-outline-primary bs-tooltip"
                            [routerLink]="['/app/anm-shipment']" role="button" ngbTooltip="Shipment log" placement="right"><i
                                    class="fas fa-chevron-left pNav-left"></i></a></div>
                    </div>
                    <div class="col-md-4">
                        <div class="headertit">
                            <h5 class="float-center">Subject Tracker</h5>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <!-- <app-anm-chc-subject-profile #anmchcsubjectprofile></app-anm-chc-subject-profile> -->
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6"> 
                        <div style="text-align: center"><a (click)="openpopup()">
                            <i class="fa fa-file-text-o text-primary" aria-hidden="true"></i></a>
                        </div>
                        <div class="d-flex flex-row step-menu">
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                            </div>
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                            <div>
                                <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                             
                            </div>  
                             <!--<ul class="step-menu">
                                      <li role="button" class="complete">Registration</li>
                                      <li role="button" class="current">Collection</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                      <li role="button">Shipment <br>T.CHC</li>
                                </ul>-->
                            
                        </div>   
                                                           
                    </div>
                </div>

                <div id="fadeinModal" class="modal animated fadeInDown" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title modaltitle" id="myExtraLargeModalLabel">Subject Tracker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>
        <div class="modal-body" style="overflow-x: scroll;">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="d-flex flex-row">
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vRldyV1lr6X3UgB1nlGB3qrKIZ-NUELxLW4ZiAo6J6KWCdCfo44ELm3aZnmv-Ru7-QzcG6JNFK7tZvn/pub?w=40&h=100">
                                </div>
                                <div class="mt-5">
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTtZnEx92wBVTNPMqZqW-Ebd0TOwjnLXWJrSWJpcDAfi5Uw-AJuXzqeJw4WcQVFoE29tmuELyca5WlD/pub?w=40&h=100">
                                </div>
                                
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQRDXv4V8QXbN-HwxemLDKNGUhvBiJk-VkUilHADQGFy9tzfqtQvl-h4S520WuIqfIgAzxbALXuKY2q/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQbnx4R05rV_9UBaI0JoPzoOn1N03tNwTJDanUqwadXbqroX36NHs1Dj0umy7Vzb2f-cQScq1Yev7Uk/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vSZ6sNJz7bg-B0WgcMt_bXycU6QHcNw4-2NHbEthFH-4TqUpvCfBrSYWkVrmTtu3pflMj5tqPzOxSCu/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vRa2UZgRgUhIksJPF2_HRTN_h9V2Dq4oZw_32Q7wnHErcEDuHwGCmZK3M9G6ol4hzmHK9ZB-xtbQfG2/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vTWqIpIVGByRFg1UkWVBYWVjRGmWV436MxnUUv7cyhvnlfvBI9S8Fjv9lNxYOhVhRTXeQknftZJLm60/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vTUWq3jBz1tJdGIxkBDdTZe-MygDucMQ96xKsWFA87C4zoCSJwvYRIaTn5kYFyYGK7Mir9VajWxq87r/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div> 
                            
                        </div>
                        <div>                          
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vRIBcqUC_MVbRM1Ka_Naf2DD3D2kpW9kY7H16QoMv8JFZDB3zWvxBLN_pb3bGVbyq9l1xLtAp7YFTDG/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vT73cpEp1o6H5WdSelZ7e9fl0BUfmhPLbtifxdsv2yZ4M-jhpeMkvv2U5bcK66kYV6q16SA-o8POO2k/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vStSjTAMZEly9oCJCeO1Mtm8jiLisO2utsg5EVsJy9srXSfCHwxEwbcYA6yUv95X4m4VFvQrVq3ZCEc/pub?w=110&h=50">
                                </div>
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vTapspd2eUR5Tg7uvhJWw9gU1t1SqeSBoqKnyNToshodZgLg2El8LJTXNskXmxpKn0ledU7IHoxR0h_/pub?w=70&h=100">
                                </div>
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vRJbNQ_8QL0XiGvrFboAreSDfWqa_MKRRFwFG9RZx6S-y5HaiB-USdTVZYiJR42-9rZ0yKwYdg9ujDS/pub?w=110&h=50">
                                </div>
                               
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vQO2DNJuQMApsJPqa1-EEcWCSLFM99tOUqVnD0H7AoDbEFgk0RShVNNs5KIDU55_jZRtoiI2kudZxFs/pub?w=110&h=50">
                                </div>
                               
                            </div>
                            
                        </div>
                        <div>
                            <div class="d-flex flex-column">
                                <div>
                                    <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ2sT4hWrAwOVBHkCw4NuAIoaMTT9NeY4yOu7pr4i8quJkhCQP5de5Q-b4YDZ_xW8yue-tILrhE9IV_/pub?w=70&h=100">
                                </div>
                                <div>
                                    <img  src="https://docs.google.com/drawings/d/e/2PACX-1vTEUkrCB7FK7_l8NlLjEfFh0FG74mwbWBO3n_zmlA7lmaUBfSDxjAdeGw2uI8xlH7ZV_u-Yt8l9zqQd/pub?w=110&h=50">
                                </div>
                               
                            </div>
                            
                        </div>
                    </div>    
                    <div class="row float-right">
                      
                        <button class="btn float-right" style="margin-left: 5px;" data-dismiss="modal"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

               
            </div>
          

        </div>

    </div>
</div>
<!--  END CONTENT AREA  -->


<!--  END MAIN CONTAINER  -->
<i appLoadScript [script]="'assets/assets/js/anm-module/anm-shipmentlog.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/pickandpacklist-flatpickr.js'"></i> -->
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>