<div class="tab-pane fade show active" id="damagedsample" role="tabpanel"
     aria-labelledby="damagedsample-tab">
     <div class="table-responsive mb-4">
      <table id="zero-config-damagedsample" class="table table-bordered table-hover tbl-ht">
          <thead>
              <tr>
                  <th class="text-center"><span>S.No</span></th>
                  <th class="text-center"><span>Subject Name</span></th>
                  <th class="text-center"><span>Subject ID</span></th>
                  <th class="text-center"><span>Subject Type</span></th>
                  <th class="text-center"><span>Contact</span> </th>
                  <th class="text-center">Barcode</th>
                  <th class="text-center">Date of Collection</th>
                  <th class="text-center">GA</th>
                  <th class="text-center">Notified </th>
                  <th><span class="wordwrap">Sample Recollection</span></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="sno text-center">1</td>
                  <td class="sname text-left">Alkha Rajesh Kumar</td>
                  <td class="sid">OD001202032110</td>
                  <td></td>
                  <td class="number">8803487347</td>
                  <td class="text-center">001252</td>
                  <td class=" text-center">30/01/2020</td>
                  <td class="text-center"> 10.3</td>
                  <td class="dropbtn"><select name="occupationoption"
                          class="form-control field" id="occuptnid" tabindex="7"
                          required="">
                          <option value="">No</option>
                          <option value="male">Yes</option>
                      </select>
                  </td>
                  <td class="text-center"><a href="#" data-toggle="modal"
                          data-target=".bd-example-modal-xl1" role="button"><i
                              class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
                  <td class="text-center">2</td>
                  <td class="text-left">Diviya Prakash Kumar</td>
                  <td class="text-center">OD001202032113</td>
                  <td></td>
                  <td class="text-center">9863487347</td>
                  <td class="text-center">001253</td>
                  <td class="text-center">30/01/2020</td>
                  <td class="text-center"> 10.3</td>
                  <td><select name="occupationoption" class="form-control field"
                          id="occuptnid" tabindex="7" required="">
                          <option value="">No</option>
                          <option value="male">Yes</option>
                      </select>
                  </td>
                  <td class="text-center"><a href="#" data-toggle="modal"
                          data-target=".bd-example-modal-xl1" role="button"><i
                              class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
                  <td class="text-center">3</td>
                  <td class="text-left">Priya Ragul Kumar</td>
                  <td class="text-center">OD001202032114</td>
                  <td></td>
                  <td class="text-center">9863487567</td>
                  <td class="text-center">001254</td>
                  <td class="text-center">28/01/2020</td>
                  <td class="text-center"> 10.3</td>
                  <td><select name="occupationoption" class="form-control field"
                          id="occuptnid" tabindex="7" required="">
                          <option value="">No</option>
                          <option value="male">Yes</option>
                      </select>
                  </td>
                  <td class="text-center"><a href="#" data-toggle="modal"
                          data-target=".bd-example-modal-xl1" role="button"><i
                              class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
                  <td class="text-center">4</td>
                  <td class="text-left">Priya Ragul Kumar</td>
                  <td class="text-center">OD001202032114</td>
                  <td></td>
                  <td class="text-center">9863487567</td>
                  <td class="text-center">001254</td>
                  <td class="text-center">28/01/2020</td>
                  <td class="text-center"> 10.3</td>
                  <td><select name="occupationoption" class="form-control field"
                          id="occuptnid" tabindex="7" required="">
                          <option value="">No</option>
                          <option value="male">Yes</option>
                      </select>
                  </td>
                  <td class="text-center"><a href="#" data-toggle="modal"
                          data-target=".bd-example-modal-xl1" role="button"><i
                              class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
              <td class="text-center">5</td>
              <td class="text-left">Priya Ragul Kumar</td>
              <td class="text-center">OD001202032114</td>
              <td></td>
              <td class="text-center">9863487567</td>
              <td class="text-center">001254</td>
              <td class="text-center">28/01/2020</td>
              <td class="text-center"> 10.3</td>
              <td><select name="occupationoption" class="form-control field"
                      id="occuptnid" tabindex="7" required="">
                      <option value="">No</option>
                      <option value="male">Yes</option>
                  </select>
              </td>
              <td class="text-center"><a href="#" data-toggle="modal"
                      data-target=".bd-example-modal-xl1" role="button"><i
                          class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
              <td class="text-center">6</td>
              <td class="text-left">Priya Ragul Kumar</td>
              <td class="text-center">OD001202032114</td>
              <td></td>
              <td class="text-center">9863487567</td>
              <td class="text-center">001254</td>
              <td class="text-center">28/01/2020</td>
              <td class="text-center"> 10.3</td>
              <td><select name="occupationoption" class="form-control field"
                      id="occuptnid" tabindex="7" required="">
                      <option value="">No</option>
                      <option value="male">Yes</option>
                  </select>
              </td>
              <td class="text-center"><a href="#" data-toggle="modal"
                      data-target=".bd-example-modal-xl1" role="button"><i
                          class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
              <td class="text-center">7</td>
              <td class="text-left">Priya Ragul Kumar</td>
              <td class="text-center">OD001202032114</td>
              <td></td>
              <td class="text-center">9863487567</td>
              <td class="text-center">001254</td>
              <td class="text-center">28/01/2020</td>
              <td class="text-center"> 10.3</td>
              <td><select name="occupationoption" class="form-control field"
                      id="occuptnid" tabindex="7" required="">
                      <option value="">No</option>
                      <option value="male">Yes</option>
                  </select>
              </td>
              <td class="text-center"><a href="#" data-toggle="modal"
                      data-target=".bd-example-modal-xl1" role="button"><i
                          class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
              <td class="text-center">8</td>
              <td class="text-left">Priya Ragul Kumar</td>
              <td class="text-center">OD001202032114</td>
              <td></td>
              <td class="text-center">9863487567</td>
              <td class="text-center">001254</td>
              <td class="text-center">28/01/2020</td>
              <td class="text-center"> 10.3</td>
              <td><select name="occupationoption" class="form-control field"
                      id="occuptnid" tabindex="7" required="">
                      <option value="">No</option>
                      <option value="male">Yes</option>
                  </select>
              </td>
              <td class="text-center"><a href="#" data-toggle="modal"
                      data-target=".bd-example-modal-xl1" role="button"><i
                          class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
              <td class="text-center">9</td>
              <td class="text-left">Priya Ragul Kumar</td>
              <td class="text-center">OD001202032114</td>
              <td></td>
              <td class="text-center">9863487567</td>
              <td class="text-center">001254</td>
              <td class="text-center">28/01/2020</td>
              <td class="text-center"> 10.3</td>
              <td><select name="occupationoption" class="form-control field"
                      id="occuptnid" tabindex="7" required="">
                      <option value="">No</option>
                      <option value="male">Yes</option>
                  </select>
              </td>
              <td class="text-center"><a href="#" data-toggle="modal"
                      data-target=".bd-example-modal-xl1" role="button"><i
                          class="fas fa-vial fa-2x"></i></a></td>
              </tr>
              <tr>
              <td class="text-center">10</td>
              <td class="text-left">Priya Ragul Kumar</td>
              <td class="text-center">OD001202032114</td>
              <td></td>
              <td class="text-center">9863487567</td>
              <td class="text-center">001254</td>
              <td class="text-center">28/01/2020</td>
              <td class="text-center"> 10.3</td>
              <td><select name="occupationoption" class="form-control field"
                      id="occuptnid" tabindex="7" required="">
                      <option value="">No</option>
                      <option value="male">Yes</option>
                  </select>
              </td>
              <td class="text-center"><a href="#" data-toggle="modal"
                      data-target=".bd-example-modal-xl1" role="button"><i
                          class="fas fa-vial fa-2x"></i></a></td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a id="damage-sample-update" class="btn btn-primary float-right" role="button">Update Status</a>
    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade bd-example-modal-xl1" tabindex="-1" role="dialog"
     aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title modaltitle">Sample Recollection</h4>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-x">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>
      <div class="modal-body form-body">
        <div id="tab-content1" class="tab-content m-3">
          <form method="post" name="register"
                onsubmit="return checkBeforeSubmit()" action="">
            <!-- <span class="tabaddon"><i class="fa fa-user fa-2x"></i></span> -->
            <div class="form-row">
              <div class="form-group col-md-3">
                <span class="note">Subject Name </span>
                <input class="form-control field" name="pincode"
                       required="" type="text" placeholder="Alkha Rajesh"
                       readonly="">
              </div>
              <div class="form-group col-md-3">
                <span class="note">Subject ID </span><span class="manto"></span>
                <input class="form-control field" name="ancnumber"
                       type="text" placeholder="OD001202032110"
                       tabindex="6" autocomplete="off" readonly="">
              </div>

              <div class="form-group col-md-3">
                <span class="note">Reason </span><span class="manto"></span>
                <input class="form-control field" name="collection"
                       required="" type="text" placeholder="Damaged Sample"
                       readonly="">
              </div>

            </div>
            <div class="form-row mt-4">

              <div class="form-group col-md-3">
                <span class="note">Scan / Enter Barcode </span><span class="manto">*</span>
                <!-- <img src="assets/img/barcode-1.4.png" style="width:100%;"> -->
                <!-- <div class="centered"><p>Scan / Enter barcode no</p></div> -->
                <input class="form-control field" name="pincode"
                       type="text" placeholder="">

              </div>
              <div class="form-group col-md-3">
                <span class="note">
                  Date of Sample Collection
                </span><span class="manto">*</span>
                <input id="sccollectDate"
                       class="form-control flatpickr flatpickr-input active"
                       type="text" placeholder="dd/mm/yy">
              </div>
              <div class="form-group col-md-3">
                <span class="note">
                  Time of Sample Collection
                </span><span class="manto">*</span>
                <input id="timeofSample"
                       class="form-control flatpickr flatpickr-input active"
                       type="text" placeholder="dd/mm/yy">
              </div>
            </div>
            <input class="form-control field" name="hdtblnme" type="hidden"
                   value="all_camp" placeholder="tblnme">
            <input class="form-control field" name="sessscclocationid"
                   type="hidden" value="01">
            <input class="form-control field" name="sessscclocatcampid"
                   type="hidden" value="0101">
            <input class="form-control field" name="sessscccategoryid"
                   type="hidden" value="03">
            <input class="form-control field" name="vtbltxtidrg"
                   type="hidden" value="01010301">

            <br>
            <style type="text/css">

              .optn {
                vertical-align: super;
                margin-left: 5px;
              }
            </style>
          </form>
          <br>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-success successdamaged" role="button" id="linktobuttondamage">Submit</a>
        <button class="btn" data-dismiss="modal">
          <i class="flaticon-cancel-12"></i> Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save</button> -->
      </div>
    </div>
  </div>
</div>
<i appLoadScript [script]="'assets/assets/js/anm/anm-notification.js'"></i>
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/jquery-step/custom-jquery.steps.js'"></i>
<i appLoadScript [script]="'assets/plugins/flatpickr/notificationdamage-flatpickr.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/notificationunsent-flatpickr.js'"></i>
<i appLoadScript [script]="'assets/plugins/flatpickr/notificationtimeout-flatpickr.js'"></i>
<i appLoadScript [script]="'assets/plugins/flatpickr/notificationpositive-flatpickr.js'"></i> -->
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
