<table id="customers" *ngIf="_imageArray.length > 0">
    <tr *ngFor="let person of _imageArray;index as i">
      <td>{{person.name}}</td>
      <td style="cursor: pointer; text-align: center; " (click)="deleteFile(i)"><i class="fas fa-trash-alt fa-2x "style="color:blue;" aria-hidden="true"></i></td>
    </tr>

  </table>

  
<input #inputFile type="file" (change)="handleFileInput($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<button type="submit" class="btn btn-primary" value="" style="padding: 10px 30px;margin:20px;" (click)="uploadFiles();" *ngIf="_imageArray.length > 0"><a style="color: #fff;">Upload</a> </button>

<button class="btn btn-primary"  style="padding: 10px 30px;margin:20px;" (click)="downloadMyFile();">Download Template</button>

<div class="step-nav-container">
  <ul class="step-menu">
    <li role="button" [ngClass]="{'step-complete':uploadComplete}">Upload </li>
    <li role="button" [ngClass]="{'step-error':dataValidationError,'step-complete':dataValidationComplete}">Validation  </li>
    <li role="button" [ngClass]="{'step-complete':dataCreatedDone}">Data Created</li>
  </ul>
</div>

<div *ngIf = "showValidationError">
<div class="col-md-12">
  <div class="justify-between">
<div class="col-md-12">
  <div class="headertit">
    <h5 class="float-center">{{'Error Report ' | translate }}   <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain1Sub1}}</span> </h5>

  </div>
  <div class="col-xl-12 col-lg-12 col-sm-12  pt-4">
  <div class="form-row">
    <div class="custm-tab">
      <div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 7 ? true : false}" (click)="custumTabClick(7,1);">
        <p >{{'All Errors' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain8Sub1}}</span></p>
      </div>
      <div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 1 ? true : false}" (click)="custumTabClick(1,1);">
        <p>{{'District' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain2Sub1}}</span></p>
  </div>
  <div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 2 ? true : false}" (click)="custumTabClick(2,1);">
    <p>{{'Block' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain3Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 3 ? true : false}" (click)="custumTabClick(3,1);">
  <p>{{'CHC' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain4Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 4 ? true : false}" (click)="custumTabClick(4,1);">
  <p>{{'PHC' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain5Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 5 ? true : false}" (click)="custumTabClick(5,1);">
  <p>{{'SC' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain6Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 6 ? true : false}" (click)="custumTabClick(6,1);">
  <p>{{'ANM' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain7Sub1}}</span></p>
</div>

<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 8 ? true : false}" (click)="custumTabClick(8,1);">
  <p>{{'Testing CHC' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain9Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 9 ? true : false}" (click)="custumTabClick(9,1);">
  <p>{{'HPLC' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain10Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 10 ? true : false}" (click)="custumTabClick(10,1);">
  <p>{{'Molecular' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain11Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 11 ? true : false}" (click)="custumTabClick(11,1);">
  <p>{{'PNDT' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain12Sub1}}</span></p>
</div>
<div class="custum-tab-one" [ngClass]="{'tabselected':maintabSelected == 12 ? true : false}" (click)="custumTabClick(12,1);">
  <p>{{'MTP' | translate }} <span  class="badge badge-pill badge-warning shadow mx-1">{{countMain13Sub1}}</span></p>
</div>

</div>

  </div>
</div>
  </div>
</div>
</div>


<div class="table-responsive mt-5" *ngIf  = "showValidationError">
  <table id="tobescheduled-config" class="table table-bordered table-hover mb-4" datatable
  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th><span>{{'SNo' | translate }}</span></th>
        <th><span>{{'Data Label' | translate }}</span></th>
        <th><span>{{'Error Location' | translate }}</span></th>
          <th><span>{{'Error Message' | translate }}</span></th>
          <th><span>{{'Invalid Data' | translate }}</span></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subjectinfo of validateData ; index as i">

          <td style="text-align: center">{{i +1}}</td>
          <td style="text-align: center">{{subjectinfo.errorColumnNo}}</td>
          <td style="text-align: center">{{SheetName +'     Column - ' +subjectinfo.errorColumn }}</td>

          <td style="text-align: center">{{subjectinfo.errorMessage}}</td>
          <td style="text-align: center">{{subjectinfo.errorData}}</td>

          </tr>

      </tbody>
  </table>

  <!--  <input type="Submit" class="btn btn-success" value="Affix new barcode" id="btnShowHide">  -->
  <!-- <input type="Submit" class="btn btn-success" value="Recall status"> -->
</div>
<!--<img width="100%" *ngIf="imageUrl" [src]="imageUrl" class="image">-->
