<table id="customers" *ngIf="_imageArray.length > 0">
    <tr *ngFor="let person of _imageArray;index as i">
      <td>{{person.name}}</td>
      <td style="cursor: pointer; text-align: center; " (click)="deleteFile(i)"><i class="fas fa-trash-alt fa-2x "style="color:blue;" aria-hidden="true"></i></td>
    </tr>
   
  </table>
<input #inputFile type="file" (change)="handleFileInput($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
<button type="submit" class="btn btn-primary" value="" style="padding: 10px 30px;margin-top:20px;" (click)="uploadFiles();" *ngIf="_imageArray.length > 0"><a style="color: #fff;">Upload</a> </button>

<div class="table-responsive mt-5" *ngIf = "showValidationError">
  <table id="tobescheduled-config" class="table table-bordered table-hover mb-4">
      <thead>
          <tr>
              <th class="text-center"><span>{{'District Count' | translate}}</span></th>
              <th class="text-center"><span>{{'Block Count' | translate}}</span></th>
              <th class="text-center"><span>{{'CHC Count' | translate}}</span></th>
              <th class="text-center"><span>{{'PHC Count' | translate}}</span></th>
              <!-- <th class="text-center"><span>{{'LMPDate' | translate}}</span></th>                                     -->
              <th class="text-center"><span>{{'SC Count' | translate}}</span></th>
              <th class="text-center"><span>{{'ANM count' | translate}}</span></th>
              <th class="text-center"><span>{{'RI Count' | translate}}</span></th>
              <th class="text-center"><span>{{'AVD Count' | translate}}</span></th>
          </tr>

      </thead>
      <tbody>
          <tr>
              <td class="text-center">{{validateData?.districtCount}}</td>
              <td class="text-center">{{validateData?.blockCount}}</td>
              <td class="text-center">{{validateData?.chcCount}}</td>
              <td class="text-center">{{validateData?.phcCount}}</td>
              <td class="text-center">{{validateData?.scCount}}</td>
              <td class="text-center">{{validateData?.anMcount}}</td>
              <td class="text-center">{{validateData?.riCount}}</td>
              <td class="text-center">{{validateData?.avdCount}}</td>
              <!-- <td class="text-center">18/05/2020</td> 
              <td class="text-center"><a (click)="openpndtdetail(counsellingdata)"><i
                          class="fas fa-edit fa-2x"
                          aria-hidden="true"></i></a></td>-->

          </tr>
      </tbody>
  </table>

  <!--  <input type="Submit" class="btn btn-success" value="Affix new barcode" id="btnShowHide">  -->
  <!-- <input type="Submit" class="btn btn-success" value="Recall status"> -->
</div>


 
<div *ngIf = "showValidationError">
<div class="col-md-12">
  <div class="justify-between">
<div class="col-md-12">
  <div class="headertit">
    <h5 class="float-center">{{'Error Report' | translate }}</h5>
  </div>
</div>
  </div>
</div>
</div>

<div class="table-responsive mt-5" *ngIf = "showValidationError">
  <table id="tobescheduled-config" class="table table-bordered table-hover mb-4" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th><span>{{'SNo' | translate }}</span></th>
        <th><span>{{'Column Name' | translate }}</span></th>
          <th><span>{{'Error Count' | translate }}</span></th>                              
          <th><span>{{'Error ' | translate }}</span></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="sno text-center">{{1}}</td>
            <td class="text-left">{{'ANM' | translate}}</td>
            <td class="text-left">{{validateData?.anmError}}</td>
              <td class="text-left">{{validateData?.anmCodeError}}</td>
          </tr>
          <tr>

            <td class="sno text-center">{{2}}</td>
            <td class="text-left">{{'Block  ' | translate}}</td>
            <td class="text-left">{{validateData?.blockError}}</td>

              <td class="text-left">{{validateData?.blockCodeError}}</td>
          </tr>
          <!-- <tr>
            <td class="text-left">{{'Block Error Count' | translate}}</td>
              <td class="text-left">{{validateData?.blockError}}</td>
          </tr> -->
          <tr>
            <td class="sno text-center">{{3}}</td>
            <td class="text-left">{{'CHC ' | translate}}</td>
            <td class="text-left">{{validateData?.chcError}}</td>
              <td class="text-left">{{validateData?.chcCodeError}}</td>
          </tr>
          <!-- <tr>
            <td class="text-left">{{'CHC Error Count' | translate}}</td>
              <td class="text-left">{{validateData?.chcError}}</td>
          </tr> -->

          <tr>
            <td class="sno text-center">{{4}}</td>
            <td class="text-left">{{'District ' | translate}}</td>
              <td class="text-left">{{validateData?.districtError}}</td>
              <td class="text-left">{{validateData?.districtCodeError}}</td>
          </tr>
          
          <!-- <tr>
            <td class="text-left">{{'District Error Code' | translate}}</td>
              <td class="text-left">{{validateData?.districtError}}</td>
          </tr> -->
          <tr>
            <td class="sno text-center">{{5}}</td>
            <td class="text-left">{{'PHC ' | translate}}</td>
              <td class="text-left">{{validateData?.phcError}}</td>
              <td class="text-left">{{validateData?.phcCodeError}}</td>
          </tr>
          <!-- <tr>
            <td class="text-left">{{'PHC Error Count' | translate}}</td>
              <td class="text-left">{{validateData?.phcError}}</td>
          </tr> -->
          <tr>
            <td class="sno text-center">{{6}}</td>
            <td class="text-left">{{'SC ' | translate}}</td>
              <td class="text-left">{{validateData?.scError}}</td>
              <td class="text-left">{{validateData?.scCodeError}}</td>
          </tr>
          <!-- <tr>
            <td class="text-left">{{'SC Error Count' | translate}}</td>
              <td class="text-left">{{validateData?.scError}}</td>
          </tr> -->
      </tbody>
  </table>

  <!--  <input type="Submit" class="btn btn-success" value="Affix new barcode" id="btnShowHide">  -->
  <!-- <input type="Submit" class="btn btn-success" value="Recall status"> -->
</div>
<!--<img width="100%" *ngIf="imageUrl" [src]="imageUrl" class="image">-->