.molecular-lab-test-result
{
    border: 1px solid #000;
    padding: 10px;
    margin:20px 0;
}

.red-border-class
{
    border: 1px solid red;
}
.label-border-class
{
    color: red !important;
}

@media print {
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */

    @page{size:auto; margin:5mm;}
    @page :footer { 
        display: none
    } 
  
    @page :header { 
        display: none
    } 
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
   
    .print-none
    {
        display:none;
    }
    .print-show
{
    display:block;
}
    .print-btn
    {
        display: none;
    }
 
  }