<div class="container">
    <h4 class="pt-5 pb-2">About Us</h4>
    <p class="justify-content py-2" style="font-size: 15px;">Thalassemia and Sickle Cell Disease Control project is
        managed by the Christian Medical College, Vellore and Centre for Stem Cell Research (a unit of inStem Bengaluru)
        through a memorandum of understanding with Govt of Odisha through the National Health Mission Odisha.</p>

    <div class="row">
        <div class="col-md-6">
            <img src="assets/assets/img/aboutusimage.jpg" style="width: 100%">
            <div class="pt-4">
                <p style="font-size: 15px;"><a href="http://www.nrhmorissa.gov.in/" target="_blank"
                        style="color: blue;"> National Health Mission, Odisha</a></p>

            </div>
            <div class="pt-4">
                <p style="font-size: 15px;"><a href="http://www.cscr.in/" target="_blank" style="color: blue;"> Centre
                        for Stem Cell Research</a></p>
                <!-- <p>Click here to visit the site:- <a href="http://www.cscr.in/" target="_blank" style="color: blue;">Christian Medical College, Vellore</a></p> -->
            </div>
        </div>
        <div class="col-md-6">

            <img src="assets/assets/img/aboutusimage1.jpg" style="width: 100%; height: 70% !important;">
            <div class="pt-4">
                <p style="font-size: 15px;"><a href="https://www.cmch-vellore.edu/Home.aspx" target="_blank"
                        style="color: blue;"> Christian Medical College, Vellore</a></p>
                <!-- <p>Click here to visit the site:- <a href="https://www.cmch-vellore.edu/Home.aspx" target="_blank" style="color: blue;">Christian Medical College, Vellore</a></p> -->
            </div>
        </div>
        <!-- <div class="col-md-6">
            <h5>Centre for Stem Cell Research:</h5>
     <a href="http://www.cscr.in/" style="color: blue;">Christian Medical College, Vellore</a>
        </div> -->
    </div>
</div>