
   
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="anm" subMenum="sample-collection"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="row layout-top-spacing">
            <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
            <div class="col-md-12">
                <div class="justify-between">
                    <div class="col-md-4">
                        <div class="float-left mb-4">
                            <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-block']" role="button"
                            ngbTooltip="Block" placement="right"><i class="fas fa-chevron-left pNav-left"></i></a>
                          </div>
                    </div>
                    <!-- <h5 class="float-left">Sample Collection</h5> -->
                    <div class="col-md-4">
                      <div class="headertit">
                        <h5 class="float-center">{{'CHC' | translate }}</h5>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="float-right mb-4">
                        <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-phc']" role="button"
                        ngbTooltip="PHC" placement="left"><i class="fas fa-chevron-right pNav-right"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div *ngIf="chclistErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': chclistErrorMessage ==='No sample data  found', 'alert-danger': chclistErrorMessage !== 'No sample data  found'}">
                                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{chclistErrorMessage}}
                            </div>  
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12">
                            <a class="float-right mr-5" (click)="openAddChc(addChcDetail)"
                            role="button">
                                <i class="fas fa-plus-square text-primary fnt-size" aria-hidden="true"></i>
                            </a>
                        </div>
                      </div>
                      <div class="table-responsive mb-4">
                        <table id="statelist-tblconfig" class="table table-bordered table-hover tbl-ht" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                          <thead>
                            <tr>
                              <th><span>{{'SNo' | translate }}</span></th>
                              <th><span>{{'CHC Name' | translate }}</span></th>
                              <th><span>{{'CHC Code' | translate }}</span></th>
                              <th><span>{{'Pincode' | translate }}</span></th>
                              <th><span>{{'Latitude' | translate }}</span></th>
                              <th><span>{{'Longitude ' | translate }}</span></th>
                              <th><span>{{'Block' | translate }}</span></th>
                              <th><span>{{'District Name' | translate }}</span></th>
                              <th><span>{{'Comments' | translate }}</span></th>
                              <th><span>{{'Active' | translate }}</span></th>
                              <th><span>{{'Testing CHC' | translate }}</span></th>
                              <th><span class="wordwrap">{{'Edit' | translate }}</span></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let sample of chclists; index as i">
                              <td class="sno text-center">{{i +1}}</td>
                              <td class="sname text-left">{{sample.chcName}}</td>
                              <td class="sid text-center">{{sample.chcGovCode}}</td>
                              <td class="sid text-center">{{sample.pincode}}</td>
                              <td class="sid text-center">{{sample.latitude}}</td>
                              <td class="sid text-center">{{sample.longitude}}</td>
                              <td class="sid text-center">{{sample.chcName}}</td>
                              <td class="sid text-center">{{sample.districtname}}</td>
                              <td class="number text-center">{{sample.comments}}</td>
                              <td class="text-center">{{sample.isActive}}</td>
                              <td class="text-center">{{sample.testingCHC}}</td>
                             
                              <td class="text-center">
                                <a class="" (click)="openEditChc(editChcDetail, sample)"
                                role="button">
                                    <i class="fas fa-pencil-square" aria-hidden="true"></i>
                                  </a>
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                     
                  
                    <!-- The Modal -->
                    <ng-template #addChcDetail let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title modaltitle">{{'Add CHC' | translate }}</h4>
                            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                              </svg>
                            </button>
                          </div>
                          <div class="modal-body form-body">
                            <form class="text-left" (ngSubmit)="addChcForm.form.valid && onSubmit(addChcForm)" #addChcForm="ngForm" novalidate>
                              <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                                <div class="form-row">
                                  <div class="form-group col-md-3">
                                       
                                        <label [ngClass]="{'label-border-class':ddlDistrict.invalid && ddlDistrict.touched || addChcForm.submitted && ddlDistrict.invalid}" for="inputilrPoint">{{'District' | translate }}<span
                                            class="manto"> *</span></label>
                                            <select id="inputilrPoint" class="form-control"
                                            name="ddlDistrict" #ddlDistrict="ngModel" [class.is-invalid]="ddlDistrict.invalid && ddlDistrict.touched || addChcForm.submitted && ddlDistrict.invalid"
                                            required [(ngModel)]="selectedDistrict" (change)="onChangeDistrict($event.target.value)">
                                                <option value="">Select</option>
                                                <option *ngFor="let districtdata of districtlists" [(value)]="districtdata.id">
                                                    {{districtdata.districtName}}
                                                </option>
                                            </select>
                                              <small class=" ml-2 text-danger" *ngIf="ddlDistrict.invalid && ddlDistrict.touched ">Please choose a District</small>
                                              <div *ngIf="addChcForm.submitted && ddlDistrict.invalid">  
                                                <small *ngIf="ddlDistrict.untouched" class=" ml-2 text-danger">District is required</small>  
                                              </div>  
                                     
                                  </div>
                                  <div class="form-group col-md-3">
                                       
                                    <label [ngClass]="{'label-border-class':ddlBlock.invalid && ddlBlock.touched || addChcForm.submitted && ddlBlock.invalid}" for="inputilrPoint">{{'Block' | translate }}<span
                                        class="manto"> *</span></label>
                                        <select id="inputilrPoint" class="form-control"
                                        name="ddlBlock" #ddlBlock="ngModel" [class.is-invalid]="ddlBlock.invalid && ddlBlock.touched || addChcForm.submitted && ddlBlock.invalid"
                                        required [(ngModel)]="selectedBlock">
                                            <option value="">Select</option>
                                            <option *ngFor="let blockdata of blocklists" [(value)]="blockdata.id">
                                                {{blockdata.blockName}}
                                            </option>
                                        </select>
                                          <small class=" ml-2 text-danger" *ngIf="ddlBlock.invalid && ddlBlock.touched ">Please choose a Block</small>
                                          <div *ngIf="addChcForm.submitted && ddlBlock.invalid">  
                                            <small *ngIf="ddlDistrict.untouched" class=" ml-2 text-danger">Block is required</small>  
                                          </div>  
                                 
                              </div>
                              <div class="form-group col-md-3">
                                <label class="note">{{'CHC Code' | translate }}<span class="manto"> *</span></label>
                                <input class="form-control" name="chcCode" type="text" placeholder="CHC Code" ngModel pattern="^[a-zA-Z0-9]+$" required          
                                #chcCode ="ngModel" [class.is-invalid]="!chcCode.valid && chcCode.touched || addChcForm.submitted && chcCode.invalid">
                                <small class="text-danger ml-2" *ngIf="!chcCode.valid && chcCode.touched ">Enter CHC Code</small> 
                                <div *ngIf="addChcForm.submitted && chcCode.invalid">     
                                <small *ngIf="chcCode.untouched" class=" ml-2 text-danger">CHC Code is required</small>  
                                </div> 
                              </div>
                                  <div class="form-group col-md-3">
                                    <label class="note" [ngClass]="{'label-border-class':!chcName.valid && chcName.touched || addChcForm.submitted && chcName.invalid}">{{'CHC Name' | translate }} <span class="manto">*</span></label>
                                    <input class="form-control" name="chcName" type="text" placeholder="CHC Name" ngModel
                                    [class.is-invalid]="!chcName.valid && chcName.touched || addChcForm.submitted && chcName.invalid"
                                     #chcName="ngModel" required>
                                    <small class="text-danger ml-2" *ngIf="!chcName.valid && chcName.touched ">Enter CHC Name</small> 
                                    <div *ngIf="addChcForm.submitted && chcName.invalid">     
                                      <small *ngIf="chcName.untouched" class=" ml-2 text-danger">CHC Name is required</small>  
                                    </div> 
                                 
                              </div>
                              <div class="form-group col-md-3">
                                <label class="note">{{'Pincode' | translate }}<span class="manto"></span></label>
                                <input class="form-control field" name="pincodeData" type="text" placeholder="Pincode" 
                                  autocomplete="off" #pincodeData="ngModel" ngModel >
                              </div>
                              <div class="form-group col-md-3">
                                <label class="note">{{'Latitude' | translate }}<span class="manto"></span></label>
                                <input class="form-control field" name="latitudeData" type="text" placeholder="Latitude" 
                                  autocomplete="off" #latitudeData="ngModel" ngModel>
                              </div>
                              <div class="form-group col-md-3">
                                <label class="note">{{'Longitude' | translate }}<span class="manto"></span></label>
                                <input class="form-control field" name="longitudeData" type="text" placeholder="Longitude" 
                                  autocomplete="off" #longitudeData="ngModel" ngModel>
                              </div>
                    
                                  <!-- <div class="form-group col-md-3">
                                    <label class="note">{{'StateCode' | translate }}<span class="manto"></span></label>
                                    <input class="form-control" name="StateCode" type="text" placeholder="State Code" ngModel maxlength="6" pattern="^[a-zA-Z0-9]+$"
                                    [class.is-invalid]="!StateCode.valid && StateCode.touched || addChcForm.submitted && StateCode.invalid"
                                    #StateCode="ngModel" required>
                                    <small class="text-danger ml-2" *ngIf="!StateCode.valid && StateCode.touched ">Enter State Code</small> 
                                    <div *ngIf="addChcForm.submitted && StateCode.invalid">     
                                    <small *ngIf="StateCode.untouched" class=" ml-2 text-danger">State Code is required</small>  
                                    </div> 
                                  </div> -->

                                  <div class="form-group col-md-3">
                                    <label class="note">{{'Active' | translate}}<span class="manto"></span></label>
                                    <div class="n-chk">
                                        <label class="new-control new-checkbox checkbox-outline-primary">
                                          <input type="checkbox" class="new-control-input checkbox" 
                                          [checked]="confirmationSelected" (change)="confirmationSelected = !confirmationSelected">                             
                                          <span class="new-control-indicator"></span>&nbsp; &nbsp;
                                        </label>
                                    </div>
                                  </div>
                    
                                </div>
                    
                                <div class="form-row mt-4">
                                  <div class="form-group col-md-12">
                                    <label class="note" >{{'Comments' | translate }} <span class="manto"></span></label>
                                    <textarea id="textarea" class="form-control textarea" maxlength="225"
                                     rows="2"
                                    placeholder="" name=Comments #Comments="ngModel" ngModel></textarea>
                                  </div>                                                     
                                </div>
                              </div>
                    
                              <div class="modal-footer">
                                <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                                <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                                <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                              </div>
                            </form>
                    
                          </div>
                        
                       </ng-template> 

                       <ng-template #editChcDetail let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title modaltitle">{{'Edit CHC' | translate }}</h4>
                          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-x">
                              <line x1="18" y1="6" x2="6" y2="18"></line>
                              <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                          </button>
                        </div>
                        <div class="modal-body form-body">
                          <form class="text-left" (ngSubmit)="editChcForm.form.valid && editSubmit(editChcForm)" #editChcForm="ngForm" novalidate>
                            <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                              <div class="form-row">
                                <!-- <div class="form-group col-md-3">
                                      <label class="note">{{'State' | translate }} <span class="manto">*</span></label>
                                      <input class="form-control" name="editdistrictname" type="text" placeholder="State Name" ngModel                                      
                                       #editdistrictname="ngModel" [(ngModel)]="statetnamedata">                                              
                                </div> -->
                                <div class="form-group col-md-3">
                                    <label for="inputState">{{'District' | translate}} <span class="manto"></span></label>
                                    <select id="inputilrPoint" class="form-control"
                                    name="ddlEditDistrict" #ddlEditDistrict="ngModel" [(ngModel)]="selectedDistrict">
                                        <option value="">Select</option>
                                        <option *ngFor="let districtdata of districtlists" [(value)]="districtdata.id">
                                            {{districtdata.districtName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="note">{{'Block Name' | translate }}<span class="manto"></span></label>
                                    <input class="form-control field" name="editchcName" type="text" placeholder="Block Name" 
                                      autocomplete="off" #editchcName="ngModel" ngModel [(ngModel)]="chcNamedata">
                                  </div>
                                <div class="form-group col-md-3">
                                  <label class="note">{{'Block Code' | translate }}<span class="manto"></span></label>
                                  <input class="form-control" name="editchcCode" type="text" placeholder="Block Code" ngModel pattern="^[a-zA-Z0-9]+$"           
                                  #editchcCode="ngModel" [(ngModel)]="chcCodedata">
                                  
                                </div>
                               
                  
                                <div class="form-group col-md-3">
                                  <label class="note">{{'Active' | translate}}<span class="manto"></span></label>
                                  <div class="n-chk">
                                      <label class="new-control new-checkbox checkbox-outline-primary">
                                        <input type="checkbox" class="new-control-input checkbox" 
                                        [checked]="confirmationSelected" (change)="confirmationSelected = !confirmationSelected">                             
                                        <span class="new-control-indicator"></span>&nbsp; &nbsp;
                                      </label>
                                  </div>
                                </div>
                  
                              </div>
                  
                              <div class="form-row mt-4">
                                <div class="form-group col-md-12">
                                  <label class="note" >{{'Comments' | translate }} <span class="manto"></span></label>
                                  <textarea id="textarea" class="form-control textarea" maxlength="225"
                                   rows="2" [(ngModel)]="commentsdata"
                                  placeholder="" name=editComments #editComments="ngModel" ngModel></textarea>
                                </div>                                                     
                              </div>
                            </div>
                  
                            <div class="modal-footer">
                              <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                              <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                              <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                            </div>
                          </form>
                  
                        </div>
                      
                     </ng-template> 
                </div>
                <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->
        </div>
       
    </div>
</div>
<!--  END CONTENT AREA  -->
<!--  END MAIN CONTAINER  -->
