<div class="main-container" id="container">
  <div class="layout-px-spacing">
      <div class="row layout-top-spacing">
          <div class="col-md-12">
              
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4 d-flex justify-content-end">
                          <div class="btn-toolbar mb-2 mb-md-0">
                              <div class="btn-group">
                                  <!--<button type="button" class="btn btn-sm btn-outline-light">-->
                                  <!--    <img src="assets/img/excelimage.png" width="23px" class="downloadimg bs-tooltip" title="" data-original-ngbTooltip="Download as Excel"></button>-->
                                  <button type="button" class="btn btn-sm btn-outline-light">
                                      <img src="../../../../assets/assets/img/pdfimage.webp" width="23px" class="downloadimg bs-tooltip" title="" data-original-title="Download as PDF"></button>
                              </div>
                          </div>
                      </div>
              </div>
              
              
              <div class="row py-2 my-2" style="background-color: #1B55E2;">
  <div class="col-md-2">
      <img src="../../../../assets/assets/img/NRHM_GovOdishA_logo.png" class="mt-1" style="width:65%;">
  </div>
  <div class="col-md-8">
      <h4 class="text-center text-white pt-2">{{'THALASSEMIATITLE' | translate }}</h4>
      <h5 class="text-center text-white">{{'MTPDischargeSummaryReport' | translate }}</h5>
  </div>
  <div class="col-md-2">
      <img src="../../../../assets/assets/img/Insteam_CMC_logo.png" class="mt-1" style="width:65%;">
  </div>
</div>
              
              
              
              <div class="row">
                  <div class="col-md-5">
                      <!-- <h5 class="float-left"><a class="btn btn-primary" href="notification.html"
                              role="button">Pre PNDT Schedule</a></h5> -->
                  </div>
                  
                  
                  
                  <div class="col-md-4">
                      <!--<h5 class="float-left">PND Summary Report</h5>-->
                  </div>
                  <div class="col-md-4">
                      <div class="float-right mb-2">
                          <!-- <a class="btn btn-primary mb" href="counsellorschedulemtp.html" role="button">PNDT
                              Counsel & Confirm</a> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile showhidediv" id="showhidediv" style="display: none;">
              <div class="widget-content widget-content-area br-6">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <tbody class="">
                                      <tr>
                                          <td>
                                              <span class="float-left mt-0 mr-4">
                                                  <h5><b>{{'SubjectID' | translate}} :</b>{{pndSummarydata.anwSubjectId}}
                                                      <strong class="ml-5">{{'SubjectInfo' | translate}} :</strong>{{pndSummarydata.subjectName}}, {{pndSummarydata.age}} yrs
                                                      <strong class="ml-5">{{'RCHID' | translate}} :</strong>{{pndSummarydata.rchId}}
                                                  </h5>
                                              </span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
              <div class="widget-content widget-content-area br-6">
                  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped" id="tblBasicInfo">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="8" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>Subject Details</b>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="sp-xs-td-9"><b>{{'SubjectName' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{pndSummarydata.subjectName}}</td>
                                          <td class="sp-xs-td-9"><b>{{'SubjectID' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{pndSummarydata.anwSubjectId}}</td>
                                          <td class="sp-xs-td-9"><b>{{'Age' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{pndSummarydata.age}} yrs</td>
                                          <td class="sp-xs-td-9"><b>{{'RCHID' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{pndSummarydata.rchId}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>{{'LMPDate' | translate}}</b></td>
                                          <td>{{pndSummarydata.lmpDate}}</td>
                                          <td><b>{{'GestationalAge' | translate}}</b></td>
                                          <td>{{pndSummarydata.ga}}</td>
                                          <td><b>{{'ObstetricsScore' | translate}}</b></td>
                                          <td>{{pndSummarydata.obstetricScore}}</td>
                                          <td><b>{{'ECNumber' | translate}}</b></td>
                                          <td>{{pndSummarydata.ecNumber}}</td>
                                         
                                      </tr>
                                      
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing mt-3">
              <div class="widget-content widget-content-area br-6">
                 
                  <div class="container-fluid py-2" style="background-color: #e3e8ef;">
                      <div class="row">
                          <div class="col-md-12">
                              <td><b>{{'TestResultsSummary' | translate}}</b></td>
                          </div>
                      </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                            <thead> 
                                <tr>
                                    <th class="text-center"><span>{{'SubjectInfo' | translate}}</span></th>
                                    <th class="text-center"><span>{{'SSTResults' | translate}}</span></th>
                                    <th class="text-left"><span>{{'CBCResults' | translate}}</span></th>
                                    <th class="text-center"><span>{{'MCV' | translate}}</span></th>                                             
                                    <th class="text-center"><span>{{'RDW' | translate}}</span></th>
                                    <th class="text-center"><span>{{'RBC' | translate}}</span></th>
                                    
                                    <!-- <th class="text-left"><span>Diagnosis</span></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">{{pndSummarydata.subjectName}}, F</td>
                                    <td class="text-left">{{pndSummarydata.anwSSTestResult}}</td>
                                    <td class="text-left">{{pndSummarydata.anwCBCTestResult}}</td>
                                    <td class="text-center sp-xs-th">{{pndSummarydata.anwMCV}}</td>                                                                                          
                                    <td class="text-center">{{pndSummarydata.anwRDW}}</td>
                                    <td class="text-center">{{pndSummarydata.anwRBC}}</td>
                                    
                                    <!-- <td class="text-left"></td> -->
                                </tr>
                                <tr>
                                    <td class="text-left">{{pndSummarydata.spouseName}}, M</td>
                                    <td class="text-left">{{pndSummarydata.spouseSSTestResult}}</td>
                                    <td class="text-left">{{pndSummarydata.spouseCBCTestResult}}</td>
                                    <td class="text-center sp-xs-th">{{pndSummarydata.spouseMCV}}</td>                                                                                          
                                    <td class="text-center">{{pndSummarydata.spouseRDW}}</td>
                                    <td class="text-center">{{pndSummarydata.spouseRBC}}</td>
                                    
                                    <!-- <td class="text-left"></td> -->
                                </tr>
                            </tbody> 
                        </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped row-combined">
                                <thead class="tablecss">
                                    <!-- <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="14" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>Test Result Summary</b>
                                        </th>
                                    </tr> -->
                                    <tr>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'SubjectInfo' | translate}}</span></th>
                                        <th colspan="5" class="nt-border-right text-center"><b>{{'HPLCParameters' | translate}}</b></th>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'HPLCResults' | translate}}</span></th>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'LabDiagnosis' | translate}}</span></th>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'PathologistRemarks' | translate}}</span></th>
                                       
                                    </tr>
                                    <tr class="combined">
                                        <th class="text-center"><b>{{'HbA0' | translate}}</b></th>
                                        <th class="text-center"><b>{{'HbA2' | translate}}</b></th>
                                        <!--<th class="text-center"><b>HbC</b></th>-->
                                        <th class="text-center"><b>{{'HbD' | translate}}</b></th>
                                        <th class="text-center"><b>{{'HbF' | translate}}</b></th>
                                        <th class="text-center"><b>{{'HbS' | translate}}</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td class="text-left">{{pndSummarydata.subjectName}}, F</td>                                
                                        <td class="text-center">{{pndSummarydata.anwHbA0}}</td>
                                        <td class="text-center">{{pndSummarydata.anwHbA2}}</td>
                                        <!--<td class="text-center">{{pndSummarydata.hbC}}</td>-->
                                        <td class="text-center">{{pndSummarydata.anwHbD}}</td>
                                        <td class="text-center">{{pndSummarydata.anwHbF}}</td>
                                        <td class="text-center">{{pndSummarydata.anwHbS}}</td>
                                        <td class="text-left">{{pndSummarydata.anwHPLCTestResult}}</td>
                                        <td class="text-left">{{pndSummarydata.anwHPLCDiagnosis}}</td>
                                        <td class="text-left">{{pndSummarydata.anwHPLCDiagnosis}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left">{{pndSummarydata.spouseName}}, M</td>                                        
                                        <td class="text-center">{{pndSummarydata.spouseHbA0}}</td>
                                        <td class="text-center">{{pndSummarydata.spouseHbA2}}</td>
                                        <!--<td class="text-center">{{pndSummarydata.hbC}}</td>-->
                                        <td class="text-center">{{pndSummarydata.spouseHbD}}</td>
                                        <td class="text-center">{{pndSummarydata.spouseHbF}}</td>
                                        <td class="text-center">{{pndSummarydata.spouseHbS}}</td>
                                        <td class="text-left">{{pndSummarydata.spouseHPLCTestResult}}</td>
                                        <td class="text-left">{{pndSummarydata.spouseHPLCDiagnosis}}</td>
                                        <td class="text-left">{{pndSummarydata.anwHPLCDiagnosis}}</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
              <div class="widget-content widget-content-area br-6">
                  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped" id="tblBasicInfo">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="8" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>{{'PostPNDTCounselling' | translate}}</b>
                                          </th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                 <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <thead>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="text-left" style="width: 35%;"><b>{{'Date&Time' | translate}} </b></td>
                                          <!-- <td class="text-center"><b>3423422</b>|3423434|3423442</td> -->
                                          <td class="text-left">{{pndSummarydata.postPNDTCounsellingDateTime}}</td>
                                      </tr>
                                  </tbody>
                                  </table>

                          </div> 
                              </div>
                              <div class="col-md-6">
                                  <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <thead>
                                     
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="text-left" style="width: 35%;"><b> {{'CounsellingStatus' | translate}} </b></td>
                                          <!-- <td class="text-center"><b>3423422</b>|3423434|3423442</td> -->
                                      <td class="text-left">{{pndSummarydata.postPNDTCounsellingStatus}}</td>
                                         
                                          
                                 
                                      </tr>
                                      
                                     
                                  </tbody>
                                  </table>

                          </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


                 
                 <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
              <div class="widget-content widget-content-area br-6">
                  
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped" id="tblBasicInfo">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="8" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>{{'MTPService' | translate}}</b>
                                          </th>
                                      </tr>
                                  </thead>
                              </table>
                          </div>

                          <div class="row">
                              <div class="col-md-6">
                                 <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <thead>
                                      

                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="text-left" style="width: 35%;"><b>{{'Date&Time' | translate}} </b></td>
                                          <!-- <td class="text-center"><b>3423422</b>|3423434|3423442</td> -->
                                          <td class="text-left">{{pndSummarydata.mtpScheduleDate}} {{pndSummarydata.mtpScheduleTime}}</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left" style="width: 35%;"><b>{{'ObstetricianName' | translate}} </b></td>
                                          <!-- <td class="text-center"><b>3423422</b>|3423434|3423442</td> -->
                                          <td class="text-left">{{pndSummarydata.pndtObstetrician}} </td>
                                      </tr>
                                      <tr>
                                          <td class="text-left" style="width: 35%;"><b>{{'Examination' | translate}} </b></td>
                                          <!-- <td class="text-center"><b>3423422</b>|3423434|3423442</td> -->
                                          <td class="text-left"> {{pndSummarydata.mtpExamination}}</td>
                                      </tr>
                                      <tr>
                                          <td class="text-left" style="width: 35%;"><b>{{'Complications' | translate}}</b></td>
                                          
                                          <td class="text-left"> {{pndSummarydata.mtpComplecations}}</td>
                                      </tr>
                                  </tbody>
                                  </table>

                          </div> 
                              </div>
                              <div class="col-md-6">
                                  <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <thead>
                                     
                                  </thead>
                                  <tbody>
                                      <!--<tr>
                                          <td class="text-left" style="/* width: 35%; */width: 20%;"><b>PNDT Location</b> </td>
                                      <td class="text-left"></td>
                                      </tr>
                                      <tr>
                                          <td class="text-left" style="/* width: 35%; */"><b>Location</b> </td>
                                          <td class="text-left" style="width: 35%;">{{pndSummarydata.clinicalHistory}}</td>
                                      </tr>-->
                                      <tr>
                                          <td class="text-left" style="/* width: 35%; */"><b>{{'ClinicalHistory' | translate}}</b> </td>
                                          <td class="text-left">{{pndSummarydata.mtpClinicalHistory}}</td>
                                      </tr>
                                      <tr>
                                        <td class="text-left" style="width: 35%;"><b>{{'ProcedureofTesting' | translate}}</b></td>
                                        <td class="text-left"> {{pndSummarydata.mtpProcedureOfTesting}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left" style="width: 35%;"><b>{{'ConditionatDischarge' | translate}}</b></td>
                                        <td class="text-left"> {{pndSummarydata.mtpDischargeCondition}}</td>
                                    </tr>
                                  </tbody>
                                  </table>

                          </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </div>
          </div>
      </div>