



<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="anm" subMenum="Subject-Profile"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="layout-px-spacing">
             <div class="row layout-top-spacing">
                <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
                <div class="col-md-12">
                    <div class="justify-between">
                        <div class="col-md-4">
                            <div class="float-left mb-4"><a class="btn btn-outline-primary bs-tooltip"
                                [routerLink]="['/app/anm-subprofile']" role="button" ngbTooltip="Subject Profile" placement="right"><i
                                        class="fas fa-chevron-left pNav-left"></i></a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="headertit">
                                <h5 class="float-center">{{'ViewSubjectProfile' | translate }}</h5>
                            </div>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-sm-12" >


                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
                        <div class="widget-content widget-content-area br-6">
                            <div class="row mt-0 mb-2">
                                <div class="col-md-12">
                                    <div *ngIf="subjectProfileErrorMessage" class="alert mt-3 mb-2"
                                        [ngClass]="{'alert-warning': subjectProfileErrorMessage ==='No Subject found', 'alert-danger': subjectProfileErrorMessage !== 'No Subject found'}">
                                        <span class="fa fa-info-circle mr-2"
                                            style="font-size: 16px;"></span><strong>Oops!</strong>
                                        {{subjectProfileErrorMessage}}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <!-- <a class="btn btn-primary float-right mb-2" *ngIf="subjectprofileItem.primaryDetail.registeredFrom === 'CHC'" 
                                    (click)="anmchcsubjectprofile.chcSubjectProfiledata()"
                                    role="button"> <i class="fa fa-pencil append-icon mr-1"></i>{{'Edit' | translate }}</a> -->
        <div class="page-title">
          <p>Preg Woman</p>
          <p>Spouse</p>
        </div>
                                    
                                    <ul class="cbp_tmtimeline">
                                     
                                      <li>
                                        <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{anmsubjectProfileTrackingResponse?.dateofRegistration}}</span> <span>00:00</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Registration</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectProfileTrackingResponse?.samplingStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>{{returnDate(anmsubjectProfileTrackingResponse?.sampleCollectionDateTime)}}</span> <span>{{returnTime(anmsubjectProfileTrackingResponse?.sampleCollectionDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Sampling</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectProfileTrackingResponse?.shipmentToTestingCHCStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>{{returnDate(anmsubjectProfileTrackingResponse?.shipmentToTestingCHCDateTime)}}</span> <span>{{returnTime(anmsubjectProfileTrackingResponse?.shipmentToTestingCHCDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-mail"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Shipment</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectProfileTrackingResponse?.cbcStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>{{returnDate(anmsubjectProfileTrackingResponse?.cbcDateTime)}}</span> <span>{{returnTime(anmsubjectProfileTrackingResponse?.cbcDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>CBC Testing</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectProfileTrackingResponse?.shipmentToCentralLabStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectProfileTrackingResponse?.chcShipmentDateTime)}}</span> <span>{{returnTime(anmsubjectProfileTrackingResponse?.chcShipmentDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Shipping</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectProfileTrackingResponse?.hplcTestStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectProfileTrackingResponse?.hplcTestedDateTime)}}</span> <span>{{returnTime(anmsubjectProfileTrackingResponse?.hplcTestedDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Central Lab</h2>
                                        </div>
                                      </li>

                                      <li [ngClass]="{'greyed': !anmsubjectProfileTrackingResponse?.pndTestStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectProfileTrackingResponse?.postPNDTCounsellingDateTime)}}</span> <span>{{returnTime(anmsubjectProfileTrackingResponse?.postPNDTCounsellingDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>PNDT</h2>
                                        </div>
                                      </li>

                                      <li [ngClass]="{'greyed': !anmsubjectProfileTrackingResponse?.mtpStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectProfileTrackingResponse?.mtpDateTime)}}</span> <span>{{returnTime(anmsubjectProfileTrackingResponse?.mtpDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>MTP</h2>
                                        </div>
                                      </li>
                                    </ul>

                                    <ul class="cbp_tmtimeline">
                                      <li>
                                        <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{anmsubjectSpouseProfileTrackingResponse?.dateofRegistration}}</span> <span>00:00</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Registration</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectSpouseProfileTrackingResponse?.samplingStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-11T12:04"><span>{{returnDate(anmsubjectSpouseProfileTrackingResponse?.sampleCollectionDateTime)}}</span> <span>{{returnTime(anmsubjectSpouseProfileTrackingResponse?.sampleCollectionDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Sampling</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectSpouseProfileTrackingResponse?.shipmentToTestingCHCStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-13 05:36"><span>{{returnDate(anmsubjectSpouseProfileTrackingResponse?.shipmentToTestingCHCDateTime)}}</span> <span>{{returnTime(anmsubjectSpouseProfileTrackingResponse?.shipmentToTestingCHCDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-mail"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Shipment</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectSpouseProfileTrackingResponse?.cbcStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-15 13:15"><span>{{returnDate(anmsubjectSpouseProfileTrackingResponse?.cbcDateTime)}}</span> <span>{{returnTime(anmsubjectSpouseProfileTrackingResponse?.cbcDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>CBC Testing</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectSpouseProfileTrackingResponse?.shipmentToCentralLabStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectSpouseProfileTrackingResponse?.chcShipmentDateTime)}}</span> <span>{{returnTime(anmsubjectSpouseProfileTrackingResponse?.chcShipmentDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Shipping</h2>
                                        </div>
                                      </li>
                                      <li [ngClass]="{'greyed': !anmsubjectSpouseProfileTrackingResponse?.hplcTestStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectSpouseProfileTrackingResponse?.hplcTestedDateTime)}}</span> <span>{{returnTime(anmsubjectSpouseProfileTrackingResponse?.hplcTestedDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>Central Lab</h2>
                                        </div>
                                      </li>

                                      <li [ngClass]="{'greyed': !anmsubjectSpouseProfileTrackingResponse?.pndTestStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectSpouseProfileTrackingResponse?.postPNDTCounsellingDateTime)}}</span> <span>{{returnTime(anmsubjectSpouseProfileTrackingResponse?.postPNDTCounsellingDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>PNDT</h2>
                                        </div>
                                      </li>

                                      <li [ngClass]="{'greyed': !anmsubjectSpouseProfileTrackingResponse?.mtpStatus}">
                                        <time class="cbp_tmtime" datetime="2013-04-16 21:30"><span>{{returnDate(anmsubjectSpouseProfileTrackingResponse?.mtpDateTime)}}</span> <span>{{returnTime(anmsubjectSpouseProfileTrackingResponse?.mtpDateTime)}}</span></time>
                                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                                        <div class="cbp_tmlabel">
                                          <h2>MTP</h2>
                                        </div>
                                      </li>
                                    </ul>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    
                   
                    <i appLoadScript [script]="'assets/assets/js/profile.js'"></i>
                    <i appLoadScript [script]="'assets/assets/js/components/ui-accordions.js'"></i>
                    <i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
                    <i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
                    <i appLoadScript [script]="'assets/assets/js/custom.js'"></i>
                </div>
                
            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
</div>
<!--  END MAIN CONTAINER  -->
