<div class="tab-pane fade show active" id="PNDTC" role="tabpanel" aria-labelledby="PNDTC-tab">
    <div class="form-row">
        <div class="col-md-12">
            <div *ngIf="dcpndtReferralErrorMessage" class="alert mt-3 mb-2"
                [ngClass]="{'alert-warning': dcpndtReferralErrorMessage ==='No subjects found', 'alert-danger': dcpndtReferralErrorMessage !== 'No subjects found'}">
                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong>
                {{dcpndtReferralErrorMessage}}
            </div>
        </div>
    </div>
    <div class="table-responsive mb-4">
        <table id="dcpndtreferral-tblconfig" class="table table-bordered table-hover tbl-ht" datatable
            [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th class="text-center"><span>{{'SNo' | translate}}</span></th>>
                    <th class="text-center"><span>{{'ANMName' | translate}}</span></th>
                    <th class="text-center"><span>{{'ANMContact' | translate}}</span></th>
                    <th class="text-center"><span>{{'CHC' | translate}}</span></th>
                    <th class="text-center"><span>{{'SubjectName' | translate}}</span></th>
                    <th class="text-center"><span>{{'SubjectID' | translate}}</span></th>
                    <th class="text-center"><span>{{'GA' | translate}}</span></th>
                    <th class="text-center"><span>{{'FollowupStatus' | translate}}</span></th>
                    <th class="text-center"><span>{{'Details' | translate}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sample of pndtReferral; index as i">
                    <td class="sno text-center">{{i +1}}</td>
                    <td class="sname text-left">{{sample.anmName}}</td>
                    <td class="number">{{sample.anmContactNo}}</td>
                    <td class="text-left">{{sample.anwChcName}}</td>
                    <td class="sname">{{sample.anwSubjectName}}</td>
                    <td class="sid">{{sample.anwSubjectId}}</td>
                    <td class="text-center">{{sample.gestationalAge}}</td>
                    <td class="dropbtn">
                        <select class="form-control field" tabindex="7" #t
                            (change)="updateNotification(sample, t.value)">
                            <option value="0" [selected]="sample.followUpStatus === 'False'">{{'No' | translate}}</option>
                            <option value="1" [selected]="sample.followUpStatus === 'True'">{{'Yes' | translate}}</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <div class="dropdown custom-dropdown">
                            <a class="dropdown-toggle text-primary" role="button" id="dropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-more-horizontal">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                <a class="dropdown-item" (click)="openpndtReferral(pndtReferralDetail, sample)">{{'MoreInfo' | translate}}</a>

                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary float-right" (click)="pndtReferralUpdateStatus()" role="button">{{'UpdateStatus' | translate}}</a>
        </div>
    </div>
</div>
<!-- The Modal -->
<ng-template #pndtReferralDetail let-modal>
    <div class="modal-header">
        <h4 class="modal-title modaltitle">{{'SubjectDetails' | translate}}</h4>                                                                   
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>
    <div class="modal-body form-body">
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing mt-3 showhidediv-popup" id="showhidediv-pndt">
            <div class="widget-content widget-content-area br-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" style="margin-bottom: -1rem">
                            <table class="table table-bordered table-striped">
                                <tbody class="">
                                    <tr>
                                        <td>
                                            <span class="float-left mt-0 mr-4">
                                                <h5><b>{{'SubjectID' | translate}}</b> :                                                                   
                                                    {{anwSubjectId}}
                                                    <strong class="ml-5">{{'SubjectInfo' | translate}} :</strong>{{anwSubjectName}}, {{anwGender}}, {{anwAge}} yrs
                                                </h5>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing mt-3">
            <div class="widget-content widget-content-area br-6">
                <div class="container-fluid py-2" style="background-color: #e3e8ef;">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mt-2"><b>{{'BasicInfo' | translate}}</b></h6>                                
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="tblBasicInfo14">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <span>{{'Subject' | translate}}</span></th>
                                        <th class="text-center"><span>{{'SubjectID' | translate}}                                          </span></th>                                
                                        <th class="text-center"><span>{{'District' | translate}}                                          </span></th>                                
                                        <th class="text-center"><span>{{'CHC' | translate}}</span></th>                                                                   
                                        <th class="text-center"><span>{{'PHC' | translate}}</span></th>                                                                   
                                        <th class="text-center"><span>{{'SC' | translate}}</span></th>                                                                   
                                        <th class="text-center"><span>{{'RIPoint' | translate}}</span></th>                                                                   

                                       <th class="text-center"><span>{{'DateofBirth' | translate}}</span></th>                                                                   
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">{{anwSubjectName}}, {{anwGender}}, {{anwAge}} yrs </td>
                                        <td class="text-center">{{anwSubjectId}}
                                        </td>
                                        <td class="text-left">{{anwDistrictName}}</td>
                                        <td class="text-left">{{anwChcName}}</td>
                                        <td class="text-left">{{anwPhcName}}</td>
                                        <td class="text-left">{{anwScName}}</td>
                                        <td class="text-left">{{anwRiPoint}}</td>

                                        <td class="text-center">{{anwdob}}</td>

                                    </tr>
                                    <tr>
                                        <td class="text-left">{{spouseSubjectName}}, {{spouseGender}}, {{spouseAge}}
                                            yrs </td>
                                        <td class="text-center">{{spouseSubjectId}}
                                        </td>
                                        <td class="text-left">{{spouseDistrictName}}</td>
                                        <td class="text-left">{{spouseChcName}}</td>
                                        <td class="text-left">{{spousePhcName}}</td>
                                        <td class="text-left">{{spouseScName}}</td>
                                        <td class="text-left">{{spouseRiPoint}}</td>

                                        <td class="text-center">{{spouseDOB}}</td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing mt-3">
            <div class="widget-content widget-content-area br-6">
                <div class="container-fluid py-2" style="background-color: #e3e8ef;">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mt-2"><b>{{'SocioDemographicInfo' | translate}}</b></h6>                                
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <span>{{'Subject' | translate}}</span></th>
                                        <th class="text-center">
                                            <span>{{'Religion' | translate}}</span></th>                                 
                                        <th class="text-center">
                                            <span>{{'Caste' | translate}}</span></th>                                 
                                        <th class="text-center">
                                            <span>{{'Community' | translate}}</span></th>                                 
                                        <th class="text-center"><span>{{'ContactNo' | translate}}</span></th>                                 
                                        <th class="text-center">
                                            <span>{{'Address' | translate}}</span></th>                                 
                                        <!-- <th class="text-center"></th> -->
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-left">{{anwSubjectName}}, {{anwGender}}, {{anwAge}} yrs</td>
                                        <td class="text-left">{{anwReligion}}</td>
                                        <td class="text-left">{{anwCaste}}</td>
                                        <td class="text-left">{{anwCommunity}}</td>
                                        <td class="text-center">{{anwContactNo}}</td>
                                        <td class="text-left">{{address}}</td>
                                        <!-- <td class="text-left"></td> -->

                                    </tr>
                                    <tr>
                                        <td class="text-left">{{spouseSubjectName}}, {{spouseGender}}, {{spouseAge}}
                                            yrs </td>
                                        <td class="text-left">{{spouseReligion}}</td>
                                        <td class="text-left">{{spouseCaste}}</td>
                                        <td class="text-left">{{spouseCommunity}}</td>
                                        <td class="text-center">{{spouseContactNo}}</td>
                                        <td class="text-left">{{address}}</td>
                                        <!-- <td class="text-left"></td> -->

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing mt-3">
            <div class="widget-content widget-content-area br-6">
                <div id="toggleAccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne1">
                            <section class="mb-0 mt-0">
                                <div role="menu" class="collapsed"
                                    data-toggle="collapse"
                                    data-target="#defaultAccordionOne"
                                    aria-expanded="true"
                                    aria-controls="defaultAccordionOne">
                                    {{'PersonalInfo' | translate}} <div class="icons">                                                                                                      <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24"
                                            viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-chevron-down">
                                            <polyline points="6 9 12 15 18 9">
                                            </polyline>
                                        </svg></div>
                                </div>
                            </section>
                        </div>

                        <div id="defaultAccordionOne" class="collapse"
                            aria-labelledby="headingOne1"
                            data-parent="#toggleAccordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table
                                        class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    <span>{{'Subject' | translate}}</span></th>
                                                <th><span>{{'ECNumber' | translate}}</span></th>                                                                     
                                                <th class="text-center"><span>{{'RCHID' | translate}}</span></th>                                    
                                                <th class="text-center">
                                                    <span>{{'LMPDate' | translate}}</span></th>                                    
                                                <th class="text-center">
                                                    <span>{{'GA' | translate}}</span></th>                                    
                                                <th class="text-center">
                                                    <span>{{'GPLA' | translate}}</span></th>                                    
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">{{anwSubjectName}}, {{anwGender}}, {{anwAge}} yrs  </td>
                                                <td class="text-center">{{ecNumber}}
                                                </td>
                                                <td class="text-center">{{rchId}}</td>
                                                <td class="text-center">{{lmpDate}}</td>
                                                <td class="text-center">{{gestationalAge}}</td>
                                                <td class="text-center">{{gpla}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing mt-3">
            <div class="widget-content widget-content-area br-6">
                <div id="toggleAccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne11">
                            <section class="mb-0 mt-0">
                                <div role="menu" class="collapsed"
                                    data-toggle="collapse"
                                    data-target="#defaultAccordionOne1"
                                    aria-expanded="true"
                                    aria-controls="defaultAccordionOne1">
                                    {{'TestResults' | translate}} <div class="icons"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24"
                                            viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="feather feather-chevron-down">
                                            <polyline points="6 9 12 15 18 9">
                                            </polyline>
                                        </svg></div>
                                </div>
                            </section>
                        </div>

                        <div id="defaultAccordionOne1" class="collapse"
                            aria-labelledby="headingOne11"
                            data-parent="#toggleAccordion">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table
                                        class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    <span>{{'Subject' | translate}}</span></th>
                                                <th class="text-center">
                                                    <span>{{'Barcodes' | translate}}</span></th>
                                                <th class="text-center">
                                                    <span>{{'CBC' | translate}}</span></th>
                                                <th class="text-center">
                                                    <span>{{'SST' | translate}}</span></th>
                                                <th class="text-center">
                                                    <span>{{'HPLC' | translate}}</span></th>

                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">{{anwSubjectName}}, {{anwGender}}, {{anwAge}} yrs </td>
                                                <td class="text-center">
                                                    {{barcodeNo}}
                                                </td>
                                                <td class="text-left">
                                                    {{anwCBCTestResult}}</td>
                                                <td class="text-left">{{anwSSTestResult}}</td>
                                                <td class="text-left">
                                                    {{anwHPLCTestResult}}</td>

                                            </tr>
                                            <tr>
                                                <td class="text-left">{{spouseSubjectName}}, {{spouseGender}}, {{spouseAge}}
                                                    yrs</td>
                                                <td class="text-center">
                                                    {{spouseBarcodes}}
                                                </td>
                                                <td class="text-left">
                                                    {{spouseCBCTestResult}}</td>
                                                <td class="text-left">{{spouseSSTestResult}}</td>
                                                <td class="text-left">
                                                    {{spouseHPLCTestResult}}</td>

                                            </tr>
                                            <!-- <tr>
                                                <td class="text-left">Ajith, M,
                                                    27 yrs </td>
                                                <td class="text-center">
                                                    <b>3423422</b>|3423434|3423442
                                                </td>
                                                <td class="text-left">
                                                    Thalassemia Screening
                                                    Positive</td>
                                                <td class="text-left">SST
                                                    Positive</td>
                                                <td class="text-left">
                                                    Thalassemia</td>

                                            </tr> -->
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i> {{'Close' | translate}}</button>
        </div>
    </div>
    <i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
    <i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/pndtc/update-testresults.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/profile.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/components/ui-accordions.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/custom.js'"></i>
</ng-template>



