<table id="anmshipment-tblconfig1" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th><span>{{'SNo' | translate }}</span></th>
            <th><span>{{'SubjectName' | translate }}</span></th>
            <th><span>{{'SubjectID' | translate }}</span></th>
            <th><span>{{'RCHID' | translate }}</span></th>
            <th><span>{{'GA' | translate }}</span></th>
            <th><span>{{'Barcode' | translate }}</span></th>
            <th><span>{{'DateofTest' | translate }}</span></th>
            <th><span>{{'UpdateDiagnosis' | translate }}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of centralReceiptsData;index as i">
            <td style="text-align: center;">{{ i + 1}}</td>
            <td style="text-align: center;">{{ person.subjectId }}</td>
            <td style="text-align: center;">{{ person.rchId }}</td>
            <td style="text-align: center;">{{ person.barcodeNo }}</td>
            <td style="text-align: center;">{{ person.hbA0 }}</td>
            <td style="text-align: center;">{{ person.hbA2 }}</td>
            <td style="text-align: center;">{{ person.hbC }}</td>
            <td class="user-plus" (click)="openReportComponent(person);"><i class="fas fa-reply fa-2x arrow" aria-hidden="true" style="font-size: 18px;" ></i></td>
            
        </tr>
    </tbody>
</table>