<div class="tab-pane fade show active" id="postmtp" role="tabpanel" aria-labelledby="postmtp-tab">

    <div class="form-row">
        <div class="col-md-12">
            <div *ngIf="anmpostMTPErrorMessage" class="alert mt-3 mb-2"
                [ngClass]="{'alert-warning': anmpostMTPErrorMessage ==='No subjects found', 'alert-danger': anmpostMTPErrorMessage !== 'No subjects found'}">
                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong>
                {{anmpostMTPErrorMessage}}
            </div>
        </div>
    </div>
    <div class="table-responsive mb-4">
        <table id="postMTP-tblconfig" class="table table-bordered table-hover row-combined" datatable
            [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="tablecss">
                <tr>
                    <th rowspan="2" class="nt-border-right"><span>S.No</span></th>
                    <th rowspan="2" class="nt-border-right"><span>Subject Name</span>
                    </th>
                    <th rowspan="2" class="nt-border-right">Subject ID</th>
                    <th rowspan="2" class="nt-border-right"><span>RCH ID</span></th>
                    <th rowspan="2" class="nt-border-right">Contact</th>
                    <th colspan="3" class="nt-border-right">MTP Procedure</th>
                    <th colspan="3" class="nt-border-right">Status</th>
                    <th rowspan="2" class="nt-border-right"><span>Update Status</span>


                </tr>
                <tr class="combined">
                    <!-- <th class="text-center">S.No</th> -->
                    <th class="text-center">Date</th>

                    <th class="text-center">Location</th>
                    <th class="nt-border-right text-center">Obstetrician Name</th>
                    <th class="text-center">1st Follow-up
                        (MTP+40)</th>
                    <th class="text-center">2nd Follow-up
                        (MTP+50)</th>
                    <th class="nt-border-right text-center">3rd Follow-up
                        (MTP+60)</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sample of postMTP; let i = index;">
                    <td class="text-center nt-border-right">{{i +1}}</td>
                    <td class="text-left nt-border-right">{{sample.subjectName}}</td>
                    <td class="text-center nt-border-right">{{sample.uniqueSubjectId}}</td>
                    <td class="text-center nt-border-right">{{sample.rchId}}</td>
                    <td class="nt-border-right text-center">{{sample.contactNo}}</td>
                    <td class="text-center">{{sample.mtpDateTime}}</td>
                    <td class="text-center"></td>
                    <td class="nt-border-right text-left">{{sample.obstetricianName}}</td>
                    <td class="text-center">
                        <select id="inputDistrict" class="form-control" name ="selectedfirstfollowup_{{$index}}"
                            #selectedfirstfollowup="ngModel" ngModel>
                            <option value="">Select</option>
                            <option *ngFor="let firstfollowup of postMTP.firstfollowUpStatus" [(value)]="firstfollowup.id">
                                {{firstfollowup.name}}
                            </option>
                        </select>
                        <div *ngIf="selectedfirstfollowup === '1'">
                            <input class="form-control field" name="name" required="" type="text"
                                placeholder="Status Detail" tabindex="1" autocomplete="off" [(ngModel)]="firstfollowUpStatusdetail">
                        </div>
                    </td>
                    <td class="text-center">
                        <div (click)='toggleSecondDisable()'>
                            <select id="inputDistrict" class="form-control" name="selectedsecondfollowup" [disabled]= "is_secondfollowup_edit"
                                [(ngModel)]="selectedsecondfollowup">
                                <option value="">Select</option>
                                <option *ngFor="let secondfollowup of secondfollowUpStatus" [(value)]="secondfollowup.id">
                                    {{secondfollowup.name}}
                                </option>
                            </select>

                            <div *ngIf="selectedsecondfollowup === '2'">
                                <input class="form-control field" name="name" required="" type="text" [(ngModel)]="secondfollowUpStatusdetail"
                                    placeholder="Status Detail" tabindex="1" autocomplete="off">
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div (click)='toggleThirdDisable()'>
                            <select id="inputDistrict" class="form-control" name="selectedthirdfollowup" [disabled]="is_thirfollowup_edit"
                                [(ngModel)]="selectedthirdfollowup">
                                <option value="">Select</option>
                                <option *ngFor="let thirdfollowup of thirdfollowUpStatus" [(value)]="thirdfollowup.id">
                                    {{thirdfollowup.name}}
                                </option>
                            </select>
                            <div *ngIf="selectedthirdfollowup === '2'">
                                <input class="form-control field" name="name" required="" type="text" [(ngModel)]="secondfollowUpStatusdetail"
                                    placeholder="Status Detail" tabindex="1" autocomplete="off">
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-primary float-right" (click)="postmtpUpdateStatus(sample)" role="button">Update</a> 
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary float-right" (click)="postmtpUpdateStatus()" role="button">Update Status</a>
        </div>
    </div> -->
</div>

<i appLoadScript [script]="'assets/assets/js/anm-module/post-mtp-followup.js'"></i>
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>

<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/notificationunsent-flatpickr.js'"></i>
<i appLoadScript [script]="'assets/plugins/flatpickr/notificationtimeout-flatpickr.js'"></i>
<i appLoadScript [script]="'assets/plugins/flatpickr/notificationpositive-flatpickr.js'"></i> -->
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>