#formValidate .wizard > .content {min-height: 25em;}
#example-vertical.wizard > .content {min-height: 24.5em;}

.layout-px-spacing {
    min-height: calc(100vh - 166px) !important;
}

h5.float-left {
    color: #1b55e2;
    font-weight: 600;
    text-shadow: 1px 0px #125879;
    font-size: 25px;
}


.modaltitle {
    color: #1b55e2;
    font-weight: 600;
    text-shadow: 1px 0px #125879;
    font-size: 20px;
    /* text-align: center; */
}
.swal2-modal .swal2-styled {

padding: 9px 6px !important;
}
/*
----------------------------------------------
                  CHECKBOX
----------------------------------------------
*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */

[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #09ad7e;
    border-radius: 3px;
}

[type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 3px;

}

/* checked mark aspect */

[type="checkbox"]:checked+label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    color: #f8f8f8;
    transition: all .2s;
}

[type="checkbox"]:not(:checked)+label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    color: #ddd;
    transition: all .2s;

}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked+label:after {
    color: #999;
}

[type="checkbox"]:disabled+label {
    color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {
    outline: none !important;
}



[type="checkbox"]:not(:checked)+label {
    color: #ddd;
}
.selectt {  
    display: none;  
     
} 
.manto {
color: red;
font-weight: 600;
}

@media (min-width: 576px) {
.form-inline .form-control {
display: inline-block;
width: auto;
vertical-align: middle;
}
}


::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  ::ng-deep .mat-horizontal-content-container
  {
      padding:0 !important;
  }

  .reges-form-main-container
  {
    background: #f6f6f6;
    padding: 5px;
  }

  .reges-form-main-container:hover
  {
    background: #f3f3f3;
    display: block;
    -webkit-box-shadow: 2px 2px 2px 2px #1b55e26b;
    -moz-box-shadow: 2px 2px 2px 2px #1b55e26b;
    box-shadow: 2px 2px 4px 4px #1b55e26b;
  }
  .float-right
  {
    float:right;
  }
  .reges-form-bottom-btns
  {
      margin-top:15px;
      margin-bottom: 10px;
  }

  .reg-btn-disable
  {
      color:#888ea8;
      background: #ebedf2;
  }
  .reg-btn-enable
  {
      color:#ffffff;
      background: #1b55e2;
  }
.red-border-class
{
    border: 1px solid red;
}
.label-border-class
{
    color: red !important;
}
::ng-deep input.flatpickr-input
{
    border:none;
    background: transparent !important;
    background-color: transparent !important;
    max-width: 100%;
}

.fa-check-circle
{
    font-size: 50px !important;
}
.subject-id
{
    margin-top:20px;
}
.modal-btn
{
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #1b55e2;
    color: #fff;
    padding: 12px 12px !important;
    font-size: 14px !important;
    margin-top:20px;
}
.modal-btn-1
{
    margin-right:20px;
}
/*.form-control.ng-untouched,
.form-control.ng-valid {
    border: 1px solid red;
}*/
.user-plus
{
    text-align: center;
}
.float-left
{
    float:left;
}

@media (min-width: 576px)
{
    .modal-dialog {
        max-width: 90% !important;
        margin: 1.75rem auto;
    }
}

.form-group
{
    text-align: left !important;
}

::ng-deep .swal2-popup
{
    width: 30em !important;
}
::ng-deep .swal2-popup .swal2-styled.swal2-cancel
{
    display: inline-block;
    border-left-color: rgb(27, 85, 226);
    border-right-color: rgb(27, 85, 226);
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #1b55e2;
    color: #fff;
    font-size: 14px;
}
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .user-plus i,.user-plus{
    cursor: pointer;
    color: #1b55e2;
}
.user-plus:hover i
{
  color: blue;
}

::ng-deep .swal2-container.swal2-top-end, ::ng-deep .swal2-container.swal2-top-right {
    align-items: flex-start;
    justify-content: flex-end;
}
::ng-deep .swal2-container.swal2-top-end .swal2-popup
{
    position: absolute;
}

.upload-btn-cont
{
    display: block;
    height: 40px;
}
::ng-deep .swal2-styled.swal2-cancel
{
    font-size: 13px;
    color:#3085d6 !important;
    border:1px solid #3085d6;
}