<table id="customers" *ngIf="_imageArray.length > 0">
    <tr *ngFor="let person of _imageArray;index as i">
      <td>{{person.name}}</td>
      <td style="cursor: pointer;" (click)="deleteFile(i)">{{'Delete' | translate }}</td>
    </tr>
   
  </table>
<input #inputFile type="file" (change)="handleFileInput($event.target.files)" accept="text/xml" />
<button type="submit" class="btn btn-primary" value="" style="padding: 10px 30px;margin-top:20px;" (click)="uploadFiles();" *ngIf="_imageArray.length > 0"><a style="color: #fff;">Upload</a> </button>

<!--<img width="100%" *ngIf="imageUrl" [src]="imageUrl" class="image">-->