

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="search-overlay"></div>
  <!--  BEGIN SIDEBAR  -->
  <div class="sidebar-wrapper sidebar-theme">
      <app-site-sidebar module="admin" subMenum="sample-collection"></app-site-sidebar>
  </div>
  <!--  END SIDEBAR  -->

  <!--  BEGIN CONTENT AREA  -->

  <div id="content" class="main-content">
      <div class="row layout-top-spacing">
          <!-- <div class="col-md-12 text-center">
              <h5 class="">ANM Name - PHC Name</h5>
          </div> -->
          <div class="col-md-12">
              <div class="justify-between">
                  <div class="col-md-4">
                      <div class="float-left mb-4">
                          <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-ri-point']" role="button"
                          ngbTooltip="RI-POINT" placement="right"><i class="fas fa-chevron-left pNav-left"></i></a>
                        </div>
                  </div>
                  <!-- <h5 class="float-left">Sample Collection</h5> -->
                  <div class="col-md-4">
                    <div class="headertit">
                      <h5 class="float-center">{{'PNDT' | translate }}</h5>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="float-right mb-4">
                      <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-hplc']" role="button"
                      ngbTooltip="HPLC" placement="left"><i class="fas fa-chevron-right pNav-right"></i></a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
              <div class="widget-content widget-content-area br-6">
                  <!-- <div class="form-row">
                      <div class="col-md-12">
                          <div *ngIf="pndtlistErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': pndtlistErrorMessage ==='No sample data  found', 'alert-danger': pndtlistErrorMessage !== 'No sample data  found'}">
                              <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{pndtlistErrorMessage}}
                          </div>
                      </div>
                    </div> -->
                    <div class="form-row">
                      <div class="col-md-12">
                          <a class="float-right mr-5" (click)="openAddPNDT(addPNDTDetail)"
                          role="button">
                              <i class="fas fa-plus-square text-primary fnt-size" aria-hidden="true"></i>
                          </a>
                      </div>
                    </div>
                    <div class="table-responsive mb-4">
                      <table id="statelist-tblconfig" class="table table-bordered table-hover tbl-ht" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th><span>{{'SNo' | translate }}</span></th>                             
                            <th><span>{{'PNDT Name' | translate }}</span></th> 
                            <th><span>{{'PNDT Code' | translate }}</span></th>                                                                                  
                            <th><span>{{'Comments' | translate }}</span></th>
                            <!-- <th><span>{{'Active' | translate }}</span></th> -->
                            <th><span class="wordwrap">{{'Edit' | translate }}</span></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sample of pndtlists; index as i">
                            <td class="sno text-center">{{i +1}}</td>                          
                            <td class="sid text-center">{{sample.pndtlocationName}}</td>
                            <td class="sname text-left">{{sample.pndtCode}}</td>                                                                                       
                            <td class="number text-center">{{sample.comments}}</td>
                            <!-- <td class="text-center" *ngIf="sample.isActive=='True'">{{'Active' | translate }}</td>
                            <td class="text-center" *ngIf="sample.isActive=='False'">{{'InActive' | translate }}</td> -->
          

                            <td class="text-center">
                              <a class="" (click)="openEditPNDT(editPNDTDetail, sample)"
                              role="button">
                                  <i class="fas fa-pencil-square" aria-hidden="true"></i>
                                </a>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>


                  <!-- The Modal -->
                  <ng-template #addPNDTDetail let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title modaltitle">{{'Add PNDT' | translate }}</h4>
                          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-x">
                              <line x1="18" y1="6" x2="6" y2="18"></line>
                              <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                          </button>
                        </div>
                        <div class="modal-body form-body">
                          <form class="text-left" (ngSubmit)="addPndtForm.form.valid && onSubmit(addPndtForm)" #addPndtForm="ngForm" novalidate>
                            <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                              <div class="form-row">
                                 
                                <div class="form-group col-md-3">
                                  <label class="note" [ngClass]="{'label-border-class':!pndtlocationName.valid && pndtlocationName.touched || addPndtForm.submitted && pndtlocationName.invalid}">{{'PNDT Name' | translate }} <span class="manto">*</span></label>
                                  <input class="form-control" name="pndtlocationName" type="text" placeholder="PNDT Name" ngModel  required
                                  [class.is-invalid]="!pndtlocationName.valid && pndtlocationName.touched || addPndtForm.submitted && pndtlocationName.invalid"
                                   #pndtlocationName="ngModel" required>
                                  <small class="text-danger ml-2" *ngIf="!pndtlocationName.valid && pndtlocationName.touched ">Enter PNDT Name</small>
                                  <div *ngIf="addPndtForm.submitted && pndtlocationName.invalid">
                                    <small *ngIf="pndtlocationName.untouched" class=" ml-2 text-danger">PNDT Name is required</small>
                                  </div>

                            </div>
                          
                                <div class="form-group col-md-3">
                                  <label class="note" [ngClass]="{'label-border-class':!pndtCode.valid && pndtCode.touched || addPndtForm.submitted && pndtCode.invalid}">{{'PNDT Code' | translate }}<span class="manto"> *</span></label>
                                  <input class="form-control" name="pndtCode" type="text" placeholder="PNDT Code" ngModel 
                                  #pndtCode="ngModel" required [class.is-invalid]="!pndtCode.valid && pndtCode.touched || addPndtForm.submitted && pndtCode.invalid">
                                  <small class="text-danger ml-2" *ngIf="!pndtCode.valid && pndtCode.touched ">Enter PNDT Code</small>
                                  <div *ngIf="addPndtForm.submitted && pndtCode.invalid">
                                  <small *ngIf="pndtCode.untouched" class=" ml-2 text-danger">PNDT Code is required</small>
                                  </div>
                                </div>

                                <!-- <div class="form-group col-md-3">
                                  <label class="note">{{'Active' | translate}}<span class="manto"></span></label>
                                  <div class="n-chk">
                                      <label class="new-control new-checkbox checkbox-outline-primary">
                                        <input type="checkbox" class="new-control-input checkbox"
                                        [checked]="confirmationSelected" (change)="confirmationSelected = !confirmationSelected">
                                        <span class="new-control-indicator"></span>&nbsp; &nbsp;
                                      </label>
                                  </div>
                                </div> -->
                              </div>

                              <div class="form-row mt-4">
                                <div class="form-group col-md-12">
                                <label class="note" [ngClass]="{'label-border-class':!Comments.valid && Comments.touched || addPndtForm.submitted && Comments.invalid}">{{'Comments' | translate }} <span class="manto">*</span></label>
                                   <textarea id="textarea" class="form-control textarea" maxlength="225" rows="2" 
                                   [class.is-invalid]="!Comments.valid && Comments.touched || addPndtForm.submitted && Comments.invalid"
                                    name=Comments #Comments="ngModel" ngModel required></textarea>
                                 </div>
                                 <!-- <small class="text-danger ml-2" *ngIf="!contactNo.valid && contactNo.touched ">Enter Comments</small> -->
                                <div *ngIf="addPndtForm.submitted && Comments.invalid">
                                    <small *ngIf="Comments.untouched" class=" ml-2 text-danger">Comments required</small>
                                     </div>
                                     </div>
                            </div>

                            <div class="modal-footer">
                              <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                              <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                              <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                            </div>
                          </form>

                        </div>

                     </ng-template>

                     <ng-template #editPNDTDetail let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title modaltitle">{{'Edit PNDT' | translate }}</h4>
                        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                          </svg>
                        </button>
                      </div>
                      <div class="modal-body form-body">
                        <form class="text-left" (ngSubmit)="editPNDTForm.form.valid && editSubmit(editPNDTForm)" #editPNDTForm="ngForm" novalidate>
                          <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                            <div class="form-row">
                             
                             

                              <div class="form-group col-md-3">
                                <label class="note" [ngClass]="{'label-border-class':!editpndtlocationName.valid && editpndtlocationName.touched || editPNDTForm.submitted && editpndtlocationName.invalid}">{{'PNDT Name' | translate }} <span class="manto"> *</span></label>
                                <input class="form-control" name="editpndtlocationName" type="text" placeholder="PNDT Name"
                                [class.is-invalid]="!editpndtlocationName.valid && editpndtlocationName.touched || editPNDTForm.submitted && editpndtlocationName.invalid"
                                #editpndtlocationName="ngModel"  required [(ngModel)]="pndtlocationNamedata"  required>
                                <small class="text-danger ml-2" *ngIf="!editpndtlocationName.valid && editpndtlocationName.touched ">Enter PNDT Name</small>
                                <div *ngIf="editPNDTForm.submitted && editpndtlocationName.invalid">
                                  <small *ngIf="editpndtlocationName.untouched" class=" ml-2 text-danger">SC Name is required</small>
                                </div>

                          </div>
        
                              <div class="form-group col-md-3">
                                <label class="note">{{'PNDT Code' | translate }}<span class="manto"> *</span></label>
                                <input class="form-control" name="editPNDTCode" type="text" placeholder="PNDT Code" ngModel 
                                #editPNDTCode="ngModel" [(ngModel)]="pndtcodedata" disabled="editPNDTCode" >
                              </div>
                            </div>

                            <div class="form-row mt-4">
                              <div class="form-group col-md-12">
                                <label class="note"  [ngClass]="{'label-border-class':!editComments.valid && editComments.touched || editPNDTForm.submitted && editComments.invalid}">{{'Comments' | translate }} <span class="manto">*</span></label>
                                <textarea id="textarea" class="form-control textarea" maxlength="225" rows="2"
                                [class.is-invalid]="!editComments.valid  && editComments.touched || editPNDTForm.submitted && !editComments.valid"
                                name=editComments #editComments="ngModel" [(ngModel)]="commentsdata" required ></textarea>
                              </div>
                              <small class="text-danger ml-2" *ngIf="!editComments.valid && editComments.touched ">Enter Comments</small>
                              <div *ngIf="editPNDTForm.submitted && !editComments.valid">
                                <small *ngIf="editComments.untouched" class=" ml-2 text-danger">Comments required</small>
                                 </div>
                            </div> 
                          </div>

                          <div class="modal-footer">
                            <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                            <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                            <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                          </div>
                        </form>
                      </div>

                   </ng-template>
              </div>
              <!--  END CONTENT AREA  -->
          </div>
          <!-- END MAIN CONTAINER -->
      </div>

  </div>
</div>
<!--  END CONTENT AREA  -->
<!--  END MAIN CONTAINER  -->
