<div class="tab-pane fade show" id="scheduled" role="tabpanel" aria-labelledby="scheduled-tab">
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="form-row ml-3 my-2">
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">District</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option>Balasore</option>
                        <option>Bargah</option>
                        <option>Cuttack</option>
                        <option>Koraput</option>
                        <option>Sambalpur</option>
                        <option>Jharsugud</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">CHC</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">PHC</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">ANM</label>
                    <select id="inputDistrict" class="form-control" required>
                        <option selected>Select</option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
                <div class="px-2 bd-highlight search-margin">
                    <!-- <button type="submit" class="btn btn-primary search-btn">Search</button> -->
                    <a href=""><button type="submit" class="btn search-bu">
                            <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button></a>
                </div>
            </div>
            <div class="table-responsive my-2">
                <table id="zero-config1" class="table table-bordered table-hover mb-4">
                    <thead>
                        <tr>
                            <th><span>S.No</span></th>
                            <th style="text-align: left"><span>Subject Name</span></th>
                            <th><span>Subject ID</span></th>
                            <th><span>RCH ID</span></th>
                            <th><span>Spouse Name</span></th>
                            <th><span>Contact</span></th>
                            <th><span>GA</span></th>
                            <th><span>Obstetric Score</span></th>
                            <th><span>Counsellor</span></th>
                            <th class="scheduledate"><span>Date & Time</span></th>
                            <th><span>Notified</span></th>
                            <th><span>Edit Appointment</span></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td style="text-align: left">Alkha</td>
                            <td>OD001202032110</td>
                            <td class="sid">123456</td>
                            <td style="text-align: left">Rajesh</td>
                            <td>9876545670</td>
                            <td>14.5</td>
                            <td class="sname">G2-P1-L1-A1</td>
                            <td>Dr.Avinash</td>
                            <td>29/04/2020 17:30</td>
                            <td></td>
                            <td><a href="#"><i class="fas fa-calendar-alt fa-2x" aria-hidden="true" data-toggle="modal"
                                        data-target=".bd-example-modal-xl"></i></a></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td style="text-align: left">Aswini</td>
                            <td>OD001202032111</td>
                            <td class="sid">234651</td>
                            <td style="text-align: left">Akash</td>
                            <td>9876545670</td>
                            <td>11.5</td>
                            <td class="sname">G2-P1-L1-A1</td>
                            <td>Dr.Avinash</td>
                            <td>29/04/2020 16:30</td>
                            <td></td>
                            <td><a href="#"><i class="fas fa-calendar-alt fa-2x" aria-hidden="true"></i></a></td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td style="text-align: left">Praveena</td>
                            <td>OD001202032112</td>
                            <td class="sid">412365</td>
                            <td style="text-align: left">Sooraj</td>
                            <td>9876545670</td>
                            <td>12.5</td>
                            <td class="sname">G2-P1-L1-A1</td>
                            <td>Dr.Avinash</td>
                            <td>29/04/2020 14:40</td>
                            <td></td>
                            <td><a href="#"><i class="fas fa-calendar-alt fa-2x" aria-hidden="true"></i></a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
                <!--  END CONTENT AREA  -->
        </div>
    </div>
</div>