

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="admin" subMenum="sample-collection"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="row layout-top-spacing">
            <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
            <div class="col-md-12">
                <div class="justify-between">
                  <div class="col-md-4"></div>
                    <!-- <div class="col-md-4">
                        <div class="float-left mb-4">
                            <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-state']" role="button"
                            ngbTooltip="State" placement="right"><i class="fas fa-chevron-left pNav-left"></i></a>
                          </div>
                    </div> -->
                    <!-- <h5 class="float-left">Sample Collection</h5> -->
                    <div class="col-md-4">
                      <div class="headertit">
                        <h5 class="float-center">{{'District' | translate }}</h5>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="float-right mb-4">
                        <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-block']" role="button"
                        ngbTooltip="Block" placement="left"><i class="fas fa-chevron-right pNav-right"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <!-- <div class="form-row">
                        <div class="col-md-12">
                            <div *ngIf="districtlistErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': districtlistErrorMessage ==='No sample data  found', 'alert-danger': districtlistErrorMessage !== 'No sample data  found'}">
                                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{districtlistErrorMessage}}
                            </div>
                        </div>
                      </div> -->
                      <div class="form-row">
                        <div class="col-md-12">
                            <a class="float-right mr-5" (click)="openAddDistrict(addDistrictDetail)"
                            role="button">
                                <i class="fas fa-plus-square text-primary fnt-size" aria-hidden="true"></i>
                            </a>
                        </div>
                      </div>
                      <div class="table-responsive mb-4">
                        <table id="statelist-tblconfig" class="table table-bordered table-hover tbl-ht" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                          <thead>
                            <tr>
                              <th><span>{{'SNo' | translate }}</span></th>                             
                              <th><span>{{'District Name' | translate }}</span></th> 
                              <th><span>{{'District Code' | translate }}</span></th>  
                              <!-- <th><span>{{'State' | translate }}</span></th>                                                      -->
                              <th><span>{{'Comments' | translate }}</span></th>
                              <!-- <th><span>{{'Active' | translate }}</span></th> -->
                              <th><span class="wordwrap">{{'Edit' | translate }}</span></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let sample of districtlists; index as i">
                              <td class="sno text-center">{{i +1}}</td>                          
                              <td class="sid text-center">{{sample.name}}</td>
                              <td class="sname text-left">{{sample.districtGovCode}}</td>
                              <!-- <td class="sid text-center">{{sample.stateName}}</td>                                                           -->
                              <td class="number text-center">{{sample.comments}}</td>
                              <!-- <td class="text-center" *ngIf="sample.isActive=='True'">{{'Active' | translate }}</td> -->
                              <!-- <td class="text-center" *ngIf="sample.isActive=='False'">{{'InActive' | translate }}</td> -->
            

                              <td class="text-center">
                                <a class="" (click)="openEditDistrict(editDistrictDetail, sample)"
                                role="button">
                                    <i class="fas fa-pencil-square" aria-hidden="true"></i>
                                  </a>
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>


                    <!-- The Modal -->
                    <ng-template #addDistrictDetail let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title modaltitle">{{'Add District' | translate }}</h4>
                            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                              </svg>
                            </button>
                          </div>
                          <div class="modal-body form-body">
                            <form class="text-left" (ngSubmit)="addDistrictForm.form.valid && onSubmit(addDistrictForm)" #addDistrictForm="ngForm" novalidate>
                              <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label [ngClass]="{'label-border-class':ddlState.invalid && ddlState.touched || addDistrictForm.submitted && ddlState.invalid}" for="inputilrPoint">{{'State' | translate }}<span
                                            class="manto"> *</span></label>
                                            <select id="inputilrPoint" class="form-control"
                                            name="ddlState" #ddlState="ngModel" [class.is-invalid]="ddlState.invalid && ddlState.touched || addDistrictForm.submitted && ddlState.invalid"
                                            required [(ngModel)]="selectedState" disabled="ddlState">
                                                <option value="">Select</option>
                                                <option *ngFor="let statedata of statelists" [(value)]="statedata.id">
                                                    {{statedata.name}}
                                                </option>
                                            </select>
                                              <small class=" ml-2 text-danger" *ngIf="ddlState.invalid && ddlState.touched ">Please choose a State</small>
                                              <div *ngIf="addDistrictForm.submitted && ddlState.invalid">
                                                <small *ngIf="ddlState.untouched" class=" ml-2 text-danger">State is required</small>
                                              </div>
                                    </div>
                                  <div class="form-group col-md-3">
                                    <label class="note" [ngClass]="{'label-border-class':!districtname.valid && districtname.touched || addDistrictForm.submitted && districtname.invalid}">{{'District Name' | translate }} <span class="manto">*</span></label>
                                    <input class="form-control" name="districtname" type="text" placeholder="District Name" ngModel  required
                                    [class.is-invalid]="!districtname.valid && districtname.touched || addDistrictForm.submitted && districtname.invalid"
                                     #districtname="ngModel" required>
                                    <small class="text-danger ml-2" *ngIf="!districtname.valid && districtname.touched ">Enter District Name</small>
                                    <div *ngIf="addDistrictForm.submitted && districtname.invalid">
                                      <small *ngIf="districtname.untouched" class=" ml-2 text-danger">District Name is required</small>
                                    </div>

                              </div>
                            
                                  <div class="form-group col-md-3">
                                    <label class="note" [ngClass]="{'label-border-class':!districtCode.valid && districtCode.touched || addDistrictForm.submitted && districtCode.invalid}">{{'District Code' | translate }}<span class="manto"> *</span></label>
                                    <input class="form-control" name="districtCode" type="text" placeholder="District Code" ngModel
                                    #districtCode="ngModel" required [class.is-invalid]="!districtCode.valid && districtCode.touched || addDistrictForm.submitted && districtCode.invalid">
                                    <small class="text-danger ml-2" *ngIf="!districtCode.valid && districtCode.touched ">Enter District Code</small>
                                    <div *ngIf="addDistrictForm.submitted && districtCode.invalid">
                                    <small *ngIf="districtCode.untouched" class=" ml-2 text-danger">District Code is required</small>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-row mt-4">
                                  <div class="form-group col-md-12">
                                    <label class="note" [ngClass]="{'label-border-class':!Comments.valid && Comments.touched || addDistrictForm.submitted && Comments.invalid}">{{'Comments' | translate }} <span class="manto">*</span></label>
                                    <textarea id="textarea" class="form-control textarea" maxlength="225" rows="2" 
                                    [class.is-invalid]="!Comments.valid && Comments.touched || addDistrictForm.submitted && Comments.invalid"
                                      name=Comments #Comments="ngModel" ngModel required></textarea>
                                  </div>
                                  <!-- <small class="text-danger ml-2" *ngIf="!contactNo.valid && contactNo.touched ">Enter Comments</small> -->
                                  <div *ngIf="addDistrictForm.submitted && Comments.invalid">
                                    <small *ngIf="Comments.untouched" class=" ml-2 text-danger">Comments required</small>
                                  </div>
                                </div>
                              </div>

                              <div class="modal-footer">
                                <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                                <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                                <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                              </div>
                            </form>

                          </div>

                       </ng-template>

                       <ng-template #editDistrictDetail let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title modaltitle">{{'Edit District' | translate }}</h4>
                          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-x">
                              <line x1="18" y1="6" x2="6" y2="18"></line>
                              <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                          </button>
                        </div>
                        <div class="modal-body form-body">
                          <form class="text-left" (ngSubmit)="editDistrictForm.form.valid && editSubmit(editDistrictForm)" #editDistrictForm="ngForm" novalidate>
                            <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                              <div class="form-row">
                               
                                <div class="form-group col-md-3">
                                    <label for="inputState">{{'State' | translate}} <span class="manto"></span> *</label>
                                    <select id="inputState" class="form-control" name=DDLstate #DDLstate="ngModel" ngModel
                                     [(ngModel)]="selectedEditState" disabled='true'>
                                        <option value="">Select</option>
                                        <option *ngFor="let statenme of statelists" [(value)]="statenme.id">
                                            {{statenme.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                  <label class="note" [ngClass]="{'label-border-class':!editDistrictName.valid && editDistrictName.touched || editDistrictForm.submitted && editDistrictName.invalid}">{{'District Name' | translate }} <span class="manto">*</span></label>
                                  <input class="form-control" name="editDistrictName" type="text" placeholder="District Name" required
                                  [class.is-invalid]="!editDistrictName.valid && editDistrictName.touched || editDistrictForm.submitted && editDistrictName.invalid"
                                   #editDistrictName="ngModel"  [(ngModel)]="districtnamedata" required>
                                  <small class="text-danger ml-2" *ngIf="!editDistrictName.valid && editDistrictName.touched ">Enter District Name</small>
                                  <div *ngIf="editDistrictForm.submitted && editDistrictName.invalid">
                                    <small *ngIf="editDistrictName.untouched" class=" ml-2 text-danger">District Name is required</small>
                                  </div>

                            </div>
          
                                <div class="form-group col-md-3">
                                  <label class="note">{{'District Code' | translate }}<span class="manto"> *</span></label>
                                  <input class="form-control" name="editDistrictCode" type="text" placeholder="District Code" ngModel pattern="^[a-zA-Z0-9]+$"
                                  #editDistrictCode="ngModel" [(ngModel)]="districtcodedata" disabled="editDistrictCode" >
                                </div>                          
                              </div>

 

                              <div class="form-row mt-4">
                                <div class="form-group col-md-12" >
                                  <label class="note" [ngClass]="{'label-border-class':!commentsdata.valid && commentsdata.touched || editDistrictForm.submitted && commentsdata.invalid}">{{'Comments' | translate }} <span class="manto">*</span></label>
                                  <textarea id="textarea" class="form-control textarea" maxlength="225" rows="2"
                                  [class.is-invalid]="!commentsdata.valid  && commentsdata.touched || editDistrictForm.submitted && !commentsdata.valid"
                                  name=commentsdata #commentsdata="ngModel" [(ngModel)]="Commentsdata" required ></textarea>
                                </div>
                                <small class="text-danger ml-2" *ngIf="!commentsdata.valid && commentsdata.touched ">Enter Comments</small>
                                <div *ngIf=" editDistrictForm.submitted && !commentsdata.valid">
                                  <small *ngIf="commentsdata.untouched" class=" ml-2 text-danger">Comments required</small>
                                   </div>
                              </div>  
                            </div>

                            <div class="modal-footer">
                              <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                              <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                              <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                            </div>
                          </form>
                        </div>

                     </ng-template>
                </div>
                <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->
        </div>

    </div>
</div>
<!--  END CONTENT AREA  -->
<!--  END MAIN CONTAINER  -->
