<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
      <app-site-sidebar module="anm" subMenum="sample-collection"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
            <!-- <div class="col-md-12 text-center">
                            <h5 class="">ANM Name - PHC Name</h5>
                        </div> -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="float-left"><a class="btn btn-outline-primary bs-tooltip" href="notification.html"
                                role="button" title="Notifications"><i class="fas fa-chevron-left pNav-left"></i></a></div>
                    </div>
                    <div class="col-md-4">
                        <div class="headertit">
                            <h5 class="float-center">Subject Registration</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="float-right mb-4">
                            <a class="btn btn-outline-primary bs-tooltip" href="collection.html" role="button"
                                title="Sample Collection"><i class="fas fa-chevron-right pNav-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="antenatal-tab" data-toggle="tab"
                                [routerLink]="['/app/anm-subregn/awreg']" role="tab" aria-controls="home"
                                aria-selected="true">Antenatal Woman
                                Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="spouseregistration-tab" [routerLink]="['/app/anm-subregn/spouse']"
                                role="tab" aria-controls="profile" aria-selected="true">Spouse Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="studentregistration-tab" [routerLink]="['/app/anm-subregn/student']"
                                role="tab" aria-controls="contact" aria-selected="true">School Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="walkinregistration-tab" [routerLink]="['/app/anm-subregn/walkin']"
                                role="tab" aria-controls="contact" aria-selected="true">Walk-in Registration</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-5" id="myTabContent">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
  
      </div>
    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!--  END MAIN CONTAINER  -->
  
  <!--<i appLoadScript [script]="''"></i>-->
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
  
