
<!--<div class="sidebar-wrapper sidebar-theme">-->

  <nav id="sidebar">
    <div class="shadow-bottom"></div>

    <ul class="list-unstyled menu-categories" id="accordionExample">
        <!--<li class="menu">
            <a [routerLink]="['/app']" attr.aria-expanded="{{subMenu === 'dashboard'}}" attr.data-active="{{module === 'dashboard'}}"class="dropdown-toggle">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                    <span>{{'Dashboard' | translate }}</span>
                </div>
            </a>
        </li>-->
        <!-- <li class="menu" *ngIf="user.userRole === 'CHCLTLEVEL1' || user.userRole === 'CHCSRLT'">
            <a href="#admin" data-toggle="collapse" attr.data-active="true" attr.aria-expanded="true" class="dropdown-toggle">
                <div class="">
                    <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/nurse.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                    <span>{{'Admin' | translate }}</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="submenu list-unstyled collapse show" id="admin" data-parent="#accordionExample">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-state']"> {{'State' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-district']"> {{'District' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-block']"> {{'Block' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-chc']"> {{'CHC' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-phc']"> {{'PHC' | translate }} </a>
                </li>
               <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-sc']"> {{'SC' | translate }} </a>
                </li>
                 <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-ri-point']"> {{'RI Point' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/add-gvt-id-type']"> {{'Government ID Type' | translate }} </a>
                </li>
               
               
            </ul>
        </li> -->
        <li class="menu" *ngIf="user.userRole === 'ANM'">
            <a href="#anm" data-toggle="collapse" attr.data-active="true" attr.aria-expanded="true" class="dropdown-toggle">
                <div class="">
                    <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/nurse.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                    <span>{{'ANM' | translate }}</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="submenu list-unstyled collapse show" id="anm" data-parent="#accordionExample">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/anm-notification']"> {{'Notifications' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/anm-subregn']"> {{'Registration' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/anm-sample-collection']"> {{'SampleCollection' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/anm-pickpack']"> {{'Pick&Pack' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/anm-shipment']"> {{'Shipmentlog' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/anm-subprofile']"> {{'SubjectProfile' | translate }} </a>
                </li>
            </ul>
        </li>
        <li class="menu" *ngIf="user.userRole === 'CHCLTLEVEL1' || user.userRole === 'CHCSRLT'">
            <a href="#chc" data-toggle="collapse"  attr.data-active="{{module === 'chc'}}" attr.aria-expanded="{{module === 'chc'}}" class="dropdown-toggle">
                <div class="">
                    <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/male.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                    <span>CHC - REG & SAMPLING</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'chc'}" id="chc" data-parent="#accordionExample">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-notification']">  {{'Notifications' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-subregn']"> {{'Registration' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-sample-collection']"> {{'SampleCollection' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-pickandpack']"> {{'Pick&Pack' | translate }}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-shipmentlog']"> {{'Shipmentlog' | translate }}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-subjectprofile']"> {{'SubjectProfile' | translate }} </a>
                </li>
            </ul>
        </li>
        <li class="menu" *ngIf="user.userRole === 'CHCLTLEVEL2' || user.userRole === 'CHCSRLT'">
            <a href="#chcsam" data-toggle="collapse" attr.data-active="{{module === 'chcsam'}}" attr.aria-expanded="{{module === 'chcsam'}}" class="dropdown-toggle">
                <div class="">
                    <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/hospital.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                    <span>CHC- SAMPLE REC & PROCESS</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'chcsam'}" id="chcsam" data-parent="#accordionExample">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chcmodule-notification']">  {{'Notifications' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-sample']"> {{'SampleRcpt' | translate }} </a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a href="receivedmanual.html"> Sample Rcpt - Manual  </a>
                </li> -->
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-update-cbc']"> {{'Update_CBC_Results' | translate }}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-update-sst']"> {{'UpdateSSTResults' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-sample-pickpack']"> {{'Pick&Pack' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-sample-shipmentlog']"> {{'Shipmentlog' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/chc-report']"> {{'ReportSampleStatus' | translate }} </a>
                </li>
            </ul>
        </li>
        <li class="menu" *ngIf="user.userRole === 'HPLCLT'">
            <a href="#centrallab" data-toggle="collapse" attr.data-active="true" attr.aria-expanded="true" class="dropdown-toggle">
                <div class="">
                    <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/test.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                    <span>{{'MENU_CENTRALLAB' | translate }}</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <ul class="submenu list-unstyled collapse show"  id="centrallab" data-parent="#accordionExample"
                style="">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/central-notification']">  {{'Notifications' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/centrallab']"> {{'SampleRcpt' | translate }} </a>
                </li>
                <!-- <li>
                    <a href="receivedmanualcentral.html"> Sample Rcpt - Manual </a>
                </li> -->
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/central-update-hplc']"> {{'UpdateHPLCResults' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/central-pickpack']"> {{'Pick&Pack' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/central-shipment']"> {{'Shipmentlog' | translate }}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/centrallab-report']"> {{'ReportSampleStatus' | translate }} </a>
                </li>
            </ul>
        </li>
        <li class="menu" *ngIf="user.userRole === 'PATHO'">
            <!-- <a href="#pathologist" data-toggle="collapse" attr.data-active="{{module === 'pathologist'}}" attr.aria-expanded="{{module === 'pathologist'}}" class="dropdown-toggle">-->
                <a href="#pathologist" data-toggle="collapse" attr.data-active="true" attr.aria-expanded="true" class="dropdown-toggle"> 
                <div class="">
                    <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/blood.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                    <span>{{'PATHOLOGIST' | translate }}</span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </div>
            </a>
            <!-- <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'pathologist'}" id="pathologist" data-parent="#accordionExample" -->
                <ul class="submenu list-unstyled collapse show"  id="pathologist" data-parent="#accordionExample"
                style="">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/pathologist-hplc/abnormal']"> {{'DiagnosisHPLC' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/patho-report']"> {{'ReportDiagnosis' | translate }} </a>
                </li>
            </ul>
        </li>
        <li class="menu" *ngIf="user.userRole === 'MOLECULARLT'">
            <a href="#molecularlab" data-toggle="collapse" attr.data-active="{{module === 'molecularlab'}}" attr.aria-expanded="{{module === 'molecularlab'}}" class="dropdown-toggle">
                    <div class="">
                        <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/gene.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                        <span>{{'MOLECULARLAB' | translate }}</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
            </a>
            <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'molecularlab'}" id="molecularlab" data-parent="#accordionExample">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/molecularlab']"> {{'SampleRcpt' | translate }} </a>
                </li>
                <!--<li>
                    <a href="receivedmanualshipment.html"> Sample Rcpt - Manual </a>
                </li>-->
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/update-molecular-result']"> {{'UpdateMolResults' | translate }} </a>
                </li>
                <!--<li routerLinkActive="active">
                    <a [routerLink]="['/app/view-case-sheet']"> View Case Sheet </a>
                </li>-->
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/molecular-report']"> {{'ReportSampleStatus' | translate }} </a>
                </li>
            </ul>
        </li>
        <li class="menu" *ngIf="user.userRole === 'COUNSELLOR'">
                <a href="#pndtc" data-toggle="collapse" attr.data-active="{{module === 'pndtc'}}" attr.aria-expanded="{{module === 'pndtc'}}" class="dropdown-toggle">
                    <div class="">
                        <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/enrollment.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                        <span>{{'SCHEDULECOUNSEL' | translate }}</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'pndtc'}"  id="pndtc"
                data-parent="#accordionExample">
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/schedule-pre-pndtc']"> {{'SchedulePrePNDTcounselling' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/counselling-pre-pndt']"> {{'CounsellingPrePNDT' | translate }} </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/schedule-post-pndtc']"> {{'SchedulePostPNDTcounselling' | translate }}</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/app/counselling-post-pndt']"> {{'CounsellingPostPNDT' | translate }}</a>
                </li>
                
            </ul>
            </li>
            <li class="menu" *ngIf="user.userRole === 'PNDTOBSTETRICIAN'"><!--*ngIf="user.userRole === 'PNDTOBSTETRICIAN'"-->
                <a href="#pndtc" data-toggle="collapse"  attr.data-active="{{module === 'pndtc'}}" attr.aria-expanded="{{module === 'pndtc'}}" class="dropdown-toggle">
                    <div class="">
                        <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/surgeon.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                        <span>PNDTC
                            Obstetrician
                           
                            </span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show" [ngClass]="{'show': module === 'pndtc'}" id="pndtc"
                    data-parent="#accordionExample">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/app/pndtc-testing']">  {{'PNDTesting' | translate }} </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/app/pndtc-summary']">  {{'PNDSummaryReport' | translate }}  </a>
                    </li>
                </ul>
            </li>
            <li class="menu" *ngIf="user.userRole === 'MTPOBSTETRICIAN'"><!--*ngIf="user.userRole === 'MTPOBSTETRICIAN'"-->
                <a href="#mtp-counsellor" data-toggle="collapse"  attr.data-active="{{module === 'mtp-counsellor'}}" attr.aria-expanded="{{module === 'mtp-counsellor'}}" class="dropdown-toggle">
                    <div class="">
                        <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/surgeon.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                        <span>MTP services
                            Obstetrician
                            
                            </span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'mtp-counsellor'}" id="mtp-counsellor"
                    data-parent="#accordionExample">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/app/mtp-service']"> {{'MTPService' | translate }} </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/app/mtp-summary']"> {{'MTPSummaryReport' | translate }}  </a>
                    </li>
                 
                </ul>
            </li>
            <li class="menu menu1" style="display:none;">
                <a href="#birthmonitoring" data-toggle="collapse" attr.data-active="{{module === 'birthmonitoring'}}" attr.aria-expanded="{{module === 'birthmonitoring'}}" class="dropdown-toggle">
                    <div class="">
                        <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image href="./assets/assets/img/menu/hospital-1.svg" x="0" y="0" height="18px" width="18px" />
                </svg>
                        <span>{{'SENTINELHOSPITAL' | translate }} </span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'birthmonitoring'}" id="birthmonitoring" data-parent="#accordionExample"
                    style="">
                    <li>
                        <a href="infantregistration.html"> {{'MotherRegistration' | translate }} </a>
                    </li>
                    <li>
                        <a href="babyregister.html"> {{'InfantRegistration' | translate }} </a>
                    </li>
                    <li>
                        <a href="infantcollection.html"> {{'SampleCollection' | translate }} </a>
                    </li>
                    <li>
                        <a href="infantpickpack.html"> {{'Pick&Pack' | translate }} </a>
                    </li>
                    <li>
                        <a href="infantshipmentlog.html"> {{'Shipmentlog' | translate }} </a>
                    </li>
                    <li>
                        <a href="infantprofile.html"> {{'InfantProfile' | translate }} </a>
                    </li>
                </ul>
            </li>
            <li class="menu menu1">
                <a href="#birthmonitoringlab" data-toggle="collapse" attr.data-active="{{module === 'birthmonitoringlab'}}" attr.aria-expanded="{{module === 'birthmonitoringlab'}}" class="dropdown-toggle">
                    <div class="">
                        <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image href="./assets/assets/img/menu/dna.svg" x="0" y="0" height="18px" width="18px" />
                    </svg>
                        <span>{{'MOLECULARLAB' | translate }}</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'birthmonitoringlab'}" id="birthmonitoringlab" data-parent="#accordionExample"
                    style="">
                    <li>
                        <a href="infantshipmentreceipt.html"> {{'SampleReceipt' | translate }} </a>
                    </li>
                    <li>
                        <a href="infantmolecularlab.html"> {{'UpdateMolResults' | translate }} </a>
                    </li>
                    <li>
                        <a href="infantcasesheet.html"> {{'CaseSheet' | translate }} </a>
                    </li>
                    <li>
                        <a href="infantreport.html"> {{'ReportSampleStatus' | translate }} </a>
                    </li>
                </ul>
            </li>
            <li class="menu" *ngIf="user.userRole === 'DC'">
                <a href="#dc" data-toggle="collapse" attr.data-active="{{module === 'dc'}}" attr.aria-expanded="{{module === 'dc'}}"  class="dropdown-toggle">
                    <div class="">
                        <svg width="5cm" height="4cm" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image href="./assets/assets/img/menu/doctor.svg" x="0" y="0" height="18px" width="18px" />
                    </svg>
                        <span>{{'DISTRICTCOORDINATOR' | translate }}</span>
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-chevron-right">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" [ngClass]="{'show': module === 'dc'}" id="dc" data-parent="#accordionExample">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/app/dc-notification']"> {{'Notifications' | translate }} </a>
                    </li>
                   
                </ul>
            </li>
        </ul>

    </nav>

<!--</div>-->
