<div class="table-responsive mt-2">
<table id="anmshipment-tblconfig1" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th><span>{{'SNo' | translate }}</span></th>
            <th><span>{{'SubjectID' | translate }}</span></th>
            <th><span>{{'RCHID' | translate }}</span></th>
            <th><span>{{'Barcode' | translate }}</span></th>
            <th><b>{{'MCV' | translate }} (fL)</b></th>
            <th><b>{{'RDWSD' | translate }} (%)</b></th>
            <th><b>{{'RBC' | translate }}</b></th>
            <th><span>{{'sampleDate' | translate }}</span></th>
            <th><span>{{'TestedTime' | translate }}</span></th>
            <th><span>{{'validateResult' | translate }}</span></th>
        </tr>
       
    </thead>
    <tbody>
        <tr *ngFor="let person of chcReceiptsData;index as i">
            <td style="text-align: center;">{{ i + 1}}</td>
            <td style="text-align: center;">{{ person.subjectId }}</td>
            <td style="text-align: center;">{{ person.rchId }}</td>
            <td style="text-align: center;">{{ person.barcodeNo }}</td>
            <td style="text-align: center;">{{ person.mcv }}</td>
            <td style="text-align: center;">{{ person.rdw }}</td>
            <td style="text-align: center;">{{ person.rbc }}</td>
            <td style="text-align: center;">{{ person.sampleDateTime }}</td>
            <td style="text-align: center;">{{ person.testedDateTime }}</td>
            <td style="text-align: center;"><button class="button-cls mb-2" *ngIf="!person.timeoutStatus" [ngClass]="{'rerun-btn-disabled': (person.mcv == '--' && person.rdw == '--'  && person.testedDateTime == '--') ? true : false}" (click)="confirm(person,1);" [disabled]="(person.mcv == '--' && person.rdw == '--'  && person.testedDateTime == '--') ? true : false">Confirm</button><button class="button-cls" *ngIf="!person.timeoutStatus" style="margin-left:5px;" [ngClass]="{'rerun-btn-disabled': (person.mcv == '--' && person.rdw == '--'  && person.testedDateTime == '--') ? true : false}" [disabled]="(person.mcv == '--' && person.rdw == '--'  && person.testedDateTime == '--') ? true : false" (click)="confirm(person,2);">Rerun</button><button class="button-cls" *ngIf="person.timeoutStatus" (click)="confirm(person,3);">Sample Timeout</button></td>
        </tr>
    </tbody>
</table>

<div class="row1">
    <div class="col-md-12">
        <span style="color: #1b55e2;;font-style: italic;" id="tabWiseNote"><b><br>{{'HPLC Test System Diagnosis' | translate }}:</b><br>
            ABNORMAL: “HbF >= 5% Calibrated area %   OR   HbA2  >= 3.38%  Calibrated area %  OR    HbS >= 5% Area %  OR    HbD  >= 5% Area %”<br>
NORMAL     : “HbF <   5%  Calibrated area %  AND HbA2  <   3.38%  Calibrated area %  AND HbS <  5%  Area %  AND HbD  <   5% Area %”
</span>
    </div>
</div>
    <div class="col-md-12">
        <span style="color: #1b55e2;;font-style: italic;" id="tabWiseNote"><b><br>{{'CBC Test System Diagnosis' | translate }}:</b><br>Screening Test Positive : MCV <= 80   fL   AND           RDW –CV < 16%
            <br>
            Screening Test Negative : MCV  >   80   fL AND/ OR    RDW –CV > 16% 
</span>
    </div>
</div>
</div>