
<div class="col-lg-4 col-md-4 col-sm-4 filtered-list-search">
    <form class="form-inline my-2 my-lg-0" style="margin-top:30px !important;">
        <div >
            <input type="text" class="w-100 form-control product-search br-30"
                name="searchbarcode" type="text" placeholder="Search by Barcode / Subject ID, Subject Name"
size="700"
                
                [(ngModel)]="searchbarcode" debounce="500" (ngModelChange)="searchBarCodetype()">
            <a (click)="clicksearchBarcode()"><button class="btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-search">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </button></a>
        </div>
    </form>
</div>
<div class="table-responsive mb-4">
<table id="anmshipment-tblconfig1" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th><span>{{'SNo' | translate }}</span></th>
            <th><span>{{'SubjectName' | translate }}</span></th>
            <th><span>{{'SubjectID' | translate }}</span></th>
            <th><span>{{'ANMName' | translate }}</span></th>
            <th><span>{{'ANMContact' | translate }}</span></th>
            <th><span>{{'CHC' | translate }}</span></th>
            <th><span>{{'DCName' | translate }}</span></th>
            <th><span>{{'DCContact' | translate }}</span></th>
            <th><span>{{'ANMLoginStatus' | translate }}</span></th>
            <th><span>{{'Barcode' | translate }}</span></th>
            <th><span>{{'SSTDATE' | translate }}</span></th>
            <th><span>{{'Edit' | translate }}</span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of centralPickpackPendingData;index as i">
            <td style="text-align: center;">{{ i + 1}}</td>
            <td>{{ person.subjectName }}</td>
            <td style="text-align: center;">{{ person.subjectId }}</td>
            <td style="text-align: center;" [ngClass]="{'redColortext': person.loginIconEnableStatus == false ? true : false}">{{ person.anmName }}</td>
            
            <td style="text-align: center;">{{ person.anmContact }}</td>
            <td style="text-align: center;">{{ person.chc }}</td>
            <td>{{ person.dcName }}</td>
            <td style="text-align: center;">{{person.dcContact}}</td>
            <td [ngClass]="{'redColortext': person.loginIconEnableStatus == false ? true : false}">{{ person.loginStatus }}</td>
            <td style="text-align: center;">{{person.barcodeNo}}</td>
            <td style="text-align: center;">{{person.sstDate}}</td>
            <td class="text-center"><a><i *ngIf="person.loginIconEnableStatus" class="fas fa-reply fa-2x arrow" aria-hidden="true" data-toggle="modal"
                (click)="showPopup(person);"></i><i *ngIf="!person.loginIconEnableStatus" class="fas fa-reply fa-2x arrow barcode-edit-disabled" aria-hidden="true" data-toggle="modal"
                ></i></a></td>  
        </tr>
    </tbody>
</table>


</div>
<p><strong><i>Note : SST can be edited only if ANM has logged OFF from the Tablet</i></strong></p>
<div id="fadeinModal" class="modal animated fadeInDown" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title modaltitle" id="myExtraLargeModalLabel">{{'SSTUPDATE' | translate}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">

                       
                            <div class="form-row my-2">
                                <div class="col-md-3">
                                    <h6 class="ml-2"><b>{{'SubjectID' | translate }} : </b> <br><span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.subjectId}} </span></h6>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="ml-2"><b>{{'SubjectName' | translate }} : </b> <br><span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.subjectName}} </span></h6>
                                </div>
                               
                              <div class="col-md-3">
                                <h6 class="ml-2"><b>{{'ANMId' | translate }} : </b> <br><span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.anmCode}} </span></h6>
                            </div>
                            <div class="col-md-3">
                              <h6 class="ml-2"><b>{{'ANMName' | translate }} : </b> <br><span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.anmName}} </span></h6>
                          </div>
                        </div>
                          <div class="form-row my-2">
                            <div class="col-md-3">
                                <h6 class="ml-2"><b>{{'DCContact' | translate }} : </b> <br><span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.dcContact}} </span></h6>
                            </div>
                            <div class="col-md-3">
                                <h6 class="ml-2"><b>{{'DCName' | translate }} : </b> <br><span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.dcName}} </span></h6>
                            </div>
                           
                          <div class="col-md-3">
                            <h6 class="ml-2"><b>{{'CHC' | translate }} : </b> <br><span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.chc}} </span></h6>
                        </div>
                            </div>
                            <br><br>
                            <div class="form-row my-2">
                                <div class="col-md-6">
                                    <h6 class="ml-2"><b>{{'Current SST Result' | translate }} : </b><br> <span class="ml-2" style="margin-left: 0 !important;"> {{popupData?.sstResult}} </span></h6>
                                </div>
                                <div class="col-md-3" [formGroup]="secondFormGroup">
                                    <h6 class="ml-2"><b>{{'Revised SST ' | translate }} : </b> <span class="ml-2" style="margin-left: 0 !important;"> <input disabled type="text" class="form-control" id="inputGovtIdDetail" placeholder="Enter Detail"  [(ngModel)]="RevisedBarcode1" formControlName = "newsstresult"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        maxlength = "10"> </span></h6>
                                </div>
                                  
                                 <div class="col-md-3" [formGroup]="secondFormGroup">
                                    <h6 class="ml-2"><b>{{'Remarks' | translate }} : </b> <span class="ml-2" style="margin-left: 0 !important;"> <input type="text" class="form-control" id="inputGovtIdDetail" placeholder="Enter Detail"  [(ngModel)]="selectedRevisedBarcode" formControlName = "barcode" [ngClass]="{'red-border-class': barcodeValid}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        maxlength = "10"> </span></h6>
                                </div>
                               
                                
                                
                               
                              
                                </div>
                    <div class="row float-right">
                        <button type="submit" class="mr-2 btn btn-primary float-right" id="linkto"
 (click)="sampleSubmit();"  name="linkto">{{'Submit' | translate}}</button>
                        <button class="btn float-right" style="margin-left: 5px;" data-dismiss="modal"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>