      <div class="row layout-top-spacing">
          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile showhidediv" id="showhidediv">
              <div class="widget-content widget-content-area br-6">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <tbody class="">
                                      <tr>
                                          <td>
                                          <span class="float-left mt-0 mr-4">				
                                            <h5><b>{{'SubjectID' | translate}} :</b>{{diagnosisReportData?.uniqueSubjectId}}
                                                  <strong class="ml-5">{{'SubjectInfo' | translate}} :</strong>{{diagnosisReportData?.subjectName}}, {{diagnosisReportData?.gender == "Female" ? 'F' : 'M'}}, {{diagnosisReportData?.age}} yrs
                                                  <strong class="ml-5">{{'RCHID' | translate}} :</strong>{{diagnosisReportData?.rchId}} 
                                            </h5>
                                          </span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>

          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile print-none">
              <div class="widget-content widget-content-area br-6">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 d-flex justify-content-end">
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group">
                                    
                                    <!--<button type="button" class="btn btn-sm btn-outline-light">-->
                                    <!--    <img src="assets/img/excelimage.png" width="23px" class="downloadimg bs-tooltip" title="" data-original-title="Download as Excel"></button>-->
                                    <button type="button" class="btn btn-sm btn-outline-light print-btn" (click)="printPdf();">
                                        <i class="fa fa-print ml-1 downloadimg bs-tooltip" ngbTooltip="Print"
                                    aria-hidden="true"></i></button>

                                    <button *ngIf="diagnosisReportData?.graphFileName == null ||diagnosisReportData?.graphFileName == ''" type="button" class="btn btn-sm btn-outline-light print-btn" (click)="downloadGraph();" [disabled]='true' style="color: #000000;">
                                        <i class="fa fa-download  ml-1 downloadimg bs-tooltip" ngbTooltip="Download"
                                        aria-hidden="true"></i> HPLC Graph
                                          </button>
                                           <button *ngIf="diagnosisReportData?.graphFileName != null && diagnosisReportData?.graphFileName != ''" type="button" class="btn btn-sm btn-outline-light print-btn" >
                                            <a href="{{downloadGraphLink}}" download style="color:#1b55e2 !important;"> <i class="fa fa-download  ml-1 downloadimg bs-tooltip" ngbTooltip="Download"
                                                aria-hidden="true"></i> HPLC Graph</a></button>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row py-2 my-2 print-header" style="background-color: #1B55E2;">
                    <div class="col-md-2 left-logo-cont">
                        <img class="logo-left" src="../../../../assets/assets/img/NRHM_GovOdishA_logo.png" class="mt-1">
                    </div>
                    <div class="col-md-8 col-mid">
                        <h4 class="text-center text-white pt-2 header-text">THALASSEMIA AND SICKLE CELL DISEASE CONTROL PROGRAM IN ODISHA</h4>
                        <h5 class="text-center text-white header-text">HPLC Summary Report</h5>
                    </div>
                    <div class="col-md-2 right-logo-cont">
                        <img class="logo-right" src="../../../../assets/assets/img/Insteam_CMC_logo.png" class="mt-1" >
                    </div>
                </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped"  id="tblBasicInfo">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="6" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>{{'BasicInfo' | translate}}</b>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="sp-xs-td-9"><b>{{'District' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.district}}</td>
                                          <td class="sp-xs-td-9"><b>{{'TestingCHC' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.chc}}</td>
                                          <td class="sp-xs-td-9"><b>{{'RIPoint' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.riPoint}}</td>
                                      </tr>
                                      <tr>
                                          <td class="sp-xs-td-9"><b>{{'SubjectName' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.subjectName}}</td>
                                          <td class="sp-xs-td-9"><b>{{'SubjectID' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.uniqueSubjectId}}</td>
                                          <td class="sp-xs-td-9"><b>{{'Age' | translate}}</b></td>
                                          <td class="sp-xs-td-15">{{diagnosisReportData?.age}} yrs</td>
                                      </tr>
                                      <tr>
                                          <td><b>{{'ContactNo' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.contactNo}}</td>
                                          <td><b>{{'Address' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.address}}</td>
                                          <td><b>{{'SpouseName' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.spouseName}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>{{'SpouseContact' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.spouseContact}}</td>
                                          <td><b>{{'RCHID' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.rchId}}</td>
                                          <td><b>{{'LMPDate' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.lmpDate}}</td>
                                      </tr>
                                      <tr>
                                          <td><b>{{'GestationalAge' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.ga}}</td>
                                          <td><b>{{'ObstetricsScore' | translate}}</b></td>
                                          <td>{{diagnosisReportData?.obstetricScore}}</td>
                                          
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing indprofile print-none">
              <div class="widget-content widget-content-area br-6">
                  

                  <div class="row">
                      <div class="col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="8" class="text-left mt-3" style="color:#3a3b3e;font-size: 15px;"><b>{{'TestResultSummary' | translate}}</b>
                                         
                                          </th>
                                      </tr> 
                                  </thead> 
                                  <tbody>
                                      <!-- <tr>
                                          <td class="sp-xs-th" style="color: #1b55e2;font-weight: 700;font-size: 13px;">{{'SSTResults' | translate}}</td>
                                          <td class="sp-xs-td-15" style="color:red;">{{diagnosisReportData?.sstResult}}</td>  
                                      </tr> -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                            <thead> 
                                <tr>
                                    <th class="text-center"><span>{{'SubjectInfo' | translate}}</span></th>
                                    <th class="text-center"><span>{{'SSTResults' | translate}}</span></th>
                                    <th class="text-center"><span>{{'CBCResults' | translate}}</span></th>
                                    <th class="text-center"><span>{{'MCV' | translate}} (fL)</span></th>                                             
                                    <th class="text-center"><span>{{'RDW' | translate}} (%)</span></th>
                                    <th class="text-center"><span>{{'RBC' | translate}} (millions/mcl)</span></th>
                                    
                                    <!-- <th class="text-left"><span>Diagnosis</span></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">{{diagnosisReportData?.subjectName}}, F, {{diagnosisReportData?.age}} yrs</td>
                                    <td class="text-left">{{diagnosisReportData?.sstResult}}</td>
                                    <td class="text-left">{{diagnosisReportData?.cbcResult}}</td>
                                    <td class="text-center sp-xs-th">{{diagnosisReportData?.mcv}}</td>                                                                                          
                                    <td class="text-center">{{diagnosisReportData?.rdw}}</td>
                                    <td class="text-center">{{diagnosisReportData?.rbc}}</td>
                                    
                                    <!-- <td class="text-left"></td> -->
                                </tr>
                               <!-- <tr>
                                    <td class="text-left">{{diagnosisReportData?.spouseName}}, M</td>
                                    <td class="text-left">{{diagnosisReportData?.spouseSSTestResult}}</td>
                                    <td class="text-left">{{diagnosisReportData?.spouseCBCTestResult}}</td>
                                    <td class="text-center sp-xs-th">{{diagnosisReportData?.spouseMCV}}</td>                                                                                          
                                    <td class="text-center">{{diagnosisReportData?.spouseRDW}}</td>
                                    <td class="text-center">{{diagnosisReportData?.spouseRBC}}</td>
                                    
                                    
                                </tr>-->
                            </tbody> 
                        </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped row-combined">
                                <thead class="tablecss">
                                    <!-- <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="14" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>Test Result Summary</b>
                                        </th>
                                    </tr> -->
                                    <tr>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'SubjectInfo' | translate}}</span></th>
                                        <th colspan="5" class="nt-border-right text-center"><b>{{'HPLCParameters' | translate}}</b></th>
                                        <th rowspan="2" class="nt-border-right text-center"><span>{{'HPLCResults' | translate}}</span></th>
                                        <th rowspan="2"  class="nt-border-right text-center edit-btn"><span>{{'Update' | translate}}</span></th>
                                       
                                    </tr>
                                    <tr class="combined">
                                        <th class="text-center"><b>{{'HbA0' | translate}} (%)</b></th>
                                        <th class="text-center"><b>{{'HbA2' | translate}} (%)</b></th>
                                        <!--<th class="text-center"><b>HbC</b></th>-->
                                        <th class="text-center"><b>{{'HbD' | translate}} (%)</b></th>
                                        <th class="text-center"><b>{{'HbF' | translate}} (%)</b></th>
                                        <th class="text-center"><b>{{'HbS' | translate}} (%)</b></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td class="text-left">{{diagnosisReportData?.subjectName}}, F, {{diagnosisReportData?.age}} yrs</td>                                
                                        <td class="text-center">{{diagnosisReportData?.hbA0}}</td>
                                        <td class="text-center">{{diagnosisReportData?.hbA2}}</td>
                                        <!--<td class="text-center">{{diagnosisReportData?.hbC}}</td>-->
                                        <td class="text-center">{{diagnosisReportData?.hbD}}</td>
                                        <td class="text-center">{{diagnosisReportData?.hbF}}</td>
                                        <td class="text-center">{{diagnosisReportData?.hbS}}</td>
                                        <td class="text-left">{{diagnosisReportData?.hplcResult}}</td>
                                        <td class="text-center edit-btn"><button class="button-cls edit-btn" (click)="hplcEdit(diagnosisReportData,1);"  style="margin-left:5px;">Edit</button></td>
                                    </tr>
 
                                   <!-- <tr>
                                        <td class="text-left">{{diagnosisReportData?.spouseName}}, M</td>                                        
                                        <td class="text-center">{{diagnosisReportData?.spouseHbA0}}</td>
                                        <td class="text-center">{{diagnosisReportData?.spouseHbA2}}</td>
                                       
                                        <td class="text-center">{{diagnosisReportData?.spouseHbD}}</td>
                                        <td class="text-center">{{diagnosisReportData?.spouseHbF}}</td>
                                        <td class="text-center">{{diagnosisReportData?.spouseHbS}}</td>
                                        <td class="text-left">{{diagnosisReportData?.spouseHPLCTestResult}}</td>
                                        <td class="text-left">{{diagnosisReportData?.spouseHPLCDiagnosis}}</td>
                                        <td class="text-left">{{diagnosisReportData?.anwHPLCDiagnosis}}</td>
                                    </tr>-->
                            </table>
                        </div>
                    </div>
                </div>
              </div>
          
          
        </div>

        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile print-show">
            <div class="widget-content widget-content-area br-6">
              <div class="row py-2 my-2 print-header" style="background-color: #1B55E2;">
                  <div class="col-md-2 left-logo-cont">
                      <img class="logo-left" src="../../../../assets/assets/img/NRHM_GovOdishA_logo.png" class="mt-1">
                  </div>
                  <div class="col-md-8 col-mid">
                      <h4 class="text-center text-white pt-2 header-text">THALASSEMIA AND SICKLE CELL DISEASE CONTROL PROGRAM IN ODISHA</h4>
                      <h5 class="text-center text-white header-text">HPLC Summary Report – SCB MEDICAL COLLEGE, CUTTACK</h5>
                  </div>
                  <div class="col-md-2 right-logo-cont">
                      <img class="logo-right" src="../../../../assets/assets/img/Insteam_CMC_logo.png" class="mt-1" >
                  </div>
              </div>
                
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile print-show">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4 d-flex justify-content-end">
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group">
                                
                                Report Issued : 24-11-2020
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing indprofile print-show margin-top-30">
            <div class="watermark"></div>
            <div class="widget-content widget-content-area br-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="tablecss">
                                    <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="8" class="text-left mt-3" style="color:#3a3b3e;font-size: 15px;"><b>{{'SECTION A: PUBLIC HEALTHCARE SYSTEM DETAILS' | translate}}</b>
                                       
                                        </th>
                                    </tr> 
                                </thead> 
                                <tbody>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'District' | translate}} :</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.district}}</b></td>
                                        <td class="sp-xs-td-9">{{'Block' | translate}} :</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.chc}}</b></td>
                                        <td class="sp-xs-td-9">{{'CHC' | translate}} :</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.chc}}</b></td>
                                        <td class="sp-xs-td-9">{{'PHC' | translate}} :</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.phc}}</b></td>
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'SC' | translate}} :</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.sc}}</b></td>
                                        <td class="sp-xs-td-9">{{'RIPoint' | translate}} :</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.riPoint}}</b></td>
                                        <td class="sp-xs-td-9">{{'ANM' | translate}} :</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.anmName}}</b></td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="tablecss">
                                    <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="8" class="text-left mt-3" style="color:#3a3b3e;font-size: 15px;"><b>{{'SECTION B: SUBJECT DETAILS' | translate}}</b>
                                       
                                        </th>
                                    </tr> 
                                </thead> 
                                <tbody>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'Name' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.subjectName}}</b></td>
                                        <td class="sp-xs-td-9">{{'Age/Sex' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.age}} Years / Female</b></td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'MCTS/RCH ID' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.rchId}}</b></td>
                                        <td class="sp-xs-td-9">{{'Contact Number' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.contactNo}}</b></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'Regn ID' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.subjectName}}</b></td>
                                        <td class="sp-xs-td-9">{{'Registration Date' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.uniqueSubjectId}}</b></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'Lab Accession ID/Barcode' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.barcodeNo}}</b></td>
                                        <td class="sp-xs-td-9">{{'Sample Collection Date' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.uniqueSubjectId}}</b></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'Spouse Name' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.subjectName}}</b></td>
                                        <td class="sp-xs-td-9">{{'Address' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.uniqueSubjectId}}</b></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'LMP Date' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.lmpDate}}</b></td>
                                        <td class="sp-xs-td-9">{{'GA' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.ga}}</b></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'Referring Department' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.subjectName}}</b></td>
                                        <td class="sp-xs-td-9">{{'Ordering Physician' | translate}}</td>
                                        <td class="sp-xs-td-15"><b>{{diagnosisReportData?.uniqueSubjectId}}</b></td>
                                        
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-custom-border">
                                <thead class="tablecss">
                                    <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="8" class="text-left mt-3" style="color:#3a3b3e;font-size: 15px;"><b>{{'SECTION C : TEST RESULTS – CBC/ SST' | translate}}</b>
                                        </th>
                                    </tr> 
                                </thead> 
                                <tbody>
                                    <tr>
                                        <td class="sp-xs-td-9"><b>{{'Haematology Parameters/ Values' | translate}}</b></td>
                                        <td class="sp-xs-td-9">{{'MCV' | translate}} :  <b>{{diagnosisReportData?.mcv}} fL</b></td>
                                        <td class="sp-xs-td-9">{{'RDW – CV' | translate}} : <b>{{diagnosisReportData?.rdw}}</b></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'SST Results' | translate}} : <b>{{diagnosisReportData?.sstResult}}</b></td>
                                        <td class="sp-xs-td-9" colspan="3">{{'CBC Test Results' | translate}} : <b>{{diagnosisReportData?.cbcResult}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-custom-border">
                                <thead class="tablecss">
                                    <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="8" class="text-left mt-3" style="color:#3a3b3e;font-size: 15px;"><b>{{'SECTION D : TEST RESULTS – HPLC' | translate}}</b>
                                        </th>
                                    </tr> 
                                </thead> 
                                <tbody>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'HPLC Parameters/ Values (%)' | translate}}</td>
                                        <td class="sp-xs-td-9">{{'HbAo' | translate}} : <b> {{diagnosisReportData?.hbA0}}</b></td>
                                        <td class="sp-xs-td-9">{{'HbA2' | translate}} : <b>{{diagnosisReportData?.HbA2}}</b></td>
                                        <td class="sp-xs-td-9">{{'HbD' | translate}} : <b>{{diagnosisReportData?.hbD}}</b></td>
                                        <td class="sp-xs-td-9">{{'HbF' | translate}} : <b>{{diagnosisReportData?.hbF}}</b></td>
                                        <td class="sp-xs-td-9">{{'HbS' | translate}} : <b>{{diagnosisReportData?.hbS}}</b></td>
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'LaboratoryDiagnosis' | translate}} </td>
                                        <td class="sp-xs-td-9" colspan="5"><b>{{diagnosisReportData?.hplcDiagnosis}}</b></td>
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'HPLC Result' | translate}} </td>
                                        <td class="sp-xs-td-9" colspan="5"><b>{{diagnosisReportData?.hplcResult}}</b></td>
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9">{{'Interpretation' | translate}} </td>
                                        <td class="sp-xs-td-9" colspan="5"><b>{{diagnosisReportData?.uniqueSubjectId}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td class="sp-xs-td-9"><b>{{'Reported By' | translate}} :</b></td>
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9"></td>
                                        <td class="sp-xs-td-9" style="text-align: right;"></td>
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9"><b><br>{{'Lab Technician Name' | translate}} : {{diagnosisReportData?.district}}</b></td>
                                        <td class="sp-xs-td-9" style="text-align: right;" align="right"><b><br>{{'Pathologist Name' | translate}} : {{diagnosisReportData?.chc}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td class="sp-xs-td-9"><b>{{'Enclosed' | translate}} : </b>{{diagnosisReportData?.district}}</td>
                                    </tr>
                                    <tr>
                                        <td class="sp-xs-td-9"><b>{{'Disclaimer : This is a computer-generated report. It does not require a physical signature.' | translate}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>  
            </div>
      </div>
    </div>
    
    <div id="fadeinModal" class="modal animated fadeInDown" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modaltitle" id="myExtraLargeModalLabel">{{'ConfirmShipmentReceipt' | translate}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="main-box no-header clearfix">
                            <div class="main-box-body clearfix">
                            
                                    <div class="form-row my-2" [formGroup]="firstFormGroup">

                                        <div class="form-group col-md-3">
                                            <label class="birthreg" for="inputPincode1" [ngClass]="{'label-border-class': secondFormCheck && firstFormGroup.controls.HbA0.invalid }">{{'HbA0' | translate }}</label>
                                            <input type="text" class="form-control" id="inputPincode1" placeholder="HbA0" [(ngModel)]="selectedHBA0" formControlName = "HbA0" [ngClass]="{'red-border-class': secondFormCheck && firstFormGroup.controls.HbA0.invalid }">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="birthreg" for="inputPincode1" [ngClass]="{'label-border-class': secondFormCheck && firstFormGroup.controls.HbA2.invalid }">{{'HbA2' | translate }}</label>
                                            <input type="text" class="form-control" id="inputPincode1" placeholder="HbA2" [(ngModel)]="selectedHbA2" formControlName = "HbA2" [ngClass]="{'red-border-class': secondFormCheck && firstFormGroup.controls.HbA2.invalid }">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="birthreg" for="inputPincode1" [ngClass]="{'label-border-class': secondFormCheck && firstFormGroup.controls.HbD.invalid }">{{'HbD' | translate }}</label>
                                            <input type="text" class="form-control" id="inputPincode1" placeholder="HbD" [(ngModel)]="selectedsHbD" formControlName = "HbD" [ngClass]="{'red-border-class': secondFormCheck && firstFormGroup.controls.HbD.invalid }">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="birthreg" for="inputPincode1" [ngClass]="{'label-border-class': secondFormCheck && firstFormGroup.controls.HbF.invalid }">{{'HbF' | translate }}</label>
                                            <input type="text" class="form-control" id="inputPincode1" placeholder="HbF" [(ngModel)]="selectedHbF" formControlName = "HbF" [ngClass]="{'red-border-class': secondFormCheck && firstFormGroup.controls.HbF.invalid }">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label class="birthreg" for="inputPincode1" [ngClass]="{'label-border-class': secondFormCheck && firstFormGroup.controls.HbS.invalid }">{{'HbS' | translate }}</label>
                                            <input type="text" class="form-control" id="inputPincode1" placeholder="HbS" [(ngModel)]="selectedHbS" formControlName = "HbS" [ngClass]="{'red-border-class': secondFormCheck && firstFormGroup.controls.HbS.invalid }">
                                        </div>
                                    </div>
                            
                            </div>
                    
                            <div class="row float-right">
                                <button type="submit" class="mr-2 btn btn-primary float-right" id="linkto"
        (click)="sampleSubmit();" name="linkto">{{'Update' | translate}}</button>
                                <button class="btn float-right" style="margin-left: 5px;" data-dismiss="modal"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


