
#formValidate .wizard>.content {
    min-height: 25em;
}

#example-vertical.wizard>.content {
    min-height: 24.5em;
}

.layout-px-spacing {
    min-height: calc(100vh - 166px) !important;
}

h5.float-left {
    color: #1b55e2;
    font-weight: 600;
    text-shadow: 1px 0px #125879;
    font-size: 25px;
}
.modaltitle {
    color: #1b55e2;
    font-weight: 600;
    text-shadow: 1px 0px #125879;
    font-size: 20px;
    /* text-align: center; */
}

.table>tbody>tr>td {
    text-align: left;
    vertical-align: middle;
    color: #141415;
    font-size: 13px;
    letter-spacing: 1px;
}
.table>tbody {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
}
/* .note{
    font-size: 15px;
    font-weight: 600;
    color: #575858;
} */
 .table td,
.table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: none;
}
div.dataTables_wrapper div.dataTables_filter svg {
    top: 30px !important;
}

.none{
    display: none;
}

@media (min-width: 576px) {
    .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    }
    }
    
    
    ::ng-deep .mat-horizontal-stepper-header-container {
        display: none !important;
      }
    
      ::ng-deep .mat-horizontal-content-container
      {
          padding:0 !important;
      }
    
      .reges-form-main-container
      {
        background: #f6f6f6;
        padding: 5px;
      }
    
      .reges-form-main-container:hover
      {
        background: #f3f3f3;
        display: block;
        -webkit-box-shadow: 2px 2px 2px 2px #1b55e26b;
        -moz-box-shadow: 2px 2px 2px 2px #1b55e26b;
        box-shadow: 2px 2px 4px 4px #1b55e26b;
      }
      .float-right
      {
        float:right;
      }
      .reges-form-bottom-btns
      {
          margin-top:15px;
          margin-bottom: 10px;
      }
    
      .reg-btn-disable
      {
          color:#888ea8;
          background: #ebedf2;
      }
      .reg-btn-enable
      {
          color:#ffffff;
          background: #1b55e2;
      }

      /* validation style */
      .red-border-class
{
    border: 1px solid red;
}
.label-border-class
{
    color: red !important;
}
.print-header
{
    /*display: none;*/
}
.print-show
{
    display:none;
}
.margin-top-30
{
    margin-top:30px !important;
}
.print-none
    {
        display:block;
    }
    .watermark {
       visibility: hidden;
      }
    @media all {
        .watermark {
          /*display: none;*/
          background-image: url("../../../../assets/assets/img/NRHM_GovOdishA_logo.png");
          /*float: right;*/
          width: 100%;
    height: 100vh;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.2;
    background-attachment: fixed;
    background-position: center;
    z-index: 1; 
    background-repeat: no-repeat;
    

        }
      }
    
@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
    .watermark {
        display: block;
        -webkit-print-color-adjust: exact;
        visibility: visible;
      }
    .print-none
    {
        display:none;
    }
    .print-show
{
    display:block;
}
  .print-header
  {
      /*display: block;*/
  }
    .testing-summary-contaner
    {
        margin-top:-120px;
    }
    .print-btn
    {
        display: none;
    }
    .layout-spacing
    {
        padding:0;
    }
    .mt-3, .my-3
    {
        margin:0 !important;
    }
    .header-text
    {
        font-size: 12px;
    }
    .row
    {
        margin:0 !important;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
    {
        padding:0 !important;
    }
    .logo-left
    {
        margin-left:5px;
    }
    .logo-right
    {
        margin-right:5px;
        max-width: 100px;
        padding-right:15px;
    }
    .left-logo-cont
    {
       /* max-width: 15% !important;*/
    }
    .col-mid
    {
        /*max-width: 50% !important;*/

    }
    .table > thead > tr > th
    {
        color:#000000 !important;
    }
    .widget-content-area
    {
        padding: 10px 20px;
    }
    .right-logo-cont
    {
        
    }

    .table-bordered tbody tr:nth-of-type(odd)
    {
        background-color: #ffffff !important;
    }
    .table-bordered td
    {
        border:none !important;
    }
    .table > tbody tr
    {
        border:none !important;
        height:auto;
    }
    .table-bordered.table-custom-border td,.table.table-custom-border > tbody tr
    {
        border:1px solid #000000 !important;
    }
    .table td, .table th{
        padding: 5px !important;
    }
  }

  .button-cls
  {
    background:#0177ff !important;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    display:inline-block;
  }