<div class="tab-pane fade show" id="scheduled" role="tabpanel" aria-labelledby="scheduled-tab">
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="form-row ml-3 my-2">
              <div class="form-group col-md-2" [formGroup]="dateform">
                <label for="inputFromdate">{{'FromDate' | translate }}
                </label>
                <div class="form-group mb-0">
                    <ng2-flatpickr id="scFromDate" name="fromDate" formControlName="fromDate" class="form-control flatpickr flatpickr-input active" #startPicker1 [config]="startOptions1" placeholder="Select Date.." [(ngModel)]="fromDate"></ng2-flatpickr>
                </div>
              </div>
              <div class="form-group col-md-2" [formGroup]="dateform">
                <label for="inputTodate">{{'ToDate' | translate }}</label>
                <div class="form-group mb-0">
                  <ng2-flatpickr id="scToDate" name="toDate" formControlName="toDate" class="form-control flatpickr flatpickr-input active" #endPicker [config]="startOptions2" placeholder="Select Date.." [(ngModel)]="toDate" [disabled]="true"></ng2-flatpickr>
                </div>
              </div>
                <div class="form-group col-md-2">
                    <label for="inputSubjectcategory">Sample Status</label>
                    <select id="inputDistrict" class="form-control" required [(ngModel)]="selectedSampleStatus">
                        <option [ngValue]="null">Select Status</option>
                        <option [value]="district.id" *ngFor="let district of sampleStatusData">{{district.statusName}}</option>
                      </select>
                </div>
                
                <div class="form-group col-md-1">
                    <label for="inputSubjectcategory">CHC</label>
                    <select id="inputDistrict" class="form-control" required [(ngModel)]="selectedchc" (ngModelChange)="chcChange()">
                      <option [ngValue]="null">Select CHC</option>
                      <option [value]="chc.id" *ngFor="let chc of CHCdata">{{chc.chcName}}</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputSubjectcategory">PHC</label>
                    <select id="inputDistrict" class="form-control" required [(ngModel)]="selectedphc" [disabled]="selectedchc == null ? true : false" (ngModelChange)="phcChange()">
                      <option [ngValue]="null">Select PHC</option>
                      <option [value]="phc.id" *ngFor="let phc of PHCdata">{{phc.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputSubjectcategory">ANM</label>
                    <select id="inputDistrict" class="form-control" required [(ngModel)]="selectedAnm" [disabled]="selectedphc == null ? true : false">
                      <option [ngValue]="null">Select ANM</option>
                      <option [value]="anm.id" *ngFor="let anm of ANMdata">{{anm.name}}</option>
                    </select>
                </div>
                <div class="px-2 bd-highlight search-margin">
                    <!-- <button type="submit" class="btn btn-primary search-btn">Search</button> -->
                    <a (click)="refreshData()"><button type="submit" class="btn search-bu">
                            <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button></a>
                </div>
            </div>
            <div class="table-responsive my-2">
                <table id="preschedule-config" class="table table-bordered table-hover mb-4" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th><span>S.No</span></th>
                            <th><span>Subject Name</span></th>
                            <th><span>Subject ID</span></th>
                            <th><span>RCH ID</span></th>
                            <th><span>ANM Name</span></th>
                            <th><span>RI Point</span></th>
                            <th><span>Barcode</span></th>
                            <th><span>Shipment Date</span></th>
                            <th><span>Sample Status</span></th>
                            <th><span>Result</span></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let pnddata of pndPendingArray; index as i">
                            <td>{{i+1}}</td>
                            <td style="text-align: left">{{pnddata.subjectName}}</td>
                            <td class="text-center">{{pnddata.uniqueSubjectId}}</td>
                            <td class="sid text-center">{{pnddata.rchId}}</td>
                            <td style="text-align: left">{{pnddata.anmName}}</td>
                            <td class="text-center">{{pnddata.riPoint}}</td>
                            <td class="text-center">{{pnddata.barcodeNo}}</td>
                            <td class="text-left">{{pnddata.shipmentDate}}</td>
                            <td class="text-left">{{pnddata.sampleStatus}}</td>
                            <td class="text-left">{{pnddata.hplcResult}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>


<div class="modal mdllarge fade bd-example-modal-xl" id="fadeinModal" tabindex="-1" role="dialog"
                    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog  modal-xl modal-dialog-centered">
                  <!-- Modal content-->
                  <div class="modal-content" id="exampleModalLabel">
                      <div class="modal-header">
                          <h5 class="modal-title modaltitle text-center">Report - Sample Status</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                  class="feather feather-x">
                                  <line x1="18" y1="6" x2="6" y2="18"></line>
                                  <line x1="6" y1="6" x2="18" y2="18"></line>
                              </svg>
                          </button>
                      </div>

                      <div class="modal-body form-body">
                          
                          <div class="row my-2">
                              <div class="col-md-4">
                                  <h5 class="float-left"><b>Subject ID</b> : OD001202032110</h5>
                              </div>
                              <div class="col-md-4">
                                  <!-- <h5 class="float-center"><b>Infant ID</b> : OD001202032110</h5> -->
                              </div>
                              <div class="col-md-4 d-flex justify-content-end">
                                  <div class="btn-toolbar mb-2 mb-md-0">
                                      <div class="btn-group">
                                          <button type="button" class="btn btn-sm btn-outline-light">
                                              <img src="assets/assets/img/excelimage.png" width="23px" class="downloadimg bs-tooltip" title="Download as Excel"></button>
                                          <button type="button" class="btn btn-sm btn-outline-light">
                                              <img src="assets/assets/img/pdfimage.webp" width="23px" class="downloadimg bs-tooltip" title="Download as PDF"></button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row my-2">
                              <div class="col-md-12">
                                  <div class="table-responsive" style="overflow-x: hidden;">
                                      <table class="table table-bordered table-striped">
                                          <thead class="tablecss">
                                              <tr class="" style="background-color: #e3e8ef;">
                                                  <th colspan="8" class="text-left"
                                                      style="color:#3a3b3e;font-size: 15px;"><b>Basic Info</b>
                                                  </th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td class="sp-xs-td-9 text-left"><b>Subject Name</b></td>
                                                  <td class="sp-xs-td-15 text-left">Mrs.Alkha</td>
                                                  <td class="sp-xs-td-9 text-left"><b>Subject ID</b></td>
                                                  <td class="sp-xs-td-15 text-left">OD001202032110</td>
                                                  <td class="sp-xs-td-9 text-left"><b>Age</b></td>
                                                  <td class="sp-xs-td-15 text-left">28 yrs</td>
                                                  <td class="sp-xs-td-9 text-left"><b>Contact No</b></td>
                                                  <td class="sp-xs-td-15 text-left">7898765342</td>
                                              </tr>
                                              <tr>
                                                  <td class="text-left"><b>LMP Date</b></td>
                                                  <td class="text-left">20/05/2020</td>
                                                  <td class="text-left"><b>Gestational Age</b></td>
                                                  <td class="text-left">12</td>
                                                  <td class="text-left"><b>RCH ID</b></td>
                                                  <td class="text-left">123456</td>
                                                  <td class="text-left"><b>Obstetrics Score</b></td>
                                                  <td class="text-left">G2-P1-L1-A1</td>
                                                  
                                                  
                                              </tr>
                                              <tr>
                                                  <td class="text-left"><b>EC Number</b></td>
                                                  <td class="text-left">12345678</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                          <div class="table-responsive my-3">
                              <table class="table table-bordered table-striped">
                                  <thead class="tablecss">
                                      <tr class="" style="background-color: #e3e8ef;">
                                          <th colspan="6" class="text-left" style="color:#3a3b3e;font-size: 15px;"><b>
                                                  Result</b>
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="sp-xs-td-9 text-left"><b>Clinical Diagnosis</b></td>
                                          <td class="sp-xs-td-15 text-left"> Homozygous Beta Thalassemia</td>
                                          <td class="sp-xs-td-9 text-left"><b>Molecular Test Result</b></td>
                                          <td class="sp-xs-td-15 text-left"> DNA Test Positive</td>
  
                                      </tr>
  
                                  </tbody>
                              </table>
                          </div>
                          <div class="modal-footer">
                              <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i>
                                  Close</button>
                              <!-- <button type="button" class="btn btn-primary">Save</button> -->
                          </div>
                  </div>
              </div>
          </div>
</div>

