<div class="tab-pane fade show active" id="unsentsamples" role="tabpanel" aria-labelledby="unsentsamples-tab">
    <div class="form-row">
        <div class="col-md-12">
            <div *ngIf="unsentSamplesErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': unsentSamplesErrorMessage === 'No samples found', 'alert-danger': unsentSamplesErrorMessage !== 'No samples found'}">
                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{unsentSamplesErrorMessage}}
            </div>  
        </div>
      </div>
    <div class="table-responsive mb-4">
        <table id="unsentsample-tblconfig" class="table table-bordered table-hover tbl-ht" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th class="text-center"><span>S.No</span></th>
                    <th class="text-center"><span>Subject Name</span></th>
                    <th class="text-center">Subject ID</th>
                    <th class="text-center"><span>RCH ID</span></th>
                    <!-- <th class="text-center">Subject Type</th> -->
                    <!-- <th class="text-center">Contact</th> -->
                    <th class="text-center">Barcode</th>
                    <th class="text-center">Sample Collection Date & Time</th>
                    <th class="text-center">Aging of Sample </th>
                    <th class="text-center">GA</th>
                    <!-- <th><input type="checkbox" id="select_all" class="" /></th> -->
                    <th class="text-center">
                        <div class="n-chk">
                            <label class="new-control new-checkbox checkbox-outline-primary">
                                <input type="checkbox" class="new-control-input" id="select_all" [(ngModel)]="selectedAll" (change)="selectAll()"  >
                                <span class="new-control-indicator leftspace"></span>Add
                                to Shipment
                            </label>
                        </div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sample of unsentSamples; index as i" >
                    <td class="sno text-center">{{i +1}}</td>
                    <td class="sname text-left">{{sample.subjectName}}</td>
                    <td class="sid text-center">{{sample.uniqueSubjectId}}</td>
                    <td class="sid text-center">{{sample.rchId}}</td>
                    <td class="sid text-center">{{sample.barcodeNo}}</td>
                    <td class="text-center">{{sample.sampleDateTime}}</td>
                    <td class="text-center">{{sample.sampleAging}}</td>
                    <td class="sid text-center">{{sample.gestationalAge}}</td>
                    <!-- <td><input type="checkbox" class="checkbox" value="1"/></td> -->
                    <td class="text-center">
                        <div class="n-chk">
                            <label class="new-control new-checkbox checkbox-outline-primary">
                                <input type="checkbox" class="new-control-input checkbox" 
                                value="{{sample.sampleSelected}}" 
                                (change)="checkIfAllSelected()"
                                [(ngModel)]="sample.sampleSelected">
                                <span class="new-control-indicator"></span>&nbsp;
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-danger float-right ml-2" (click)="getconfirmation()"
                role="button">Move to Expiry</a>
            <a class="btn btn-primary float-right"  (click)="openunsentSamples(unsentSamplesDetail)"
                role="button">Create Shipment</a>
                
        </div>
    </div>
</div>
<!-- The Modal -->
    <ng-template #unsentSamplesDetail let-modal>
            <div class="modal-header">
                <h5 class="modaltitle" id="myLargeModalLabel">Create Shipment</h5>
                <button type="button" class="close" (click)="modal.dismiss()">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-left"
                 (ngSubmit)="unsentsampleForm.form.valid && onSubmit(unsentsampleForm)" #unsentsampleForm="ngForm" novalidate>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12" id="text">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>ANM Name <span
                                            class="manto"></span></label>
                                            <input class="form-control field" readonly="" type="text" placeholder="ANM Name"
                                            [(ngModel)]="name" name="ANMName" >
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label [ngClass]="{'label-border-class':DDriPoint.invalid && DDriPoint.touched || unsentsampleForm.submitted && DDriPoint.invalid}" for="inputriPoint">RI Point<span
                                            class="manto">*</span></label>
                                            <select class="form-control" (change)="onChangeriPoint($event.target.value)"
                                            name=DDriPoint #DDriPoint="ngModel" [class.is-invalid]="DDriPoint.invalid && DDriPoint.touched || unsentsampleForm.submitted && DDriPoint.invalid"
                                            required [(ngModel)]="selectedriPoint">
                                              <option value="">--Select--</option>
                                              <option *ngFor="let riPoint of riPoints"
                                                      [(value)]= "riPoint.id ">
                                                  {{ riPoint.riSite }}
                                              </option>
                                              </select>
                                              <small class=" ml-2 text-danger" *ngIf="DDriPoint.invalid && DDriPoint.touched">Please choose a RI Point</small>
                                              <div *ngIf="unsentsampleForm.submitted && DDriPoint.invalid">     
                                                <small *ngIf="DDriPoint.untouched" class=" ml-2 text-danger">RI Point is required</small>  
                                              </div>  
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label [ngClass]="{'label-border-class':DDilrPoint.invalid && DDilrPoint.touched || unsentsampleForm.submitted && DDilrPoint.invalid}" for="inputilrPoint">ILR Point<span
                                            class="manto">*</span></label>
                                            <select id="inputilrPoint" class="form-control"
                                            name="DDilrPoint" #DDilrPoint="ngModel" [class.is-invalid]="DDilrPoint.invalid && DDilrPoint.touched || unsentsampleForm.submitted && DDilrPoint.invalid"
                                            required [(ngModel)]="selectedilrPoint">
                                              <option value="" selected>--Select--</option>
                                              <option *ngFor="let ilrpnt of ilrPoints"
                                                      [(value)]= "ilrpnt.id ">
                                                  {{ ilrpnt.ilrPoint }}
                                              </option>
                                              </select>
                                              <small class=" ml-2 text-danger" *ngIf="DDilrPoint.invalid && DDilrPoint.touched ">Please choose a ILR Point</small>
                                              <div *ngIf="unsentsampleForm.submitted && DDilrPoint.invalid">  
                                                <small *ngIf="DDilrPoint.untouched" class=" ml-2 text-danger">ILR Point is required</small>  
                                              </div> 
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label [ngClass]="{'label-border-class':DDLtestingChc.invalid && DDLtestingChc.touched || unsentsampleForm.submitted && DDLtestingChc.invalid}" for="inputTestingCHC">Receiving Testing CHC<span
                                            class="manto">*</span></label>
                                        <select name="DDLtestingChc" #DDLtestingChc="ngModel" [class.is-invalid]="DDLtestingChc.invalid && DDLtestingChc.touched || unsentsampleForm.submitted && DDLtestingChc.invalid"
                                            class="form-control field" id="inputTestingCHC" required [(ngModel)]="selectedtestingCHC">
                                            <option value="" selected>--Select--</option>
                                            <option *ngFor="let testingChcName of testingCHCNames"
                                                      [(value)]= "testingChcName.id">
                                                  {{ testingChcName. chcName }}
                                              </option>
                                        </select>
                                        <small class=" ml-2 text-danger" [class.d-none]="DDLtestingChc.valid || DDLtestingChc.untouched ">Please choose a Receiving Testing CHC</small>
                                        <div *ngIf="unsentsampleForm.submitted && DDLtestingChc.invalid">  
                                            <small *ngIf="DDLtestingChc.untouched" class=" ml-2 text-danger">Receiving Testing CHC is required</small>  
                                          </div>
                                    </div>
                                </div>

                                <div class="form-row my-2">
                                    <div class="form-group col-md-3">
                                        <label [ngClass]="{'label-border-class':DDLavdName.invalid && DDLavdName.touched || unsentsampleForm.submitted && DDLavdName.invalid}" for="inputAvdName">AVD Name<span
                                            class="manto">*</span></label>
                                        <select name="inputAvdName"
                                        name="DDLavdName" #DDLavdName="ngModel" [class.is-invalid]="DDLavdName.invalid && DDLavdName.touched || unsentsampleForm.submitted && DDLavdName.invalid"
                                        class="form-control field" id="inputAvdName" required [(ngModel)]="selectedAvdName">
                                        <option value="">--Select--</option>
                                        <option *ngFor="let AvdName of AvdNames"
                                                  [(value)]= "AvdName.id">
                                              {{ AvdName. avdName }}
                                          </option>
                                        </select>
                                        <small class=" ml-2 text-danger" [class.d-none]="DDLavdName.valid || DDLavdName.untouched ">Please choose a Receiving Testing CHC</small>
                                        <div *ngIf="unsentsampleForm.submitted && DDLavdName.invalid">  
                                            <small *ngIf="DDLavdName.untouched" class=" ml-2 text-danger">AVD Name is required</small>  
                                          </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label [ngClass]="{'label-border-class':contactNo.invalid && contactNo.touched || unsentsampleForm.submitted && contactNo.invalid}">Contact Number<span
                                            class="manto">*</span></label>
                                        <input class="form-control field" name="contactNo" #contactNo="ngModel" ngModel maxlength="10" 
                                        oninput="this.value = this.value.replace(/[^\d{10}$]/g, '').replace(/(\..*)\./g, '$1');" 
                                        [class.is-invalid]="contactNo.invalid && contactNo.touched || unsentsampleForm.submitted && contactNo.invalid"
                                            required type="tel" placeholder="Contact Number" [(ngModel)]="avdContactNo">
                                            <div *ngIf="contactNo.errors && (contactNo.invalid || contactNo.touched)">
                                                <small class="ml-2 text-danger" *ngIf="contactNo.errors.required && contactNo.touched">The Contact number is required</small>
                                                <!-- <small class="ml-2 text-danger" *ngIf="contactNo.errors.pattern">The Contact number must be 10 digits</small> -->
                                            </div>
                                            <div *ngIf="unsentsampleForm.submitted && contactNo.invalid">  
                                                <small *ngIf="contactNo.untouched" class=" ml-2 text-danger">The Contact number is required</small>  
                                            </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Shipment Date<span
                                            class="manto">*</span></label>
                                        <!-- <input id="shipmentdate"
                                            class="form-control flatpickr flatpickr-input"
                                            type="text" placeholder="Select Date..."  name="dateOfShipment" [(ngModel)]="dateOfShipment"> -->
                                        <ng2-flatpickr id="shipmentdate" class="form-control flatpickr flatpickr-input" type="text" #collectionDatePicker
                                        [config]="shipmentDateOptions" placeholder="Select Date..." name="dateOfShipment" [(ngModel)]="dateOfShipment"
                                        formControlName="dateOfShipment" required></ng2-flatpickr>
                                        </div>
                                    <div class="form-group col-md-2">
                                        <label>Shipment Time <span
                                            class="manto">*</span></label>
                                        <!-- <input id="shipmenttime"
                                            class="form-control flatpickr flatpickr-input active "
                                            type="text" placeholder="Select Time..." name="timeOfShipment" 
                                            [(ngModel)]="timeOfShipment"> -->
                                        <ng2-flatpickr id="shipmenttime" class="form-control flatpickr flatpickr-input" type="text"  
                                        [(ngModel)]="timeOfShipment" #collectionTimePicker [config]="shipmentTimeOptions"
                                        placeholder="Select Time..."  name="timeOfShipment" formControlName="timeOfShipment" required></ng2-flatpickr>
                                    </div>
                                </div>
                                <br>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary"
                                        id="linktobuttonpickpak">Submit</button>
                                    <button class="btn"  (click)="modal.dismiss()"><i
                                            class="flaticon-cancel-12"></i> Close</button>
                                </div>


                            </div>

                        </div>
                    </div>
            </form>
            </div>
            <!-- <i appLoadScript [script]="'assets/assets/js/anm/anm-notification.js'"></i>
            <i appLoadScript [script]="'assets/assets/js/anm-module/unsentsamples-popup.js'"></i> -->
    </ng-template>

<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>