<div class="tab-pane fade show active" id="counselledNo" role="tabpanel" aria-labelledby="counselledNo-tab">
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="form-row mt-4">
                <div class="col-sm-12">
                  <div *ngIf="prepndtcounselledNoErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': prepndtcounselledNoErrorMessage ==='No subjects found', 'alert-danger': prepndtcounselledNoErrorMessage !== 'No subjects found'}">
                    <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{prepndtcounselledNoErrorMessage}}
                  </div>
                </div>
              </div>
            <div class="form-row ml-3 mt-2 mb-3">
                <div class="form-group col-md-2">
                    <label for="inputDistrict">{{'District' | translate}}</label>
                    <select id="inputDistrict" class="form-control" (change)="onChangeDistrict($event.target.value)"
                    name=DDLdistrict #DDLdistrict="ngModel" ngModel required [(ngModel)]="selectedDistrict">
                        <option value="">Select</option>
                        <option *ngFor="let district of districts" [(value)]=" district.id ">
                            {{district.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputCHC">{{'CHC' | translate}}</label>
                    <select id="inputCHC" class="form-control" (change)="onChangechc($event.target.value)" [disabled]="selectedDistrict === ''"
                    name=DDLchc #DDLchc="ngModel" ngModel required [(ngModel)]="selectedchc">
                        <option value="">Select</option>
                        <option *ngFor="let chc of chclists" [(value)]=" chc.id ">
                            {{chc.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPHC">{{'PHC' | translate}}</label>
                    <select id="inputPHC" class="form-control" name=DDLphc #DDLphc="ngModel" (change)="onChangephc($event.target.value)" [disabled]="selectedchc === ''"
                    ngModel required [(ngModel)]="selectedphc">
                        <option value="">Select</option>
                        <option *ngFor="let phc of phclists" [(value)]=" phc.id ">
                            {{phc.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputANM">{{'ANM' | translate}}</label>
                    <select id="inputANM" class="form-control" name=DDLanm #DDLanm="ngModel" ngModel required [(ngModel)]="selectedanm" [disabled]="selectedphc === ''">
                        <option value="">Select</option>
                        <option *ngFor="let anm of anmlists" [(value)]="anm.id">
                            {{anm.name}}
                        </option>
                    </select>
                </div>
                <div class="px-2 bd-highlight search-margin" >
                    <!-- <button type="submit" class="btn btn-primary search-btn">Search</button> -->
                    <a (click)="retrivecounsellednolists()"><button type="submit" class="btn search-bu">
                            <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button></a>
                </div>   
            </div>
            <div class="table-responsive mt-5 mb-2">
                <table id="tobescheduled-config" class="table table-bordered table-hover mb-4" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th class="text-center"><span>{{'SNo' | translate}}</span></th>>
                            <th class="text-center"><span>{{'SubjectName' | translate}}</span></th>
                            <th class="text-center"><span>{{'SubjectID' | translate}}</span></th>
                            <th class="text-center"><span>{{'RCHID' | translate}}</span></th>
                            <!-- <th class="text-center"><span>{{'LMPDate' | translate}}</span></th>                                     -->
                            <th class="text-center"><span>{{'GA' | translate}}</span></th>
                            <th class="text-center"><span>{{'ObstetricScore' | translate}}</span></th>
                            <th class="text-center"><span>{{'Contact' | translate}}</span></th>
                            <th class="text-center"><span>{{'SpouseName' | translate}}</span></th>
                            <th class="text-center"><span>{{'CounsellorName' | translate}}</span></th>
                            <th class="text-center"><span>{{'CounsellingDate&Time' | translate}}</span></th>
                            <th class="text-center"><span>{{'Details' | translate}}</span></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let counsellednodata of counsellednolists; index as i">
                            <td class="sno text-center">{{i +1}}</td>
                            <td class="text-left">{{counsellednodata.subjectName}}</td>
                            <td class="text-center">{{counsellednodata.anwSubjectId}}</td>
                            <td class="sid">{{counsellednodata.rchId}}</td>
                            <!-- <td class="text-center">18/05/2020</td> -->
                            <td class="text-center">{{counsellednodata.ga}}</td>
                            <td class="text-center">{{counsellednodata.obstetricScore}}</td>
                            <td class="text-center">{{counsellednodata.contactNo}}</td>
                            <td class="text-left">{{counsellednodata.spouseName}}</td>
                            <td>{{counsellednodata.counsellorName}}</td>
                            <td>{{counsellednodata.counsellingDateTime}}</td>
                            <td class="text-center"><a (click)="openpndtdetail(counsellednodata)"><i
                                        class="fas fa-edit fa-2x"
                                        aria-hidden="true"></i></a></td>

                        </tr>
                    </tbody>
                </table>

                <!--  <input type="Submit" class="btn btn-success" value="Affix new barcode" id="btnShowHide">  -->
                <!-- <input type="Submit" class="btn btn-success" value="Recall status"> -->
            </div>
           
        </div>
    </div>
</div>