<header>
  
    <div class="container-fluid header-band">
      <div class="row">
        <div class="col-md-2 float-left">
          <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/assets/img/cmc-four-logo.png" class="mt-2">
          </a>
        </div>
        <div class="col-md-8">
          <h3 class="mt-2 text-center header-title">THALASSEMIA AND SICKLE CELL DISEASE CONTROL PROGRAM IN ODISHA
          </h3>
          <p class="text-center textcolor">
            << Program tag line>>
          </p>
        </div>
        <div class="col-md-2">
          <a href="#" class="float-right">
            <!-- <img src="assets/img/help-icon-small.png"> -->
            <!-- <p></p>Help</span></p> -->
            <a href="#" class="float-right">
              <i class="fa fa-question-circle fa-3x text-white bx-shadow ml-2 mt-2" aria-hidden="true"></i>
              <p class="ml-2 textcolor"><b>Help</b></p>
            </a>
          </a>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="#">&nbsp;</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mx-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="#">To be provided by CMC</a></div>
               
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About Us
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="#">To be provided by CMC</a></div>
               
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About the program
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="#">To be provided by CMC</a></div>
             
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Partners / Team
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <a class="dropdown-item" href="#">To be provided by CMC</a></div>
               
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Important links
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                <a class="dropdown-item" href="#">To be provided by CMC</a></div>
               
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gallery
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                <a class="dropdown-item" href="#">To be provided by CMC</a>
              </div>
            </li>
        </ul>
      </div>
    </nav>
</header>
