
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
      <app-site-sidebar module="pndtc" subMenum="Schedule-Pre-PNDTC"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
          <!-- <div class="col-md-12 text-center">
                    <h5 class="">ANM Name - PHC Name</h5>
                </div> -->
          <div class="col-md-12">
            <div class="justify-between">
              <div class="col-md-4 print-none">
                <!-- <div class="float-left mb-4">
                  <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/pathologist-hplc/abnormal']" role="button"
                  ngbTooltip="Diagnostic - HPLC" placement="right"><i class="fas fa-chevron-left pNav-left"></i></a>
                </div> -->
              </div>
              <!-- <h5 class="float-left">Sample Collection</h5> -->
              <div class="col-md-4 print-none">
                <div class="headertit">
                  <h5 class="float-center print-none">{{'ReportSampleStatus' | translate}}</h5>
                </div>
              </div>
              <div class="col-md-4 print-none">
                
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
            <div class="widget-content widget-content-area br-6">
              <ul class="nav nav-tabs print-none" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="damagedsample-tab" data-toggle="tab" [ngClass]="{'active': currentPage == 'patho-report-print' ? true : false}"
                     [routerLink]="['/app/patho-report-print']" role="tab" aria-controls="home"
                     aria-selected="true">
                    {{'Bulk Print' | translate }}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="unsentsamples-tab" data-toggle="tab" [routerLink]="['/app/patho-report-print/searchbarcode']"
                  [ngClass]="{'active': currentPage == 'searchbarcode' ? true : false}" role="tab" aria-controls="profile" aria-selected="false">
                    {{'Individual Print'| translate }}
                  </a>
                </li>
                
               
              </ul>
              <div class="tab-content mt-5" id="myTabContent">
                <!-- <router-outlet (activate)="showNumberOnBadge($event)"></router-outlet> -->
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <!--  END CONTENT AREA  -->
  </div>
  <!--  END MAIN CONTAINER  -->
  
  <!--<i appLoadScript [script]="''"></i>-->
  <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
  