body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  background: #fff !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

form span.input-error {
  color: red;
}

html {
  height: 100%;
}
.alert1 .glyphicon {
  display: table-cell;
}

.alert1 div,
.alert1 span {
  padding-left: 5px;
  display: table-cell;
}
.alert .alert-icon-col {
  min-width: 25px;
  max-width: 25px;
  margin-top: 2px;
}
.alert-danger {
  color: #721c24;
  background-color: #fdebed;
  border-color: #f5c6cb;
}
.border-right {
  border-right: 2px solid #d8dae0!important;
  height: 511px;
  /* box-shadow: 0px 0px 30px 20px grey; */
}
.form-form .form-form-wrap form .field-wrapper .n-chk .new-control-indicator{
  margin-left: 0px ! important;
}
.fa, .fas { 
  font-size: 16px !important;    
}
.header-bg-color {
  background-color: #1b55e2;
  /*background-color: #fcc86b;*/
}

#grad4 {
  height: 500px;
  /*background-image: linear-gradient(-90deg, #fbc15e, #e19f49);*/
  /* background-color: #1b55e2;*/
  /* Standard syntax (must be last) */
}

.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.waper1 {
  display: flex;
}

.mlmr {
  margin-left: 0px;
  margin-right: 0px;
}

.d-fiex {
  align-items: center;
}

.margin-top {
  margin-top: 25%;
}


/*navbar*/
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #1b55e2;
}

.navbar-dark .navbar-nav .nav-link {
  color: #263238;
}

/*navnbar*/

@media(max-width:767px) {
  .img-fluid {
      width: 50%;
  }
}

@media(max-width:767px) {
  #grad4 {
      height: 630px;
  }
}


.form-form .form-form-wrap {
  max-width: 480px;
  margin: 0 auto;
  min-width: 380px;
  min-height: 100%;
  height: 63vh;
  align-items: center;
  justify-content: center;
}

.form-form .form-form-wrap .form-form-wrap-popup {
  max-width: 480px;
  margin: 0 auto;
  min-width: 380px;
  min-height: 100%;
  height: 49vh;
  align-items: center;
  justify-content: center;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #1b55e2;
  border: 1px solid black;
  border-radius: .25rem;
}

.menu-font-size {
  font-size: 1.05rem;
}
.modaltitle {
  color: #1b55e2;
  font-weight: 600;
  text-shadow: 1px 0px #125879;
  font-size: 20px;
  /* text-align: center; */
}

::ng-deep .modal-content .modal-footer
{
    display: block !important;
}

::ng-deep .modal-content .modal-footer button
{
    float: right;
}

div.clearer { clear:both; }

/* .modal-header .modal-body form .form .field-wrapper .input svg {
  position: absolute !important;
  top: 16px !important;
  color: #1b55e2 !important;
  fill: rgba(27, 85, 226, 0.239216) !important;
} */


