<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="pndtc" subMenum="Update-Detail-TestResults"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
                </div> -->
                <div class="col-md-12">
                    <div class="justify-between">
                        <div class="col-md-4">
                            <div class="float-left"><a class="btn btn-outline-primary bs-tooltip" placement="right" [routerLink]="['/app/counselling-post-pndt']"
                                role="button" ngbTooltip="Back"><i class="fas fa-chevron-left pNav-left"></i></a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="headertit">
                                <h5 class="float-center"> Counselling – Post PNDT </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- <div class="float-right mb-4">
                  <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/chc-pickandpack']" role="button" placement="left" ngbTooltip="Pick & Pack to Screening Center"><i
                      class="fas fa-chevron-right pNav-right"></i></a>
                </div> -->
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile showhidediv" id="showhidediv">
                    <div class="widget-content widget-content-area br-6">
                        <div class="form-row mt-4">
                            <div class="col-sm-12">
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <tbody class="">
                                            <tr>
                                                <td>
                                                    <span class="float-left mt-0 mr-4">
                                                        <h5><b>Subject ID :</b> {{counsellingdataItem?.anwSubjectId}}
                                                            <strong class="ml-5">Subject Name :</strong> {{counsellingdataItem?.subjectName}}, F, {{counsellingdataItem?.age}} yrs
                                                            <strong class="ml-5">RCH ID :</strong> {{counsellingdataItem?.rchId}} 
                                                      </h5>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
                    <div class="widget-content widget-content-area br-6">
                        <div class="form-row mt-4">
                            <div class="col-sm-12">
                                <div *ngIf="updatepostpndtcErrorMessage" class="alert mt-3 mb-2"
                                    [ngClass]="{'alert-warning': updatepostpndtcErrorMessage ==='No subjects found', 'alert-danger': updatepostpndtcErrorMessage !== 'No subjects found'}">
                                    <span class="fa fa-info-circle mr-2"
                                        style="font-size: 16px;"></span><strong>Oops!</strong>
                                    {{updatepostpndtcErrorMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="tblBasicInfo">
                                        <thead class="tablecss">
                                            <tr class="" style="background-color: #e3e8ef;">
                                                <th colspan="8" class="text-left"
                                                    style="color:#3a3b3e;font-size: 15px;"><b>Subject Details</b>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="sp-xs-td-9"><b>Subject Name</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.subjectName}}</td>
                                                <td class="sp-xs-td-9"><b>Subject ID</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.anwSubjectId}}</td>
                                                <td class="sp-xs-td-9"><b>Age</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.age}}</td>
                                                <td class="sp-xs-td-9"><b>Contact No</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.contactNo}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>LMP Date</b></td>
                                                <td>{{counsellingdataItem?.lmpDate}}</td>
                                                <td><b>Gestational Age</b></td>
                                                <td>{{counsellingdataItem?.ga}}</td>
                                                <td><b>Obstetrics Score</b></td>
                                                <td>{{counsellingdataItem?.obstetricScore}}</td>
                                                <td><b>RCH ID </b></td>
                                                <td>{{counsellingdataItem?.rchId}}</td>

                                            </tr>
                                            <tr>

                                                <td><b>EC Number</b></td>
                                                <td>{{counsellingdataItem?.ecNumber}}</td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing mt-3">
                    <div class="widget-content widget-content-area br-6">

                        <div class="container-fluid py-2" style="background-color: #e3e8ef;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6 class="mt-2"><b>Test Results Summary</b></h6>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center"><span>Subject Name</span></th>
                                                <!-- <th class="text-center"><span>Barcodes</span></th> -->
                                                <th class="text-center"><span>CBC</span></th>
                                                <th class="text-center"><span>SST</span></th>
                                                <th class="text-center"><span>HPLC</span></th>

                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left">{{counsellingdataItem?.subjectName}}</td>
                                                <!-- <td class="text-center"><b>3423422</b>|3423434|3423442</td> -->
                                                <td class="text-left">{{counsellingdataItem?.anwCBCTestResult}}</td>
                                                <td class="text-left">{{counsellingdataItem?.anwSSTestResult}}</td>
                                                <td class="text-left">{{counsellingdataItem?.anwHPLCTestResult}}</td>

                                            </tr>
                                            <tr>
                                                <td class="text-left">{{counsellingdataItem?.spouseName}}</td>
                                                <!-- <td class="text-center"><b>3423422</b>|3423434|3423442</td> -->
                                                <td class="text-left">{{counsellingdataItem?.spouseCBCTestResult}}</td>
                                                <td class="text-left">{{counsellingdataItem?.spouseSSTestResult}}</td>
                                                <td class="text-left">{{counsellingdataItem?.spouseHPLCTestResult}}</td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
                    <div class="widget-content widget-content-area br-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class="tablecss">
                                            <tr class="" style="background-color: #e3e8ef;">
                                                <th colspan="6" class="text-left"
                                                    style="color:#3a3b3e;font-size: 15px;">
                                                    <a href="#" class="pthead">
                                                        <b>
                                                            <div class="d-flex">
                                                                <div class="p-2">Pre-natal Diagnosis Counselling</div>
                                                                <div class="ml-auto p-2"><i
                                                                        class="fa fa-caret-down"></i></div>
                                                            </div>
                                                        </b>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="d-none">
                                            <tr>
                                                <td class="sp-xs-td-9"><b>Date & Time</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.prePNDTCounsellingDateTime}}</td>
                                                <td class="sp-xs-td-9"><b>Counsellor Name</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.prePNDTCounsellorName}}</td>
                                                <td class="sp-xs-td-9"><b>Counselling Notes/Remarks</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.prePNDTCounsellingRemarks}}</td>
                                            </tr>

                                            <tr>
                                                <td><b>Counselling Status</b></td>
                                                <td>{{counsellingdataItem?.prePNDTCounsellingStatus}}</td>
                                                <td><b>Scheduled PNDT Date & Time</b></td>
                                                <td>{{counsellingdataItem?.schedulePrePNDTDate}} {{counsellingdataItem?.schedulePrePNDTTime}}</td>

                                            </tr>  
                                        </tbody>
                                        <!-- <div class="row my-2">
                                            <div class="col-md-6 ml-3"><b>Note</b>: Received signed consent form from subject and filed.
                                            </div>
                                        </div> -->
                                    </table>
                                    
                                </div>
                                
                            </div>

                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing indprofile">
                    <div class="widget-content widget-content-area br-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class="tablecss">
                                            <tr class="" style="background-color: #e3e8ef;">
                                                <th colspan="6" class="text-left"
                                                    style="color:#3a3b3e;font-size: 15px;">
                                                    <a href="#" class="pthead">
                                                        <b>
                                                            <div class="d-flex">
                                                                <div class="p-2">Pre-natal Diagnosis Test</div>
                                                                <div class="ml-auto p-2"><i
                                                                        class="fa fa-caret-down"></i></div>
                                                            </div>
                                                        </b>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="d-none">
                                            <tr>
                                                <td class="sp-xs-td-9"><b>PNDT Date & Time</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.pndtDateTime}}</td>
                                                <td class="sp-xs-td-9"><b>Obstetrician Name</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.pndtObstetrician}}</td>
                                                <td class="sp-xs-td-9"><b>PNDT Results</b></td>
                                                <td class="sp-xs-td-15">{{counsellingdataItem?.pndtResults}}</td>
                                            </tr>

                                            <tr>
                                                <td><b>Counsellor Name</b></td>
                                                <td>{{counsellingdataItem?.pndtCounsellorName}} </td>
                                                <td><b>PNDT Diagnosis</b></td>
                                                <td>{{counsellingdataItem?.pndtDateTime}}</td>

                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing indprofile" id="myTable" *ngIf="counsellingdataItem?.foetalDisease === true">
                    <div class="widget-content widget-content-area br-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="tablecss">
                                    <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="12" class="text-left" style="color:#3a3b3e;font-size: 15px;">
                                            <b>Update Post PNDT Counselling</b>
                                        </th>
                                    </tr>

                                </thead>

                            </table>
                        </div>

                        <form class="text-left" (ngSubmit)="updatePostPndtForm.form.valid && onSubmit(updatePostPndtForm)"
                            #updatePostPndtForm="ngForm" novalidate>
                            <div class="table-responsive">
                                <table class="table table-borderless">

                                    <tbody>
                                        <tr>
                                            <td>Counsellor Name</td>
                                            <td></td>
                                            <td>
                                                {{counsellingdataItem?.prePNDTCounsellorName}}
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Counselling Notes/Remarks</td>
                                            <td></td>
                                            <td><textarea id="textarea" class="form-control textarea" maxlength="225"
                                                    rows="2" placeholder="" name=Remarks #Remarks="ngModel"
                                                    ngModel></textarea></td>
                                        </tr>
                                        <tr>
                                            <td>The couple has agreed for MTP</td>
                                            <td></td>
                                            <td>
                                                <div class="col-sm-12">
                                                    <span class="ml-1 n-chk">
                                                        <label class="maritalstatus-radio-cont">
                                                            <input type="radio" id="options1" [(ngModel)]="myRadio"
                                                                value="yes"(change)="onClick('decisionyes')"
                                                                name=decisionyes #decisionyes>
                                                            <span class="radio-span">Yes</span>
                                                        </label>
                                                    </span>
                                                    <span class="ml-1 n-chk">
                                                        <label class="maritalstatus-radio-cont">
                                                            <input type="radio" id="options2" [(ngModel)]="myRadio"
                                                                value="no"(change)="onClick('decisionno')"
                                                                name=decisionno #decisionno>
                                                            <span class="radio-span">No</span>
                                                        </label>
                                                    </span>
                                                    <span class="ml-1 n-chk">
                                                        <label class="maritalstatus-radio-cont">
                                                            <input type="radio" id="options3" [(ngModel)]="myRadio"
                                                                value="decisionpending"
                                                               (change)="onClick('decisionpending')"
                                                                name=decisionpending #decisionpending>
                                                            <span class="radio-span">Decision
                                                                Pending</span>
                                                        </label>
                                                    </span>

                                                    <div id="gallery-box" style="display: none;">
                                                        <div class="row">
                                                            <div class="col-md-12" style="padding-left: 5px;">
                                                                <form action="" class="mt-2">
                                                                    <span>Upload consent form : </span>
                                                                    <input type="file" id="myFile" name="filename">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr *ngIf="isDecisionYes">
                                            <td>Obstetrician</td>
                                            <td></td>
                                            <td>

                                                <select class="form-control" name=DDLobstetrician
                                                    #DDLobstetrician="ngModel"
                                                    [class.is-invalid]="DDLobstetrician.invalid && DDLobstetrician.touched || updatePostPndtForm.submitted && DDLobstetrician.invalid"
                                                    required [(ngModel)]="selectedobstetrician" [disabled]="!isSelectedYes">
                                                    <option value="">Select</option>
                                                    <option *ngFor="let obstetriciandata of obstetricianlists"
                                                        [(value)]=" obstetriciandata.id ">
                                                        {{obstetriciandata.name}}
                                                    </option>
                                                </select>
                                                <small class=" ml-2 text-danger"
                                                    *ngIf="DDLobstetrician.invalid && DDLobstetrician.touched">Please
                                                    choose a Obstetrician Name</small>
                                                <div *ngIf="updatePostPndtForm.submitted && DDLobstetrician.invalid">
                                                    <small *ngIf="DDLobstetrician.untouched"
                                                        class=" ml-2 text-danger">Obstetrician Name is required</small>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="form-row" *ngIf="isDecisionYes">
                                <div class="col-md-5">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td class="sp-sm-th"> Schedule MTP Date & Time</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="table-responsive">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>                                               
                                                    <td class="text-center" [formGroup]="dateform">
                                                        <ng2-flatpickr id="scToDate" name="fixPndtSchedule"
                                                            class="form-control flatpickr flatpickr-input active"
                                                            #pndtschedulePicker [config]="dateOptions" 
                                                            placeholder="Select Date.." [disabled]="isSelectedYes"
                                                            formControlName="fixPndtSchedule"></ng2-flatpickr>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="form-row" id="gallery-box1" style="display:none;">
                            <div class="col-md-12">
                                <div class="n-chk">
                                    <label class="new-control new-checkbox checkbox-outline-primary">
                                        <input type="checkbox" class="new-control-input" id="select_all"
                                            checked>
                                        <span class="new-control-indicator"></span>Received signed consent form
                                        from Subject and filed
                                    </label>
                                </div>
                            </div>
                        </div> -->
                            </div>
                            <div class="form-row m-1">
                                <div class="form-group col-md-12">
                                    <!-- <button class="btn float-right" data-dismiss="modal" onclick="myDefinition()"><i
                                    class="flaticon-cancel-12"></i>
                                Close</button> -->
                                    <button type="submit" class="mr-2 btn btn-primary float-right" id="linkto"
                                        name="linkto">Submit</button>
                                    <!-- <button type="button" class="btn btn-primary">Save</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing indprofile" id="myTable" *ngIf="counsellingdataItem?.foetalDisease === false">
                    <div class="widget-content widget-content-area br-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead class="tablecss">
                                    <tr class="" style="background-color: #e3e8ef;">
                                        <th colspan="12" class="text-left" style="color:#3a3b3e;font-size: 15px;">
                                            <b>Update Post PNDT Counselling</b>
                                        </th>
                                    </tr>

                                </thead>

                            </table>
                        </div>

                        <form class="text-left" (ngSubmit)="updatePostPndtForm.form.valid && onSubmit(updatePostPndtForm)"
                            #updatePostPndtForm="ngForm" novalidate>
                            <div class="table-responsive">
                                <table class="table table-borderless">

                                    <tbody>
                                        <tr>
                                            <td>Counsellor Name</td>
                                            <td></td>
                                            <td>
                                                {{counsellingdataItem?.prePNDTCounsellorName}}
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Counselling Notes/Remarks</td>
                                            <td></td>
                                            <td><textarea id="textarea" class="form-control textarea" maxlength="225"
                                                    rows="2" placeholder="" name=Remarks #Remarks="ngModel"
                                                    ngModel></textarea></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-row m-1">
                                <div class="form-group col-md-12">
                                    <!-- <button class="btn float-right" data-dismiss="modal" onclick="myDefinition()"><i
                                    class="flaticon-cancel-12"></i>
                                Close</button> -->
                                    <button type="submit" class="mr-2 btn btn-primary float-right" id="linkto"
                                        name="linkto">Submit</button>
                                    <!-- <button type="button" class="btn btn-primary">Save</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
    <!--  END CONTENT AREA  -->
</div>
<!--  END MAIN CONTAINER  -->

    <i appLoadScript [script]="'assets/assets/js/profile.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/components/ui-accordions.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
    <i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/custom.js'"></i>
    <i appLoadScript [script]="'assets/assets/js/pndtc/update-testresults.js'"></i>
    <!-- <i appLoadScript [script]="'assets/plugins/flatpickr/collection-flatpickr.js'"></i> -->
    <!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
    <i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
    <!--<i appLoadScript [script]="''"></i>-->

<!--  END MAIN CONTAINER  -->