<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="chc" subMenum="Shipment-Log "></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div class="col-md-12">
                    <div class="justify-between">
                        <div class="col-md-4">
                            <div class="float-left"><a class="btn btn-outline-primary bs-tooltip"
                                    [routerLink]="['/app/chc-pickandpack']" role="button"
                                    ngbTooltip="Pick & Pack to Screening Center" placement="right"><i
                                        class="fas fa-chevron-left pNav-left"></i></a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="headertit">
                                <h5 class="float-center">Screening Center Shipment Log </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right mb-4">
                                <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/anm-subprofile']"
                                    role="button" ngbTooltip="Subject Profile" placement="left"><i
                                        class="fas fa-chevron-right pNav-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <div class="row my-4">
                            <div class="col-md-4">
                                <p class="float-left"><span><b>Shipment ID : </b></span><span>{{shipmentItem.shipmentId}}</span></p>
                            </div>
                            <div class="col-md-4">
                                <p class="float-left"><span><b>Shipment Date & Time :
                                        </b></span><span>{{shipmentItem.shipmentDateTime}}</span>
                            </div>

                        </div>

                        <div class="container-fluid mt-2">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>CHC Lab Technician Name : </b></span><span>{{shipmentItem.chcLabTechnicianName}}</span>
                            </div>

                            <div class="col-md-4">
                                <span><b>Collection CHC : </b></span><span>{{shipmentItem.collectionCHCName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Receiving Testing CHC : </b></span><span>{{shipmentItem.testingCHC}}</span>
                            </div>

                        </div>
                        <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>Logistics Service Provider : </b></span><span>{{shipmentItem.logisticsProviderName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Delivery Executive Name : </b></span><span>{{shipmentItem.deliveryExecutiveName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Contact Number : </b></span><span>{{shipmentItem.contactNo}}</span>
                            </div>

                        </div>

                        <div class="table-responsive mt-4" style="overflow-x: hidden;">
                            <table id="zero-config" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th><span>S.No</span></th>
                                        <th><span>Subject Name</span></th>
                                        <th><span>Subject ID</span></th>
                                        <th class="text-center"><span>RCH ID</span></th>
                                        <th><span>Associated ANM</span></th>
                                        <th><span>Barcode</span></th>
                                        <th><span>Sample Collection Date & Time</span></th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let sampleDetail of sampleDetails; index as i">
                                        <td class="sno text-center">{{i +1}}</td>
                                        <td class="sname">{{sampleDetail.subjectName}}</td>
                                        <td class="sid text-center">{{sampleDetail.uniqueSubjectId}}</td>
                                        <td class="sid text-center">{{sampleDetail.rchId}}</td>
                                        <td class="text-left">{{sampleDetail.associatedANM}}</td>
                                        <td class="mobile text-center">{{sampleDetail.barcodeNo}}</td>
                                        <td class="dartetimenew text-center">{{sampleDetail.sampleCollectionDateTime}}
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->


<!--  END MAIN CONTAINER  -->
<i appLoadScript [script]="'assets/assets/js/anm-module/anm-shipmentlog.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/pickandpacklist-flatpickr.js'"></i> -->
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>