<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="chc" subMenum="Shipment-Log "></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div class="col-md-12">
                    <div class="justify-between">
                        <div class="col-md-4">
                            <div class="float-left"><a class="btn btn-outline-primary bs-tooltip"
                                    [routerLink]="['/app/chc-pickandpack']" role="button"
                                    ngbTooltip="Pick & Pack to Screening Center" placement="right"><i
                                        class="fas fa-chevron-left pNav-left"></i></a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="headertit">
                                <h5 class="float-center">{{'ShipmentDetails' | translate }} </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right mb-4">
                                <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/anm-subprofile']"
                                    role="button" ngbTooltip="Subject Profile" placement="left"><i
                                        class="fas fa-chevron-right pNav-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                       
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-md-4 mt-3" style="width: 100%;" nowrap='nowrap'>
                                <b>{{'ShipmentID' | translate }}: {{shipmentItem.shipmentId}} </b>
                            </div>
                            <div class="col-md-4 mt-3"  style="width: 100%;" nowrap='nowrap'>
                                <b>{{'ShipmentDate&Time' | translate }}: {{shipmentItem.shipmentDateTime}}
                                        </b>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group">
                                        <a (click)="exportexcel()"><button type="button" class="btn btn-sm btn-outline-light">
                                            <img src="assets/assets/img/excelimage.png" width="23px" class="downloadimg bs-tooltip" ngbTooltip="Download as Excel"></button></a>
                                        <!-- <button type="button" class="btn btn-sm btn-outline-light">
                                            <img src="assets/assets/img/pdfimage.png" width="23px" class="downloadimg bs-tooltip" title="Download as PDF"></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="container-fluid mt-2">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>{{'CHCLabTechnicianName' | translate }} : </b></span><span>{{shipmentItem.chcLabTechnicianName}}</span>
                            </div>

                            <div class="col-md-4">
                                <span><b>{{'CollectionCHC' | translate }} : </b></span><span>{{shipmentItem.collectionCHCName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>{{'ReceivingTestingCHC' | translate }} : </b></span><span>{{shipmentItem.testingCHC}}</span>
                            </div>

                        </div> -->
                        <!-- <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>{{'LogisticsServiceProvider' | translate }} : </b></span><span>{{shipmentItem.logisticsProviderName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>{{'DeliveryExecutiveName' | translate }} : </b></span><span>{{shipmentItem.deliveryExecutiveName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>{{'ContactNumber' | translate }} : </b></span><span>{{shipmentItem.contactNo}}</span>
                            </div>

                        </div> -->
                        <div id="excel-table">
                        
                            <div class="table-responsive my-4">
                                <table class="table">                                
                                    <tbody>
                                        <tr>
                                            <td class="sp-xs-td-9"><b>{{'CHCLabTechnicianName' | translate }} : </b></td>
                                            <td class="sp-xs-td-15">{{shipmentItem.chcLabTechnicianName}}</td>
                                            <td class="sp-xs-td-9"><b>{{'CollectionCHC' | translate }} : </b></td>
                                            <td class="sp-xs-td-15">{{shipmentItem.collectionCHCName}}</td>
                                            <td class="sp-xs-td-9"><b>{{'ReceivingTestingCHC' | translate }} : </b></td>
                                            <td class="sp-xs-td-15">{{shipmentItem.testingCHC}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{'LogisticsServiceProvider' | translate }} : </b> </td>
                                            <td>{{shipmentItem.logisticsProviderName}}</td>
                                            <td><b>{{'DeliveryExecutiveName' | translate }} : </b></td>
                                            <td>{{shipmentItem.deliveryExecutiveName}}
                                            </td>
                                            <td><b>{{'ContactNumber' | translate }} : </b></td>
                                            <!-- <td><b>3423422</b>|3423434|3423442</td> -->
                                            <td>{{shipmentItem.contactNo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" style="overflow-x: scroll;margin-top: 2rem;height: 19rem;">
                                <table id="zero-config" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><span>{{'SNo' | translate }}</span></th>
                                            <th><span>{{'SubjectName' | translate }}</span></th>
                                            <th><span>{{'SubjectID' | translate }}</span></th>
                                            <th class="text-center"><span>{{'RCHID' | translate }}</span></th>
                                            <th><span>{{'AssociatedANM' | translate }}</span></th>
                                            <th><span>{{'Barcode' | translate }}</span></th>
                                            <th><span>{{'SampleCollectionDate_Time' | translate }}</span></th>
    
                                        </tr>
    
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sampleDetail of sampleDetails; index as i">
                                            <td class="sno text-center">{{i +1}}</td>
                                            <td class="sname">{{sampleDetail.subjectName}}</td>
                                            <td class="sid text-center">{{sampleDetail.uniqueSubjectId}}</td>
                                            <td class="sid text-center">{{sampleDetail.rchId}}</td>
                                            <td class="text-left">{{sampleDetail.associatedANM}}</td>
                                            <td class="mobile text-center">{{sampleDetail.barcodeNo}}</td>
                                            <td class="dartetimenew text-center">{{sampleDetail.sampleCollectionDateTime}}
                                            </td>
    
                                        </tr>
    
                                    </tbody>
                                </table>
                            </div>
    
                        </div>
                      
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--  END CONTENT AREA  -->


<!--  END MAIN CONTAINER  -->
<i appLoadScript [script]="'assets/assets/js/anm-module/anm-shipmentlog.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/pickandpacklist-flatpickr.js'"></i> -->
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>