
   
<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="anm" subMenum="sample-collection"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="row layout-top-spacing">
            <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
            <div class="col-md-12">
                <div class="justify-between">
                    <div class="col-md-4">
                       
                    </div>
                    <!-- <h5 class="float-left">Sample Collection</h5> -->
                    <div class="col-md-4">
                      <div class="headertit">
                        <h5 class="float-center">{{'State' | translate }}</h5>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="float-right mb-4">
                        <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-district']" role="button"
                        ngbTooltip="District" placement="left"><i class="fas fa-chevron-right pNav-right"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div *ngIf="statelistErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': statelistErrorMessage ==='No sample data  found', 'alert-danger': statelistErrorMessage !== 'No sample data  found'}">
                                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{statelistErrorMessage}}
                            </div>  
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12">
                            <a class="float-right mr-5" (click)="openAddState(addStateDetail)"
                            role="button">
                                <i class="fas fa-plus-square text-primary fnt-size" aria-hidden="true"></i>
                              </a>
                        </div>
                      </div>
                      <div class="table-responsive mb-4">
                        <table id="statelist-tblconfig" class="table table-bordered table-hover tbl-ht" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                          <thead>
                            <tr>
                              <th><span>{{'SNo' | translate }}</span></th>
                              <th><span>{{'StateName' | translate }}</span></th>
                              <th><span>{{'StateCode' | translate }}</span></th>
                              <th><span>{{'ShortName' | translate }}</span></th>
                              <th><span>{{'Comments' | translate }}</span></th>
                              <th><span>{{'Active' | translate }}</span></th>
                              <!-- <th><span>{{'Add' | translate }}</span></th> -->
                              <th><span class="wordwrap">{{'Edit' | translate }}</span></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let sample of statelists; index as i">
                              <td class="sno text-center">{{i +1}}</td>
                              <td class="sname text-left">{{sample.stateName}}</td>
                              <td class="sid text-center">{{sample.stateGovCode}}</td>
                              <td class="sid text-center">{{sample.shortName}}</td>
                              <td class="number text-center">{{sample.comments}}</td>
                              <td class="text-center">{{sample.isActive}}</td>
                              <!-- <td class="text-center">
                                <a class="" (click)="openAddState(addStateDetail, sample)"
                                role="button">
                                    <i class="fas fa-plus-square" aria-hidden="true"></i>
                                  </a>
                              </td> -->
                              <td class="text-center">
                                <a class="" (click)="editAddState(editStateDetail, sample)"
                                role="button">
                                    <i class="fas fa-pencil-square" aria-hidden="true"></i>
                                  </a>
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                     
                  
                    <!-- The Modal -->
                    <ng-template #addStateDetail let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title modaltitle">{{'AddState' | translate }}</h4>
                            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                              </svg>
                            </button>
                          </div>
                          <div class="modal-body form-body">
                            <form class="text-left" (ngSubmit)="addStateForm.form.valid && onSubmit(addStateForm)" #addStateForm="ngForm" novalidate>
                              <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                                <div class="form-row">
                                  <div class="form-group col-md-3">
                                        <label class="note" [ngClass]="{'label-border-class':!statename.valid && statename.touched || addStateForm.submitted && statename.invalid}">{{'StateName' | translate }} <span class="manto">*</span></label>
                                        <input class="form-control" name="statename" type="text" placeholder="State Name" ngModel
                                        [class.is-invalid]="!statename.valid && statename.touched || addStateForm.submitted && statename.invalid"
                                         #statename="ngModel" required>
                                        <small class="text-danger ml-2" *ngIf="!statename.valid && statename.touched ">Enter State Name</small> 
                                        <div *ngIf="addStateForm.submitted && statename.invalid">     
                                          <small *ngIf="statename.untouched" class=" ml-2 text-danger">State Name is required</small>  
                                        </div> 
                                     
                                  </div>
                    
                                  <!-- <div class="form-group col-md-3">
                                    <label class="note">{{'StateCode' | translate }}<span class="manto"></span></label>
                                    <input class="form-control" name="StateCode" type="text" placeholder="State Code" ngModel maxlength="6" pattern="^[a-zA-Z0-9]+$"
                                    [class.is-invalid]="!StateCode.valid && StateCode.touched || addStateForm.submitted && StateCode.invalid"
                                    #StateCode="ngModel" required>
                                    <small class="text-danger ml-2" *ngIf="!StateCode.valid && StateCode.touched ">Enter State Code</small> 
                                    <div *ngIf="addStateForm.submitted && StateCode.invalid">     
                                    <small *ngIf="StateCode.untouched" class=" ml-2 text-danger">State Code is required</small>  
                                    </div> 
                                  </div> -->
                                  <div class="form-group col-md-3">
                                    <label class="note">{{'StateCode' | translate }}<span class="manto"></span></label>
                                    <input class="form-control" name="StateCode" type="text" placeholder="State Code" ngModel pattern="^[a-zA-Z0-9]+$"           
                                    #StateCode="ngModel" >
                                    
                                  </div>
                                  <div class="form-group col-md-3">
                                    <label class="note">{{'ShortName' | translate }}<span class="manto"></span></label>
                                    <input class="form-control field" name="shortName" type="text" placeholder="Short Name" 
                                      autocomplete="off"  #shortName="ngModel" ngModel>
                                  </div>
                    
                                  <div class="form-group col-md-3">
                                    <label class="note">{{'Active' | translate}}<span class="manto"></span></label>
                                    <div class="n-chk">
                                        <label class="new-control new-checkbox checkbox-outline-primary">
                                          <input type="checkbox" class="new-control-input checkbox" 
                                          [checked]="confirmationSelected" (change)="confirmationSelected = !confirmationSelected">                             
                                          <span class="new-control-indicator"></span>&nbsp; &nbsp;
                                        </label>
                                    </div>
                                  </div>
                    
                                </div>
                    
                                <div class="form-row mt-4">
                                  <div class="form-group col-md-12">
                                    <label class="note" >{{'Comments' | translate }} <span class="manto"></span></label>
                                    <textarea id="textarea" class="form-control textarea" maxlength="225"
                                     rows="2"
                                    placeholder="" name=Comments #Comments="ngModel" ngModel></textarea>
                                  </div>                                                     
                                </div>
                              </div>
                    
                              <div class="modal-footer">
                                <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                                <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                                <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                              </div>
                            </form>
                    
                          </div>
                        
                       </ng-template> 

                       <ng-template #editStateDetail let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title modaltitle">{{'EditState' | translate }}</h4>
                          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-x">
                              <line x1="18" y1="6" x2="6" y2="18"></line>
                              <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                          </button>
                        </div>
                        <div class="modal-body form-body">
                          <form class="text-left" (ngSubmit)="editStateForm.form.valid && editSubmit(editStateForm)" #editStateForm="ngForm" novalidate>
                            <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                              <div class="form-row">
                                <div class="form-group col-md-3">
                                      <label class="note">{{'StateName' | translate }} <span class="manto">*</span></label>
                                      <input class="form-control" name="editStatename" type="text" placeholder="State Name" ngModel                                      
                                       #editStatename="ngModel" [(ngModel)]="statetnamedata">
                                                                       
                                </div>
                  
                                <!-- <div class="form-group col-md-3">
                                  <label class="note">{{'StateCode' | translate }}<span class="manto"></span></label>
                                  <input class="form-control" name="StateCode" type="text" placeholder="State Code" ngModel maxlength="6" pattern="^[a-zA-Z0-9]+$"
                                  [class.is-invalid]="!StateCode.valid && StateCode.touched || addStateForm.submitted && StateCode.invalid"
                                  #StateCode="ngModel" required>
                                  <small class="text-danger ml-2" *ngIf="!StateCode.valid && StateCode.touched ">Enter State Code</small> 
                                  <div *ngIf="addStateForm.submitted && StateCode.invalid">     
                                  <small *ngIf="StateCode.untouched" class=" ml-2 text-danger">State Code is required</small>  
                                  </div> 
                                </div> -->
                                <div class="form-group col-md-3">
                                  <label class="note">{{'StateCode' | translate }}<span class="manto"></span></label>
                                  <input class="form-control" name="editStateCode" type="text" placeholder="State Code" ngModel pattern="^[a-zA-Z0-9]+$"           
                                  #editStateCode="ngModel" [(ngModel)]="statetcodedata">
                                  
                                </div>
                                <div class="form-group col-md-3">
                                  <label class="note">{{'ShortName' | translate }}<span class="manto"></span></label>
                                  <input class="form-control field" name="editShortName" type="text" placeholder="Short Name" 
                                    autocomplete="off"  #editShortName="ngModel" ngModel [(ngModel)]="shortnamedata">
                                </div>
                  
                                <div class="form-group col-md-3">
                                  <label class="note">{{'Active' | translate}}<span class="manto"></span></label>
                                  <div class="n-chk">
                                      <label class="new-control new-checkbox checkbox-outline-primary">
                                        <input type="checkbox" class="new-control-input checkbox" 
                                        [checked]="confirmationSelected" (change)="confirmationSelected = !confirmationSelected">                             
                                        <span class="new-control-indicator"></span>&nbsp; &nbsp;
                                      </label>
                                  </div>
                                </div>
                  
                              </div>
                  
                              <div class="form-row mt-4">
                                <div class="form-group col-md-12">
                                  <label class="note" >{{'Comments' | translate }} <span class="manto"></span></label>
                                  <textarea id="textarea" class="form-control textarea" maxlength="225"
                                   rows="2" [(ngModel)]="commentsdata"
                                  placeholder="" name=editComments #editComments="ngModel" ngModel></textarea>
                                </div>                                                     
                              </div>
                            </div>
                  
                            <div class="modal-footer">
                              <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                              <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                              <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                            </div>
                          </form>
                  
                        </div>
                      
                     </ng-template> 
                </div>
                <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->
        </div>
        <!-- <div class="row mt-4">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item"><a class="page-link" href="notification.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="live-screener-entry.html">2</a></li>
                        <li class="page-item active"><a class="page-link" href="collection.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="Completed.html">4</a></li>
                        <li class="page-item"><a class="page-link" href="shipmentlog.html">5</a></li>
                        <li class="page-item"><a class="page-link" href="profile.html">6</a></li>
                    </ul>
                </nav>
            </div>
        </div> -->
    </div>
</div>
<!--  END CONTENT AREA  -->
<!--  END MAIN CONTAINER  -->