<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="anm" subMenum="Shipment-Details"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

	<div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <!-- <div class="col-md-12 text-center">
                    <h5 class="">ANM Name - PHC Name</h5>
                </div> -->

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="float-left"><a class="btn btn-outline-primary bs-tooltip" href="Completed.html" role="button"
                                    title="Pick & Pack"><i class="fas fa-chevron-left pNav-left"></i></a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="headertit">
                                <h5 class="float-center">Shipment Details</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right mb-4">
                                <a class="btn btn-outline-primary bs-tooltip" href="profile.html" role="button"
                                    title="Subject Profile"><i class="fas fa-chevron-right pNav-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>Shipment ID : </b></span><span>THSIK2020321</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Shipment Date & Time : </b></span><span>05/02/2020 17:00</span>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <!-- <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-light">
                                            <img src="assets/img/excelimage.png" width="23px" class="downloadimg bs-tooltip" title="Download as Excel"></button>
                                        <button type="button" class="btn btn-sm btn-outline-light">
                                            <img src="assets/img/pdfimage.webp" width="23px" class="downloadimg bs-tooltip" title="Download as Excel"></button>
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="col-md-4 d-flex justify-content-end">
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <a class="btn btn-light" href="#" aria-label="print">
                                        <i class="fa fa-file-excel-o" aria-hidden="true" style="color: green;font-size: 24px;"></i>
                                    </a>
                                    <a class="btn btn-light" href="#" aria-label="print">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true" style="color: red;font-size: 24px;"></i>
                                    </a>
                                </div>
                            </div> -->
                       
                        </div>

                        <!-- </div> -->
                        <!-- <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>Shipment ID : </b></span><span>THSIK2020321</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Shipment Date & Time : </b></span><span>05/02/2020 17:00</span>
                            </div>

                        </div> -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-3">
                                <span><b>ANM Name : </b></span><span>Pooja</span>
                            </div>
                            
                            <div class="col-md-3">
                                <span><b>RI Point : </b></span><span>Burja</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>ILR Point : </b></span><span>Laxmipur</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Receiving Testing CHC : </b></span><span>CHC Angul</span>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-3">
                                <span><b>AVD Name : </b></span><span>Suraj</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Contact Number : </b></span><span>9876765456</span>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center"><span>S.No</span></th>
                                        <th class="text-center"> <span>Subject Name</span></th>
                                       
                                        <th class="text-center"><span>Subject ID</span></th>
                                        <th class="text-center"><span>RCH ID</span></th>
                                        <th class="text-center"><span>Barcode</span></th>
                                        <th class="text-center"><span>Sample Collection Date & Time</span></th>

                                        <!-- <th><span>Select</span></th> -->
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="sno text-center">1</td>
                                        <td class="sname text-left">Soori Thangaraj</td>
                                        
                                        <td class="text-center">OD001202032110</td>
                                        <td class="text-center">123456</td>
                                        <td class="text-center">020155</td>
                                        <td class="text-center"></td>

                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="text-left">Selvi Manikkam</td>
                                       
                                        <td class="text-center">OD001202032112</td>
                                        <td class="text-center">214563</td>
                                        <td class="text-center">020154</td>
                                        <td class="text-center"></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mt-4">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item"><a class="page-link" href="notification.html">1</a></li>
                                    <li class="page-item"><a class="page-link" href="live-screener-entry.html">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="collection.html">3</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="Completed.html">4</a></li>
                                    <li class="page-item active"><a class="page-link" href="shipmentlog.html">5</a></li>
                                    <li class="page-item"><a class="page-link" href="profile.html">6</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->
            </div>
        </div>
	</div>	
    <!--  END CONTENT AREA  -->

</div>
<!--  END MAIN CONTAINER  -->
<i appLoadScript [script]="'assets/assets/js/anm-module/anm-shipmentlog.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/pickandpacklist-flatpickr.js'"></i> -->
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>