<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="anm" subMenum="Shipment-Details"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

	<div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <!-- <div class="col-md-12 text-center">
                    <h5 class="">ANM Name - PHC Name</h5>
                </div> -->

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="float-left"><a class="btn btn-outline-primary bs-tooltip" href="Completed.html" role="button"
                                    title="Pick & Pack"><i class="fas fa-chevron-left pNav-left"></i></a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="headertit">
                                <h5 class="float-center">Shipment Details</h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right mb-4">
                                <a class="btn btn-outline-primary bs-tooltip" href="profile.html" role="button"
                                    title="Subject Profile"><i class="fas fa-chevron-right pNav-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>Shipment ID : </b></span><span>{{shipmentItem.shipmentId}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Shipment Date & Time : </b></span><span>{{shipmentItem.shipmentDateTime}}</span>
                            </div>                            
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-3">
                                <span><b>ANM Name : </b></span><span>{{shipmentItem.anmName}}</span>
                            </div>
                            
                            <div class="col-md-3">
                                <span><b>RI Point : </b></span><span>{{shipmentItem.riPoint}}</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>ILR Point : </b></span><span>{{shipmentItem.ilrPoint}}</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Receiving Testing CHC : </b></span><span>{{shipmentItem.testingCHC}}</span>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-md-3">
                                <span><b>AVD Name : </b></span><span>{{shipmentItem.avdName}}</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Contact Number : </b></span><span>{{shipmentItem.contactNo}}</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Alternate AVD Name : </b></span><span>{{shipmentItem.alternateAVD}}</span>
                            </div>
                            <div class="col-md-3">
                                <span><b>Alternate AVD Contact Number : </b></span><span>{{shipmentItem.alternateAVDContactNo}}</span>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center"><span>S.No</span></th>
                                        <th class="text-center"> <span>Subject Name</span></th>
                                        <th class="text-center"><span>Subject ID</span></th>
                                        <th class="text-center"><span>RCH ID</span></th>
                                        <th class="text-center"><span>Barcode</span></th>
                                        <th class="text-center"><span>Sample Collection Date & Time</span></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let sample of sampleDetails; index as i">
                                        <td class="sno text-center">{{i+1}}</td>
                                        <td class="sname text-left">{{sample.subjectName}}</td> 
                                        <td class="text-center">{{sample.uniqueSubjectId}}</td>
                                        <td class="text-center">{{sample.rchId}}</td>
                                        <td class="text-center">{{sample.barcodeNo}}</td>
                                        <td class="text-center">{{sample.sampleCollectionDateTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
	</div>	
    <!--  END CONTENT AREA  -->

</div>
<!--  END MAIN CONTAINER  -->
<i appLoadScript [script]="'assets/assets/js/anm-module/anm-shipmentlog.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/pickandpacklist-flatpickr.js'"></i> -->
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>