<div class="container py-3">
    <h4 class="pt-5 pb-2">About the program:</h4>
    <p style="font-size: 15px;text-align: justify;">The project concentrates on Major Haemoglobin Disorders (MHD) which
        is a significant public health issue in the country. In Odisha about 10% of the population are estimated to be
        carriers or with disease.</p>
    <p style="font-size: 15px;text-align: justify;">Transfusion and Chelation are only supportive therapies with risk of
        major organ disfunction seen in nearly half of the patients. Bone Marrow Transplant (BMT) though found curative
        are not widely available, especially in the public health sector and depending on the private health care sector
        may lead to catastrophic health expenditure.</p>
    <p style="font-size: 15px;text-align: justify;">The project aims to bring down the burden of these diseases in the
        affected populations in Odisha with the combined effort of Ministry of Health- Odisha, NHM Odisha, Christian
        Medical College, Vellore and Centre for Stem Cell Research, a unit of inStem, Bengaluru with the support of
        Department of Biotechnology of the Ministry of Science and Technology, Government of India.</p>

    <h4 class="pt-3 pb-2">Priorities of project:</h4>

    <p style="font-size: 15px;">1. To increase awareness on MHD, its genetic transmission and options for preventing it
    </p>
    <p style="font-size: 15px;">2. To increase access to testing, counselling and pre-natal diagnosis</p>
    <p style="font-size: 15px;">3. To counsel and screen individuals and couples; give relevant information and connect
        them to appropriate additional services;</p>
    <p style="font-size: 15px;">4. Provide training to healthcare workers for improved diagnosis and treatment of MHD
    </p>
    <p style="font-size: 15px;">5. Support partnerships among different government agencies, non-governmental
        organizations and civil society for this program.</p>

    <h4 class="pt-3 pb-2">Priority groups:</h4>
    <p style="font-size: 15px;">1. Pregnant Women & Spouse </p>
    <p style="font-size: 15px;">2. Adolescents and Young Adults </p>

    <h4 class="pt-3 pb-2">Services to be delivered:</h4>
    <p style="font-size: 15px;">1. IEC and BCC (link)</p>
    <p style="font-size: 15px;">2. Training and Counselling (link)</p>
    <p style="font-size: 15px;">3. Screening and Testing (link)</p>
    <p style="font-size: 15px;">4. Diagnosis and Related services (link)</p>

    <p style="font-size: 15px;text-align: justify;">Globally, there is no precedence of a project of this magnitude that
        aims to systematically cover a population of about 45 million in a defined span of time with communication,
        counselling, testing and follow up services. One of the novel approaches in this project is also to introduce a
        two-step test laboratory evaluation of carrier status combining screening and confirmation without the need of
        repeating blood sample collection. Both screening and confirmatory tests can be done using a single sample.</p>
</div>