.dt-buttons {
    /* margin-bottom: -7px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

::ng-deep .dt-buttons
    {
        float:right !important;
    }