

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="admin" subMenum="sample-collection"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="row layout-top-spacing">
            <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
            <div class="col-md-12">
                <div class="justify-between">
                    <div class="col-md-4">
                        <div class="float-left mb-4">
                            <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-district']" role="button"
                            ngbTooltip="District" placement="right"><i class="fas fa-chevron-left pNav-left"></i></a>
                          </div>
                    </div>
                    <!-- <h5 class="float-left">Sample Collection</h5> -->
                    <div class="col-md-4">
                      <div class="headertit">
                        <h5 class="float-center">{{'Block' | translate }}</h5>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="float-right mb-4">
                        <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/add-chc']" role="button"
                        ngbTooltip="CHC" placement="left"><i class="fas fa-chevron-right pNav-right"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div *ngIf="blocklistErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': blocklistErrorMessage ==='No sample data  found', 'alert-danger': blocklistErrorMessage !== 'No sample data  found'}">
                                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{blocklistErrorMessage}}
                            </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12">
                            <a class="float-right mr-5" (click)="openAddBlock(addBlockDetail)"
                            role="button">
                                <i class="fas fa-plus-square text-primary fnt-size" aria-hidden="true"></i>
                            </a>
                        </div>
                      </div>
                      <div class="table-responsive mb-4">
                        <table id="statelist-tblconfig" class="table table-bordered table-hover tbl-ht" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                          <thead>
                            <tr>
                              <th><span>{{'SNo' | translate }}</span></th>
                              <th><span>{{'Block Name' | translate }}</span></th>
                              <th><span>{{'Block Code' | translate }}</span></th>
                              <th><span>{{'District Name' | translate }}</span></th>
                              <th><span>{{'Comments' | translate }}</span></th>
                              <!-- <th><span>{{'Active' | translate }}</span></th> -->
                              <th><span class="wordwrap">{{'Edit' | translate }}</span></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let sample of blocklists; index as i">
                              <td class="sno text-center">{{i +1}}</td>
                              <td class="sname text-left">{{sample.name}}</td>
                              <td class="sid text-center">{{sample.blockGovCode}}</td>
                              <td class="sid text-center">{{sample.districtName}}</td>
                              <td class="number text-center">{{sample.comments}}</td>
                              <!-- <td class="text-center" *ngIf="sample.isActive=='True'">{{'Active' | translate }}</td>
                              <td class="text-center" *ngIf="sample.isActive=='False'">{{'InActive' | translate }}</td> -->
            
                              <td class="text-center">
                                <a class="" (click)="openEditBlock(editBlockDetail, sample)"
                                role="button">
                                    <i class="fas fa-pencil-square" aria-hidden="true"></i>
                                  </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>


                    <!-- The Modal -->
                    <ng-template #addBlockDetail let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title modaltitle">{{'Add Block' | translate }}</h4>
                            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-x">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                              </svg>
                            </button>
                          </div>
                          <div class="modal-body form-body">
                            <form class="text-left" (ngSubmit)="addBlockForm.form.valid && onSubmit(addBlockForm)" #addBlockForm="ngForm" novalidate>
                              <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                                <div class="form-row">
                                  <div class="form-group col-md-3">

                                        <label [ngClass]="{'label-border-class':ddlDistrict.invalid && ddlDistrict.touched || addBlockForm.submitted && ddlDistrict.invalid}" for="inputilrPoint">{{'District' | translate }}<span
                                            class="manto"> *</span></label>
                                            <select id="inputilrPoint" class="form-control"
                                            name="ddlDistrict" #ddlDistrict="ngModel" [class.is-invalid]="ddlDistrict.invalid && ddlDistrict.touched || addBlockForm.submitted && ddlDistrict.invalid"
                                            required [(ngModel)]="selectedDistrict">
                                                <option value="">Select</option>
                                                <option *ngFor="let districtdata of districtlists" [(value)]="districtdata.id">
                                                    {{districtdata.name}}
                                                </option>
                                            </select>
                                              <small class=" ml-2 text-danger" *ngIf="ddlDistrict.invalid && ddlDistrict.touched ">Please choose a District</small>
                                              <div *ngIf="addBlockForm.submitted && ddlDistrict.invalid">
                                                <small *ngIf="ddlDistrict.untouched" class=" ml-2 text-danger">District is required</small>
                                              </div>

                                  </div>
                                  <div class="form-group col-md-3">
                                    <label class="note" [ngClass]="{'label-border-class':!blockname.valid && blockname.touched || addBlockForm.submitted && blockname.invalid}">{{'Block Name' | translate }} <span class="manto">*</span></label>
                                    <input class="form-control" name="blockname" type="text" placeholder="Block Name" ngModel pattern="[a-zA-Z][a-zA-Z ]+" required
                                    [class.is-invalid]="!blockname.valid && blockname.touched || addBlockForm.submitted && blockname.invalid"
                                     #blockname="ngModel" required>
                                    <small class="text-danger ml-2" *ngIf="!blockname.valid && blockname.touched ">Enter Block Name</small>
                                    <div *ngIf="addBlockForm.submitted && blockname.invalid">
                                      <small *ngIf="blockname.untouched" class=" ml-2 text-danger">Block Name is required</small>
                                    </div>
                              </div>
             
                                  <div class="form-group col-md-3">
                                    <label class="note">{{'Block Code' | translate }}<span class="manto"> *</span></label>
                                    <input class="form-control" name="blockCode" type="text" placeholder="Block Code" ngModel pattern="^[a-zA-Z0-9]+$" required
                                    #blockCode ="ngModel" [class.is-invalid]="!blockCode.valid && blockCode.touched || addBlockForm.submitted && blockCode.invalid">
                                    <small class="text-danger ml-2" *ngIf="!blockCode.valid && blockCode.touched ">Enter Block Code</small>
                                    <div *ngIf="addBlockForm.submitted && blockCode.invalid">
                                    <small *ngIf="blockCode.untouched" class=" ml-2 text-danger">Block Code is required</small>
                                    </div>
                                  </div>

                                  <!-- <div class="form-group col-md-3">
                                    <label class="note">{{'Active' | translate}}<span class="manto"></span></label>
                                    <div class="n-chk">
                                        <label class="new-control new-checkbox checkbox-outline-primary">
                                          <input type="checkbox" class="new-control-input checkbox"
                                          [checked]="confirmationSelected" (change)="confirmationSelected = !confirmationSelected">
                                          <span class="new-control-indicator"></span>&nbsp; &nbsp;
                                        </label>
                                    </div>
                                  </div> -->
                                </div>

                                <div class="form-row mt-4">
                                  <div class="form-group col-md-12">
                                    <label class="note" >{{'Comments' | translate }} <span class="manto"></span></label>
                                    <textarea id="textarea" class="form-control textarea" maxlength="225"
                                     rows="2"
                                    placeholder="" name=Comments #Comments="ngModel" ngModel></textarea>
                                  </div>
                                </div>
                              </div>

                              <div class="modal-footer">
                                <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                                <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                                <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                              </div>
                            </form>
                          </div>

                       </ng-template>

                       <ng-template #editBlockDetail let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title modaltitle">{{'Edit Block' | translate }}</h4>
                          <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              class="feather feather-x">
                              <line x1="18" y1="6" x2="6" y2="18"></line>
                              <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                          </button>
                        </div>
                        <div class="modal-body form-body">
                          <form class="text-left" (ngSubmit)="editBlockForm.form.valid && editSubmit(editBlockForm)" #editBlockForm="ngForm" novalidate>
                            <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                              <div class="form-row">
                          
                                <div class="form-group col-md-3">
                                    <label for="inputState">{{'District' | translate}} <span class="manto"></span> *</label>
                                    <select id="inputilrPoint" class="form-control"
                                    name="ddlEditDistrict" #ddlEditDistrict="ngModel" [(ngModel)]="selectedEditDistrict"  [disabled]="disableddis">
                                        <option value="">Select</option>
                                        <option *ngFor="let districtdata of districtlists" [(value)]="districtdata.id">
                                            {{districtdata.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                  <label class="note">{{'Block Name' | translate }} <span class="manto"> *</span></label>
                                  <input class="form-control" name="editBlockName" type="text" placeholder="Block Name"
                                  #editBlockName1="ngModel"  required [(ngModel)]="blocknamedata" pattern="[a-zA-Z][a-zA-Z ]+" required>
                                  <small class="text-danger ml-2" *ngIf="!editBlockName1.valid && editBlockName1.touched ">Enter Block Name</small>
                                  <!-- <div *ngIf="addScForm.submitted && scName.invalid">
                                    <small *ngIf="scName.untouched" class=" ml-2 text-danger">SC Name is required</small>
                                  </div> -->
  
                            </div>
                                
                                <!-- <div class="form-group col-md-3">
                                    <label class="note">{{'Block Name' | translate }}<span class="manto"></span> *</label>
                                    <input class="form-control " name="editBlockName" type="text" placeholder="Block Name" pattern="[a-zA-Z][a-zA-Z ]+" required
                                      autocomplete="off" #editBlockName="ngModel" ngModel [(ngModel)]="blocknamedata">
                                  </div> -->

                                <div class="form-group col-md-3">
                                  <label class="note">{{'Block Code' | translate }}<span class="manto"></span> *</label>
                                  <input class="form-control" name="editblockCode" type="text" placeholder="Block Code" ngModel pattern="^[a-zA-Z0-9]+$"
                                  #editblockCode="ngModel" [(ngModel)]="blockCodedata" disabled="editDistrictCode" >
                                </div>

                                <!-- <div class="form-group col-md-3">
                                  <label class="note">{{'Active' | translate}}<span class="manto"></span></label>
                                  <div class="n-chk">
                                      <label class="new-control new-checkbox checkbox-outline-primary">
                                        <input type="checkbox" class="new-control-input checkbox"
                                        [checked]="confirmationSelected" (change)="confirmationSelected = !confirmationSelected">
                                        <span class="new-control-indicator"></span>&nbsp; &nbsp;
                                      </label>
                                  </div>
                                </div> -->
                              </div>

                              <div class="form-row mt-4">
                                <div class="form-group col-md-12">
                                  <label class="note" >{{'Comments' | translate }} <span class="manto"></span></label>
                                  <textarea id="textarea" class="form-control textarea" maxlength="225"
                                   rows="2" [(ngModel)]="commentsdata"
                                  placeholder="" name=editComments #editComments="ngModel" ngModel></textarea>
                                </div>
                              </div>
                            </div>

                            <div class="modal-footer">
                              <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">{{'Submit' | translate }}</button>
                              <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                              <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>{{'Close' | translate }}</button>
                            </div>
                          </form>

                        </div>

                     </ng-template>
                </div>
                <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->
        </div>

    </div>
</div>
<!--  END CONTENT AREA  -->
<!--  END MAIN CONTAINER  -->
