<div class="tab-pane fade show active" id="counselledYes" role="tabpanel" aria-labelledby="counselledYes-tab">
    <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
            <div class="form-row mt-4">
                <div class="col-sm-12">
                  <div *ngIf="prepndtcounselledYesErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': prepndtcounselledYesErrorMessage ==='No subjects found', 'alert-danger': prepndtcounselledYesErrorMessage !== 'No subjects found'}">
                    <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{prepndtcounselledYesErrorMessage}}
                  </div>
                </div>
              </div>
            <div class="form-row ml-3 mt-2 mb-3">
                <div class="form-group col-md-2">
                    <label for="inputDistrict">District</label>
                    <select id="inputDistrict" class="form-control" (change)="onChangeDistrict($event.target.value)"
                    name=DDLdistrict #DDLdistrict="ngModel" ngModel required [(ngModel)]="selectedDistrict">
                        <option value="">Select</option>
                        <option *ngFor="let district of districts" [(value)]=" district.id ">
                            {{district.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputCHC">CHC</label>
                    <select id="inputCHC" class="form-control" (change)="onChangechc($event.target.value)"
                    name=DDLchc #DDLchc="ngModel" ngModel required [(ngModel)]="selectedchc">
                        <option value="">Select</option>
                        <option *ngFor="let chc of chclists" [(value)]=" chc.id ">
                            {{chc.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPHC">PHC</label>
                    <select id="inputPHC" class="form-control" name=DDLphc #DDLphc="ngModel" (change)="onChangephc($event.target.value)"
                    ngModel required [(ngModel)]="selectedphc">
                        <option value="">Select</option>
                        <option *ngFor="let phc of phclists" [(value)]=" phc.id ">
                            {{phc.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputANM">ANM</label>
                    <select id="inputANM" class="form-control" name=DDLanm #DDLanm="ngModel" ngModel required [(ngModel)]="selectedanm">
                        <option value="">Select</option>
                        <option *ngFor="let anm of anmlists" [(value)]="anm.id">
                            {{anm.name}}
                        </option>
                    </select>
                </div>
                <div class="px-2 bd-highlight search-margin" >
                    <!-- <button type="submit" class="btn btn-primary search-btn">Search</button> -->
                    <a (click)="retrivecounselledyeslists()"><button type="submit" class="btn search-bu">
                            <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button></a>
                </div>   
            </div>
            <div class="table-responsive mt-5 mb-2">
                <table id="tobescheduled-config" class="table table-bordered table-hover mb-4" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th class="text-center"><span>S.No</span></th>
                            <th class="text-left"><span>Subject Name</span></th>
                            <th class="text-center"><span>Subject ID</span></th>
                            <th class="text-center"><span>RCH ID</span></th>
                            <th class="text-center"><span>Spouse Name</span></th>
                            <th class="text-center"><span>Contact</span></th>
                            <!-- <th class="text-center"><span>LMP Date</span></th> -->
                            <th class="text-center"><span>GA</span></th>
                            <th class="text-center"><span>Obstetric Score</span></th>
                            <th class="text-center"><span>Counsellor Name</span></th>
                            <th class="text-center pnddate"><span>Counselling Date & Time</span></th>
                            <th class="text-center"><span>Details</span></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let counselledyesdata of counselledyeslists; index as i">
                            <td class="sno text-center">{{i +1}}</td>
                            <td class="text-left">{{counselledyesdata.subjectName}}</td>
                            <td class="text-center">{{counselledyesdata.anwSubjectId}}</td>
                            <td class="sid">{{counselledyesdata.rchId}}</td>
                            <td class="text-left">{{counselledyesdata.spouseName}}</td>
                            <td class="text-center">{{counselledyesdata.contactNo}}</td>
                            <!-- <td class="text-center">18/05/2020</td> -->
                            <td class="text-center">{{counselledyesdata.ga}}</td>
                            <td class="text-center">{{counselledyesdata.obstetricScore}}</td>
                            <td>{{counselledyesdata.counsellorName}}</td>
                            <td>{{counselledyesdata.counsellingDateTime}}</td>
                            <td class="text-center"><a (click)="openpndtdetail(counselledyesdata)"><i
                                        class="fas fa-edit fa-2x"
                                        aria-hidden="true"></i></a></td>

                        </tr>
                    </tbody>
                </table>

                <!--  <input type="Submit" class="btn btn-success" value="Affix new barcode" id="btnShowHide">  -->
                <!-- <input type="Submit" class="btn btn-success" value="Recall status"> -->
            </div>
           
        </div>
    </div>
</div>