.layout-px-spacing {
    min-height: calc(100vh - 166px) !important;
}

h5.float-left {
    color: #1b55e2;
    font-weight: 600;
    text-shadow: 1px 0px #125879;
    font-size: 25px;
    text-align: left;
}
.is-red {
    color: red;
  }
  .is-green {
    color: green;
  }
  .is-yellow {
    color: yellow;
  }
.modaltitle {
    color: #1b55e2;
    font-weight: 600;
    text-shadow: 1px 0px #125879;
    font-size: 20px;
    /* text-align: center; */
}

.manto {
    color: red;
    font-weight: 600;
}

.note {
    font-size: 15px;
    font-weight: 600;
    color: #575858;
}

.vis {
    display: none;
}

div.dataTables_wrapper div.dataTables_filter svg {
    top: 30px !important;
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px 11px;
}
label.new-control.new-checkbox.checkbox-outline-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
    border: none;
    text-align: center;
    letter-spacing: 1px;
    text-transform: initial;
    left: 0px;
}
.leftspace {
    left: 0px !important;
}

::ng-deep .flatpickr-calendar.hasTime .flatpickr-time {
    height:44px !important;
}
.info-content
{
    line-height: 20px;
    vertical-align: middle;
    height: 20px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    display: inline-block;
    margin-left: 10px;
    
}
.info-content-container {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.info-box {
    width:20px;
    height: 20px;
    display: inline-block;
}
.info-box-green {
    background-color: green;
}
.info-box-yellow {
    background-color: yellow;
}
.info-box-red {
    background-color: red;
}
.info-content-container p{
    display: inline-block;
    /* line-height: 20px; */
    /* padding: 0; */
    margin: 0;
    /* height: 20px; */
    /* margin-top: -5px; */
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left:10px;
    vertical-align: top;
}
.color-box {
    width: 20px;
    height: 20px;
    margin: auto;
}

.is-yellow .color-box {
    background-color: yellow;
}

.is-green .color-box {
    background-color: green;
}

.is-red .color-box {
    background-color: red;
}
.scan-label {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-weight: 800;
}
.mal-filter-input {
    max-width: 300px;
    display: inline-block;
}