<div class="tab-pane fade show active" id="unsentsamples" role="tabpanel" aria-labelledby="unsentsamples-tab">
    <div class="form-row">
        <div class="col-md-12">
            <div *ngIf="chcunsentSamplesErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': chcunsentSamplesErrorMessage === 'No samples found', 'alert-danger': chcunsentSamplesErrorMessage !== 'No samples found'}">
                <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{chcunsentSamplesErrorMessage}}
            </div>  
        </div>
      </div>
    <div class="table-responsive mb-4">
        <table id="chc-unsentsample-tblconfig" class="table table-bordered table-hover tbl-ht" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th class="text-center"><span>{{'SNo' | translate }}</span></th>
                    <th class="text-center"><span>{{'SubjectName' | translate }}</span></th>
                    <th class="text-center">{{'SubjectID' | translate }}</th>
                    <th class="text-center"><span>{{'RCHI' | translate }}D</span></th>
                    <th class="text-center">{{'Barcode' | translate }}</th>
                    <th class="text-center us-datetime">{{'SampleCollectionDate_Time' | translate }}</th>
                    <th class="text-center agingsample">{{'AgingofSample' | translate }}</th>
                    <th class="text-center">{{'GA' | translate }}</th>
                    <th class="text-center rch">
                        <div class="n-chk">
                            <label class="new-control new-checkbox checkbox-outline-primary">
                                <input type="checkbox" class="new-control-input" id="select_all" [(ngModel)]="selectedAll" (change)="selectAll()"  >
                                <span class="new-control-indicator leftspace"></span>&nbsp;
                            </label>
                        </div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sample of chcunsentSamples; index as i"  class="tbl-row-red tbl-row-black"
                [ngClass]="{'tbl-row-black tbl-data-black': +sample.sampleAging < 24 , 'tbl-row tbl-data-red': +sample.sampleAging >= 24 }">
                    <td class="sno text-center tbl-data-red tbl-data-black">{{i +1}}</td>
                    <td class="sname text-left tbl-data-red tbl-data-black">{{sample.subjectName}}</td>
                    <td class="sid text-center tbl-data-red tbl-data-black">{{sample.uniqueSubjectId}}</td>
                    <td class="sid text-center tbl-data-red tbl-data-black">{{sample.rchId}}</td>
                    <td class="sid text-center tbl-data-red tbl-data-black">{{sample.barcodeNo}}</td>
                    <td class="text-center tbl-data-red tbl-data-black">{{sample.sampleDateTime}}</td>
                    <td class="text-center tbl-data-red tbl-data-black">{{sample.sampleAging}}</td>
                    <td class="sid text-center tbl-data-red tbl-data-black">{{sample.gestationalAge}}</td>
                    <!-- <td><input type="checkbox" class="checkbox" value="1"/></td> -->
                    <td class="text-center">
                        <div class="n-chk">
                            <label class="new-control new-checkbox checkbox-outline-primary">
                                <input type="checkbox" class="new-control-input checkbox" 
                                value="{{sample.sampleSelected}}" 
                                (change)="checkIfAllSelected()"
                                [(ngModel)]="sample.sampleSelected">
                                <span class="new-control-indicator"></span>&nbsp;
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-row-reverse">
        <div class="px-1"> 
            <a class="btn btn-primary float-right"  (click)="getUnsentCreateShipmentConfirmation(chcunsentSamplesDetail)"
                role="button">{{'CreateShipment' | translate }}</a>
        </div>
        <div class="px-1"> 
            <a class="btn btn-danger float-right mr-2" (click)="getUnsentExpirySamplesConfirmation()"
                role="button">Move to Expiry</a>
        </div>
        <div class="px-1"> 
            <a class="btn btn-outline-primary float-right mr-2"
                role="button">{{length}} Selected</a>
                
        </div>
    </div>
</div>
<!-- The Modal -->
<ng-template #chcunsentSamplesDetail let-modal>
    <div class="modal-header">
        <h5 class="modaltitle" id="myLargeModalLabel">{{'CreateShipment' | translate }}
        </h5>
        <button type="button" class="close"  (click)="modal.dismiss()" aria-label="Close">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>
    <div class="modal-body">
        <form class="text-left"
         (ngSubmit)="chcShipmentForm.form.valid && onSubmit(chcShipmentForm)" #chcShipmentForm="ngForm" novalidate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" id="text">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label [ngClass]="{'label-border-class':!collectionchc.valid && collectionchc.touched || chcShipmentForm.submitted && collectionchc.invalid}">
                                    {{'CHCLabTechnicianName' | translate }} <span
                                    class="manto"></span></label>
                                    <input class="form-control field" name="chctechnicianname" #chctechnicianname="ngModel" ngModel 
                                    [class.is-invalid]="!chctechnicianname.valid && chctechnicianname.touched || chcShipmentForm.submitted && chctechnicianname.invalid" readonly 
                                    type="text" placeholder="CHC Lab Technician Name" [(ngModel)] = "chclabtechnician">   
                                    <small class="text-danger ml-2" *ngIf="!chctechnicianname.valid && chctechnicianname.touched">Enter the CHC Lab Technician Name</small>
                                    <!-- <small class="text-danger" *ngIf="!sampleBarcode.valid && sampleBarcode.errors.pattern">The barcode must be alphabets or digits</small> -->
                                    <div *ngIf="chcShipmentForm.submitted && chctechnicianname.invalid">     
                                        <small *ngIf="chctechnicianname.untouched" class=" ml-2 text-danger">CHC Lab Technician Name is required</small>  
                                    </div>      
                            </div>
                            <div class="form-group col-md-3">
                                <label [ngClass]="{'label-border-class':!collectionchc.valid && collectionchc.touched || chcShipmentForm.submitted && collectionchc.invalid}"> {{'CollectionCHC' | translate }} <span
                                    class="manto"> </span></label>
                                <input class="form-control field" name="collectionchc" #collectionchc="ngModel" ngModel 
                                [class.is-invalid]="!collectionchc.valid && collectionchc.touched || chcShipmentForm.submitted && collectionchc.invalid" readonly 
                                type="text" placeholder="Collection CHC"  [(ngModel)] = "collectionchcname"> 
                                <small class="text-danger ml-2" *ngIf="!collectionchc.valid && collectionchc.touched">Enter the collection CHC</small>
                                <!-- <small class="text-danger" *ngIf="!sampleBarcode.valid && sampleBarcode.errors.pattern">The barcode must be alphabets or digits</small> -->
                                <div *ngIf="chcShipmentForm.submitted && collectionchc.invalid">     
                                    <small *ngIf="collectionchc.untouched" class=" ml-2 text-danger">Collection CHC is required</small>  
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label [ngClass]="{'label-border-class':DDLtestingChc.invalid && DDLtestingChc.touched || chcShipmentForm.submitted && DDLtestingChc.invalid}" for="inputTestingCHC">
                                    {{'ReceivingTestingCHC' | translate }} <span class="manto">*</span></label>
                                    <select name="DDLtestingChc" #DDLtestingChc="ngModel" [class.is-invalid]="DDLtestingChc.invalid && DDLtestingChc.touched || chcShipmentForm.submitted && DDLtestingChc.invalid"
                                    class="form-control field" id="inputTestingCHC" required [(ngModel)]="selectedtestingCHC">
                                    <option value="" selected>--Select--</option>
                                    <option *ngFor="let testingChcName of testingCHCNames"
                                              [(value)]= "testingChcName.id">
                                          {{ testingChcName.chcName }}
                                      </option>
                                </select>
                                <small class=" ml-2 text-danger" *ngIf="!DDLtestingChc.valid && DDLtestingChc.untouched ">Please choose a Receiving Testing CHC </small>
                                <div *ngIf="chcShipmentForm.submitted && DDLtestingChc.invalid">  
                                    <small *ngIf="DDLtestingChc.untouched" class=" ml-2 text-danger">Receiving Testing CHC is required</small>  
                                  </div>
                            </div>
                             <div class="form-group col-md-3">
                                <label [ngClass]="{'label-border-class':DDLserviceproviderName.invalid && DDLserviceproviderName.touched || chcShipmentForm.submitted && DDLserviceproviderName.invalid}" for="inputAvdName">{{'LogisticsServiceProvider' | translate }}<span
                                    class="manto"> *</span></label>
                                <select name="inputAvdName"
                                name="DDLserviceproviderName" #DDLserviceproviderName="ngModel" [class.is-invalid]="DDLserviceproviderName.invalid && DDLserviceproviderName.touched || chcShipmentForm.submitted && DDLserviceproviderName.invalid"
                                class="form-control field" id="inputAvdName" required [(ngModel)]="selectedproviderName">
                                <option value="">--Select--</option>
                                <option *ngFor="let providername of providerNames"
                                          [(value)]= "providername.id">
                                      {{ providername.providerName }}
                                  </option>
                                </select>
                                <small class=" ml-2 text-danger" *ngIf="!DDLserviceproviderName.valid && DDLserviceproviderName.untouched ">Enter the Logistics Service Provider</small>
                                <div *ngIf="chcShipmentForm.submitted && DDLserviceproviderName.invalid">  
                                    <small *ngIf="DDLserviceproviderName.untouched" class=" ml-2 text-danger">Logistics Service Provider is required</small>  
                                  </div>
                            </div>
                        </div>

                        <div class="form-row my-2">   
                            <div class="form-group col-md-3">
                                <label [ngClass]="{'label-border-class':!deliveryexecutivename.valid && deliveryexecutivename.touched || chcShipmentForm.submitted && deliveryexecutivename.invalid}"> {{'DeliveryExecutiveName' | translate }} <span
                                    class="manto"> *</span></label>
                                <input class="form-control field" name="deliveryexecutivename" #deliveryexecutivename="ngModel" ngModel autocomplete="off"
                                [class.is-invalid]="!deliveryexecutivename.valid && deliveryexecutivename.touched || chcShipmentForm.submitted && deliveryexecutivename.invalid" required 
                                type="text" placeholder="Delivery Executive Name"  [(ngModel)] = "deliveryexecutive"> 
                                <small class="text-danger ml-2" *ngIf="!deliveryexecutivename.valid && deliveryexecutivename.touched">Enter the Delivery Executive Name</small>
                                <!-- <small class="text-danger" *ngIf="!sampleBarcode.valid && sampleBarcode.errors.pattern">The barcode must be alphabets or digits</small> -->
                                <div *ngIf="chcShipmentForm.submitted && deliveryexecutivename.invalid">     
                                    <small *ngIf="deliveryexecutivename.untouched" class=" ml-2 text-danger">Delivery Executive Name is required</small>  
                                </div>       
                            </div>

                            <div class="form-group col-md-3">
                                <label [ngClass]="{'label-border-class':contactNo.invalid && contactNo.touched || chcShipmentForm.submitted && contactNo.invalid}">{{'ContactNumber' | translate }} <span
                                    class="manto">*</span></label>
                                <input class="form-control field" name="contactNo" #contactNo="ngModel" ngModel maxlength="10"
                                numbersOnly oninput="javascript: if(this.value.split('')[0] != '9' && this.value.split('')[0] != '8' && this.value.split('')[0] != '7' && this.value.split('')[0] != '6') this.value=''; if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" autocomplete="off"
                                [class.is-invalid]="contactNo.invalid && contactNo.touched || chcShipmentForm.submitted && contactNo.invalid"
                                    required type="tel" placeholder="Contact Number" [(ngModel)]="executiveContactNo">
                                    <div *ngIf="contactNo.errors && (contactNo.invalid || contactNo.touched)">
                                        <small class="ml-2 text-danger" *ngIf="contactNo.errors.required && contactNo.touched ">The Contact number is required</small>   
                                        <!-- <small class="ml-2 text-danger" *ngIf="contactNo.errors.pattern">The Contact number is invalid</small> -->
                                    </div>
                                    <div *ngIf="chcShipmentForm.submitted && contactNo.invalid">  
                                        <small *ngIf="contactNo.untouched" class=" ml-2 text-danger">The Contact number is required</small>  
                                    </div>
                            </div>
                            <div class="form-group col-md-3" [formGroup]="popupform">
                                <label class="note">{{'ShipmentDate&Time' | translate }} <span class="manto">*</span></label>
                                <ng2-flatpickr id="popupDate" name="dateOfShipment" class="form-control flatpickr flatpickr-input active" #shipmentDatePicker
                                 [config]="shipmentDateOptions" placeholder="Select Date.." formControlName = "shipmentDate" [ngModel]="dataOfPickPack">
                                </ng2-flatpickr>
                            </div>                                                          
                            
                        </div>
                       
                        <div class="modal-footer">
                            <span class="mr-auto d-none d-sm-none d-md-none d-lg-block"><b>Selected samples barcode: </b>({{_intSelectedBarcode}}) {{_strSelectedBarcode}}</span>
                            <button type="submit" class="btn btn-primary"
                                id="linktobuttonpickpak">{{'Submit' | translate }}</button>
                            <button class="btn"  (click)="modal.dismiss()"><i
                                    class="flaticon-cancel-12"></i> {{'Close' | translate }}</button>
                        </div>


                    </div>

                </div>
            </div>
    </form>
    </div>
</ng-template>

<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
