<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="search-overlay"></div>
  <!--  BEGIN SIDEBAR  -->
  <div class="sidebar-wrapper sidebar-theme">
    <app-site-sidebar module="anm" subMenum="sample-collection"></app-site-sidebar>
  </div>
  <!--  END SIDEBAR  -->
  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">
       <div class="row layout-top-spacing">
                <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
                <div class="col-md-12">
                    <div class="justify-between">
            <div class="col-md-4">
              <div class="float-left"><a class="btn btn-outline-primary bs-tooltip" placement="right" ngbTooltip="Subject Registration" [routerLink]="['/app/anm-subregn']"
                  role="button"><i class="fas fa-chevron-left pNav-right"></i></a></div>
            </div>
            <div class="col-md-4">
              <div class="headertit">
                <h5 class="float-center">Sample Collection </h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="float-right mb-4">
                <a class="btn btn-outline-primary bs-tooltip" ngbTooltip="Pick & Pack to CHC" placement="left" [routerLink]="['/app/anm-pickpack']" role="button">
                  <i class="fas fa-chevron-right pNav-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
          <div class="widget-content widget-content-area br-6">
            <div class="form-row mt-4">
              <div class="col-sm-12">
                <div *ngIf="sCollectionErrorMessage" class="alert mt-3 mb-2" [ngClass]="{'alert-warning': sCollectionErrorMessage ==='No subjects found', 'alert-danger': sCollectionErrorMessage !== 'No subjects found'}">
                  <span class="fa fa-info-circle mr-2" style="font-size: 16px;"></span><strong>Oops!</strong> {{sCollectionErrorMessage}}
                </div>
              </div>
            </div>


            <div class="form-row mt-4" [formGroup]="dateform">
              <div class="form-group col-md-2">
                <label for="inputFromdate">{{'FromDate' | translate }}
                </label>
                <div class="form-group mb-0">
                  <!-- <input id="scFromDate" class="form-control flatpickr flatpickr-input" type="text" name="fromDate"
                                [(ngModel)]="fromDate" required
                                  placeholder="Select Date..."> -->
                  <ng2-flatpickr id="scFromDate" name="fromDate" class="form-control flatpickr flatpickr-input active" #startPicker
                    [config]="startOptions" placeholder="Select Date.." formControlName="fromDate">
                  </ng2-flatpickr>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="inputTodate">{{'ToDate' | translate }}</label>
                <div class="form-group mb-0">
                  <!-- <input id="scToDate" class="form-control flatpickr flatpickr-input" name="toDate" type="text"
                                [(ngModel)]="toDate"  required  placeholder="Select Date..."> -->
                  <ng2-flatpickr id="scToDate" name="toDate" class="form-control flatpickr flatpickr-input active" #endPicker
                    [config]="endOptions" placeholder="Select Date.." formControlName="toDate"></ng2-flatpickr>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="inputSubjectcategory">{{'SubjectType' | translate }}</label>
                <select id="inputSubjectcategory" class="form-control" name=DDsubjectType #DDsubjectType formControlName="selectedSubjectType"
                required [(ngModel)]="selectedSubjectType" >
                  <option value="">All</option>
                  <option *ngFor="let subType of subjectTypes"
                          [(value)]= " subType.id ">
                      {{ subType.subjectTypeName }}
                  </option>
                  </select>
                <!-- <select id="inputSubjectcategory" class="form-control" required>
                  <option selected>Select Type</option>
                  <option>Antenatal Woman</option>
                  <option>Spouse</option>
                  <option>Child</option>
                  <option>Walk-in</option>
                </select> -->
              </div>
              <div class="col-md-2 mt-3">
                <div class="px-2 bd-highlight">
                  <!-- <button type="submit" class="btn btn-primary search-btn">Search</button> -->
                 <button type="submit" class="btn search-bu" (click)="anmSampleCollection()">
                      <i class="fa fa-search fa-3x mt-1" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table id="anmshipment-tblconfig1" class="table table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th><span>{{'SNo' | translate }}</span></th>
                        <th><span>{{'SubjectName' | translate }}</span></th>
                        <th><span>{{'SubjectID' | translate }}</span></th>
                        <th><span>{{'RCHID' | translate }}</span></th>
                        <th><span>{{'SpouseName' | translate }}</span></th>
                        <th><span>{{'SubjectType' | translate }}</span></th>
                        <th><span>{{'SampleType' | translate }}</span></th>
                        <th><span>{{'Contact' | translate }}</span></th>
                        <th><span>{{'SubjectRegDate' | translate }}</span></th>
                        <th><span>{{'GA' | translate }}</span></th>
                        <th><span class="wordwrap">{{'SampleCollection' | translate }}</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subject of subjectList; index as i" class="tbl-row-red tbl-row-black"
                      [ngClass]="{'tbl-row-black tbl-data-black': subject.diffDays <= 5 , 'tbl-row tbl-data-red': subject.diffDays > 5 }">
                        <td class="sno text-center tbl-data-red tbl-data-black">{{i +1}}</td>
                        <td class="text-left sname tbl-data-red tbl-data-black">{{subject.subjectName}}</td>
                        <td class="sid tbl-data-red tbl-data-black">{{subject.uniqueSubjectId}}</td>
                        <td class="sid tbl-data-red tbl-data-black">{{subject.rchId}}</td>
                        <td class="text-left sname tbl-data-red tbl-data-black">{{subject.spouseName}}</td>
                        <td class="text-left sname tbl-data-red tbl-data-black">{{subject.subjectType}}</td>
                        <td class="sid tbl-data-red tbl-data-black">{{subject.sampleType}}</td>
                        <td class="mobile tbl-data-red tbl-data-black">{{subject.contactNo}}</td>
                        <td class="tbl-data-red tbl-data-black">{{subject.date | date : 'dd/MM/yyyy'}}</td>
                        <td class="tbl-data-red tbl-data-black"> {{subject.gestationalAge}} </td>
                        <td class="text-center"><a (click)="openSampleColllection(sampleCollectiondetail, subject)" role="button"><i
                              class="fas fa-vial fa-2x"></i></a>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- The Modal -->

              <ng-template #sampleCollectiondetail let-modal>

                  <div class="modal-header">
                    <h5 class="modal-title modaltitle" id="myExtraLargeModalLabel">Sample
                      Collection</h5>
                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                      </svg>
                    </button>
                  </div>
                <div class="modal-body">
                  <form class="text-left" (ngSubmit)="collectionForm.form.valid && onSubmit(collectionForm)" #collectionForm="ngForm" novalidate>
                    <div class="col-md-12" id="myTable" style="padding-top: 1%;">
                      <div class="form-row">
                        <div class="form-group col-md-3">
                          <label class="note">Subject Name </label>
                          <input class="form-control field" readonly="" type="text" placeholder="Subject Name"
                            [(ngModel)]="subjectName" name="sampleSubjectName" >
                        </div>

                        <div class="form-group col-md-3">
                          <label class="note">Subject ID <span class="manto"></span></label>
                          <input class="form-control field" name="uniqueSubjectId" type="text" placeholder="Subject ID" tabindex="6"
                            autocomplete="off" readonly="" [(ngModel)]="uniqueSubjectId">
                        </div>
                        <div class="form-group col-md-3">
                          <label class="note">RCH ID <span class="manto"></span></label>
                          <input class="form-control field" name="ancnumber" type="text" placeholder="RCH ID " tabindex="6"
                            autocomplete="off" readonly="" [(ngModel)]="rchId">
                        </div>

                        <div class="form-group col-md-3">
                          <label class="note">Reason <span class="manto"></span></label>
                          <input class="form-control field" name="collection" required="" type="text"
                            placeholder="Reason" readonly="" [(ngModel)]="reason">
                        </div>

                      </div>

                      <div class="form-row mt-4">
                        <div class="form-group col-md-3">
                          <label class="note" [ngClass]="{'label-border-class':!sampleBarcode.valid && sampleBarcode.touched || collectionForm.submitted && sampleBarcode.invalid}">Scan / Enter Barcode <span class="manto">*</span></label>
                          <!-- <img src="assets/img/barcode-1.4.png" style="width:100%;"> -->
                          <!-- <div class="centered"><p>Scan / Enter barcode no</p></div> -->
                          <input class="form-control" name="sampleBarcode" type="text" placeholder="Barcode" ngModel maxlength="6" pattern="^[a-zA-Z0-9]+$"
                          #sampleBarcode="ngModel" autocomplete="off" [class.is-invalid]="!sampleBarcode.valid && sampleBarcode.touched || collectionForm.submitted && sampleBarcode.invalid" required>
                          <small class="text-danger ml-2" *ngIf="!sampleBarcode.valid && sampleBarcode.touched">The barcode must be alphabets or digits</small>
                          <!-- <small class="text-danger" *ngIf="!sampleBarcode.valid && sampleBarcode.errors.pattern">The barcode must be alphabets or digits</small> -->
                          <div *ngIf="collectionForm.submitted && sampleBarcode.invalid">     
                            <small *ngIf="sampleBarcode.untouched" class=" ml-2 text-danger">Barcode is required</small>  
                          </div> 
                        </div>
                        <div class="form-group col-md-3" [formGroup]="popupform">
                          <label class="note">Date & Time of Collection <span class="manto">*</span></label>
                          <!-- <input id="popupDate" class="form-control flatpickr flatpickr-input" type="date"
                            placeholder="Select Date..." name="collectionDate"  [(ngModel)]="collectionDate" required> -->
                          <ng2-flatpickr id="popupDate" name="sampleCollectionDate" class="form-control flatpickr flatpickr-input active" #collectionDatePicker
                           [config]="collectionDateOptions" placeholder="Select Date.." formControlName = "collectionDate">
                          </ng2-flatpickr>
                        </div>
                        <!-- <div class="form-group col-md-3">
                          <label class="note">Time of Collection <span class="manto">*</span></label>
                           <ng2-flatpickr id="popupTime" name="collectionTime" class="form-control flatpickr flatpickr-input active" #collectionTimePicker [config]="collectionTimeOptions" placeholder="Select Date.." formControlName = "collectionTime"></ng2-flatpickr>
                        </div> -->
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="submit" class="mr-2 btn btn-primary" id="linkto" name="linkto">Submit</button>
                      <!-- [disabled]="!collectionForm.form.valid" [ngClass]="ngDisabled" -->
                      <button class="btn" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i> Close</button>
                    </div>
                  </form>
                </div>
                <!-- <i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i> -->
                <i appLoadScript [script]="'assets/assets/js/anm-module/anm-sample-collection-popup.js'"></i>
              </ng-template>
            <!-- END MAIN CONTAINER -->
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--  END CONTENT AREA  -->
</div>
<!--  END MAIN CONTAINER  -->

<i appLoadScript [script]="'assets/assets/js/anm/sample-collection.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/collection-flatpickr.js'"></i> -->
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<!--<i appLoadScript [script]="''"></i>-->

<!--  END MAIN CONTAINER  -->
