<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>
    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        <app-site-sidebar module="chc" subMenum="Shipment-Log"></app-site-sidebar>
    </div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->

    <div id="content" class="main-content">
        <div class="layout-px-spacing">
             <div class="row layout-top-spacing">
                <!-- <div class="col-md-12 text-center">
                <h5 class="">ANM Name - PHC Name</h5>
            </div> -->
                <div class="col-md-12">
                    <div class="justify-between">
                        <div class="col-md-4">
                            <div class="float-left"><a class="btn btn-outline-primary bs-tooltip"
                                    [routerLink]="['/app/chc-pickandpack']" role="button"
                                    ngbTooltip="Pick & Pack to Screening Center" placement="right"><i
                                        class="fas fa-chevron-left pNav-left"></i></a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="headertit">
                                <h5 class="float-center">{{'ScreeningCenterShipmentLog' | translate }} </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right mb-4">
                                <a class="btn btn-outline-primary bs-tooltip" [routerLink]="['/app/chc-subjectprofile']"
                                    role="button" ngbTooltip="Subject Profile" placement="left"><i
                                        class="fas fa-chevron-right pNav-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <div class="form-row">
                            <div class="col-md-10">
                                <div *ngIf="chcShipmentLogErrorMessage" class="alert mt-3 mb-2"
                                    [ngClass]="{'alert-warning': chcShipmentLogErrorMessage ==='No samples found', 'alert-danger': chcShipmentLogErrorMessage !== 'No samples found'}">
                                    <span class="fa fa-info-circle mr-2"
                                        style="font-size: 16px;"></span><strong>Oops!</strong>
                                    {{chcShipmentLogErrorMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive mt-4">
                            <table id="chcshipmentlog-tblconfig1" class="table table-bordered table-hover" datatable
                                [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                    <tr>
                                        <th><span>{{'SNo' | translate }}</span></th>
                                        <th><span>{{'ShipmentID' | translate }}</span></th>
                                        <th><span>{{'ShipmentDate&Time' | translate }}</span></th>
                                        <th><span>{{'CHCLabTechnicianName' | translate }}</span></th>
                                        <th><span>{{'DeliveryExecutiveName' | translate }}</span></th>
                                        <th><span>{{'ReceivingTestingCHC' | translate }}</span></th>
                                        <th><span>{{'View' | translate }}</span></th>
                                        <th><span>{{'Print' | translate }}</span></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let shipment of shipmentList; index as i">
                                        <td style="text-align: center">{{i +1}}</td>
                                        <td style="text-align: center">{{shipment.shipmentId}}</td>
                                        <td style="text-align: center">{{shipment.shipmentDateTime}}</td>
                                        <td style="text-align: left">{{shipment.chcLabTechnicianName}}</td>
                                        <td style="text-align: left">{{shipment.deliveryExecutiveName}}</td>
                                        <td style="text-align: left">{{shipment.testingCHC}}</td>
                                        <td style="text-align: center"><a
                                                (click)="openchcShipment(shippedChcSampleDetail, shipment)">
                                                <i class="fa fa-file-text-o text-primary" aria-hidden="true"></i></a>
                                        </td>
                                        <td style="text-align: center"><a (click)="openchcShipmentPrint(shippedChcSampleDetail, shipment)"><i class="fa fa-print text-primary"
                                                    aria-hidden="true"></i> </a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #shippedChcSampleDetail let-modal>
                <div class="modal-header">
                    <h5 class="modal-title modaltitle" id="myExtraLargeModalLabel">{{'ShipmentDetails' | translate }}</h5>

                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div class="modal-body" id='print-area' style="height: 35rem;padding:26px 5px 26px 5px">

                    <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">

                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-md-4 mt-3" style="width: 100%;" nowrap='nowrap'>
                                <b>{{'ShipmentID' | translate }}: {{shipmentId}} </b>
                            </div>
                            <div class="col-md-4 mt-3"  style="width: 100%;" nowrap='nowrap'>
                                <b>{{'ShipmentDate&Time' | translate }}: {{shipmentDateTime}}
                                        </b>
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group">
                                        <a (click)="exportexcel()"><button type="button" class="btn btn-sm btn-outline-light">
                                            <img src="assets/assets/img/excelimage.png" width="23px" class="downloadimg bs-tooltip" title="Download as Excel"></button></a>
                                        <!-- <button type="button" class="btn btn-sm btn-outline-light">
                                            <img src="assets/assets/img/pdfimage.webp" width="23px" class="downloadimg bs-tooltip" title="Download as PDF"></button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="container-fluid" style="margin-top: 3rem;">
                            <div class="row">
                                <div class="col-md-12 border-bottom">
                                </div>
                            </div>
                        </div> -->
                    <div id="excel-table">
                        <!-- <div class="row my-4" style="top: 100px">
                            <div class="col-md-4">
                                <span><b>CHC Lab Technician Name : </b></span><span>{{chcLabTechnicianName}}</span>
                            </div>

                            <div class="col-md-4">
                                <span><b>Collection CHC : </b></span><span>{{collectionCHCName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Receiving Testing CHC : </b></span><span>{{testingCHC}}</span>
                            </div>

                        </div>
                        <div class="row my-4">
                            <div class="col-md-4">
                                <span><b>Logistics Service Provider : </b></span><span>{{logisticsProviderName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Delivery Executive Name : </b></span><span>{{deliveryExecutiveName}}</span>
                            </div>
                            <div class="col-md-4">
                                <span><b>Contact Number : </b></span><span>{{contactNo}}</span>
                            </div>

                        </div> -->
                        <div class="table-responsive my-4">
                            <table class="table">                                
                                <tbody>
                                    <tr>
                                        <td class="sp-xs-td-9"><b>{{'CHCLabTechnicianName' | translate }} : </b></td>
                                        <td class="sp-xs-td-15">{{chcLabTechnicianName}}</td>
                                        <td class="sp-xs-td-9"><b>{{'CollectionCHC' | translate }} : </b></td>
                                        <td class="sp-xs-td-15">{{collectionCHCName}}</td>
                                        <td class="sp-xs-td-9"><b>{{'ReceivingTestingCHC' | translate }} : </b></td>
                                        <td class="sp-xs-td-15">{{testingCHC}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{'LogisticsServiceProvider' | translate }} : </b> </td>
                                        <td>{{logisticsProviderName}}</td>
                                        <td><b>{{'DeliveryExecutiveName' | translate }} : </b></td>
                                        <td>{{deliveryExecutiveName}}
                                        </td>
                                        <td><b>{{'ContactNumber' | translate }} : </b></td>
                                        <!-- <td><b>3423422</b>|3423434|3423442</td> -->
                                        <td>{{contactNo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" style="overflow-x: scroll;margin-top: 2rem;height: 19rem;">
                            <table id="zero-config" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th><span>{{'SNo' | translate }}</span></th>
                                        <th><span>{{'SubjectName' | translate }}</span></th>
                                        <th><span>{{'SubjectID' | translate }}</span></th>
                                        <th class="text-center"><span>{{'RCHID' | translate }}</span></th>
                                        <th><span>{{'AssociatedANM' | translate }}</span></th>
                                        <th><span>{{'Barcode' | translate }}</span></th>
                                        <th><span>{{'SampleCollectionDate_Time' | translate }}</span></th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let sampleDetail of sampleDetails; index as i">
                                        <td class="sno text-center">{{i +1}}</td>
                                        <td class="sname">{{sampleDetail.subjectName}}</td>
                                        <td class="sid text-center">{{sampleDetail.uniqueSubjectId}}</td>
                                        <td class="sid text-center">{{sampleDetail.rchId}}</td>
                                        <td class="text-left">{{sampleDetail.associatedANM}}</td>
                                        <td class="mobile text-center">{{sampleDetail.barcodeNo}}</td>
                                        <td class="dartetimenew text-center">{{sampleDetail.sampleCollectionDateTime}}
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary" (click)="printShipment(shippedChcSampleDetail, shipment)">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-outline-primary" (click)="modal.dismiss()"><i class="flaticon-cancel-12"></i>
                            {{'Close' | translate }}</button>
                    </div>
                </div>
               
            </ng-template>
        </div>
        <!-- <div class="row mt-4">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item"><a class="page-link" href="notification.html">1</a></li>
                                    <li class="page-item"><a class="page-link" href="live-screener-entry.html">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="collection.html">3</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="Completed.html">4</a></li>
                                    <li class="page-item active"><a class="page-link" href="shipmentlog.html">5</a></li>
                                    <li class="page-item"><a class="page-link" href="profile.html">6</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->
    </div>
</div>
<!--  END CONTENT AREA  -->


<!--  END MAIN CONTAINER  -->
<i appLoadScript [script]="'assets/assets/js/anm-module/anm-shipmentlog.js'"></i>
<!-- <i appLoadScript [script]="'assets/plugins/flatpickr/pickandpacklist-flatpickr.js'"></i> -->
<!--<i appLoadScript [script]="'assets/plugins/noUiSlider/custom-nouiSlider.js'"></i>-->
<i appLoadScript [script]="'assets/assets/js/elements/custom-search.js'"></i>
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
<i appLoadScript [script]="'assets/assets/js/apps/printjs.js'"></i>
<!-- <i appLoadScript [script]="'assets/assets/js/print.js'"></i> -->
<i appLoadScript [script]="'assets/plugins/sweetalerts/custom-sweetalert.js'"></i>
